<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_Unit_Tiling_Search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,42}</string>
                <key>spriteSourceSize</key>
                <string>{199,42}</string>
                <key>textureRect</key>
                <string>{{49,1},{199,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Unit_Tiling_Search_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,41}</string>
                <key>spriteSourceSize</key>
                <string>{85,41}</string>
                <key>textureRect</key>
                <string>{{250,1},{85,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_base_gray_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{337,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Unit_Tiling_Search.png</string>
            <key>size</key>
            <string>{363,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e13753b2c99b511c9592dbf85c3ac42a:42eb32f302a6f1d1e0b7ac352c0d589e:7f38d0da00b2671d3954eaf05b7160a0$</string>
            <key>textureFileName</key>
            <string>Unit_Tiling_Search.png</string>
        </dict>
    </dict>
</plist>
