<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_jewel2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,398}</string>
                <key>spriteSourceSize</key>
                <string>{326,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{326,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_jewel2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{329,344},{123,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_jewel2023_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{632,344},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_jewel2023_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1399,344},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_jewel2023_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1479,344},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_jewel2023_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,175}</string>
                <key>spriteSourceSize</key>
                <string>{116,175}</string>
                <key>textureRect</key>
                <string>{{455,344},{116,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_jewel2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{927,344},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_jewel2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1024,344},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_jewel2023_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,95}</string>
                <key>textureRect</key>
                <string>{{830,344},{96,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_jewel2023_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1121,344},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_jewel2023_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1218,344},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_jewel2023_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{733,344},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_jewel2023_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1315,344},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_jewel2023_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1253,341}</string>
                <key>spriteSourceSize</key>
                <string>{1253,341}</string>
                <key>textureRect</key>
                <string>{{329,1},{1253,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_jewel2023.png</string>
            <key>size</key>
            <string>{1583,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd942ddbcf62ca6c28d1454392467cb0:6ba8068a2782686407a0ee2aeb103d96:da4de9202b010d702b84ba154d81130e$</string>
            <key>textureFileName</key>
            <string>atls_system_jewel2023.png</string>
        </dict>
    </dict>
</plist>
