<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{268,1},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{429,1},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{251,67},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,68}</string>
                <key>spriteSourceSize</key>
                <string>{89,68}</string>
                <key>textureRect</key>
                <string>{{338,1},{89,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,54}</string>
                <key>spriteSourceSize</key>
                <string>{77,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,55}</string>
                <key>spriteSourceSize</key>
                <string>{186,55}</string>
                <key>textureRect</key>
                <string>{{80,1},{186,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ability.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,69}</string>
                <key>spriteSourceSize</key>
                <string>{201,69}</string>
                <key>textureRect</key>
                <string>{{1,115},{201,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_AbilityOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,91}</string>
                <key>spriteSourceSize</key>
                <string>{184,91}</string>
                <key>textureRect</key>
                <string>{{323,72},{184,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,55}</string>
                <key>spriteSourceSize</key>
                <string>{248,55}</string>
                <key>textureRect</key>
                <string>{{1,58},{248,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AbilityOpenAnime.png</string>
            <key>size</key>
            <string>{508,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c02ad5ac0f84de2685327bfe75d8bb2d:e825ab839644acda3bec21966945e9b1:85106da8fbf68beec9bb8e22dbdb7a13$</string>
            <key>textureFileName</key>
            <string>AbilityOpenAnime.png</string>
        </dict>
    </dict>
</plist>
