<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_Guerrilla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{794,905},{113,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_comingsoon_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,155}</string>
                <key>spriteSourceSize</key>
                <string>{260,155}</string>
                <key>textureRect</key>
                <string>{{262,571},{258,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_comingsoon_p_safetycone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{259,855},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_comingsoon_p_safetyusagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,122}</string>
                <key>spriteSourceSize</key>
                <string>{103,122}</string>
                <key>textureRect</key>
                <string>{{670,916},{103,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_event_p_boss01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,66}</string>
                <key>spriteSourceSize</key>
                <string>{99,66}</string>
                <key>textureRect</key>
                <string>{{142,955},{99,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_boss02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{92,39}</string>
                <key>textureRect</key>
                <string>{{303,728},{92,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,156}</string>
                <key>spriteSourceSize</key>
                <string>{260,156}</string>
                <key>textureRect</key>
                <string>{{526,473},{258,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,83}</string>
                <key>spriteSourceSize</key>
                <string>{92,83}</string>
                <key>textureRect</key>
                <string>{{376,855},{92,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,155}</string>
                <key>spriteSourceSize</key>
                <string>{259,155}</string>
                <key>textureRect</key>
                <string>{{265,257},{259,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_dack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,122}</string>
                <key>spriteSourceSize</key>
                <string>{112,122}</string>
                <key>textureRect</key>
                <string>{{397,728},{112,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_lock_p_dack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{13,27}</string>
                <key>textureRect</key>
                <string>{{994,48},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{262,234}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{531,1},{262,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,59}</string>
                <key>spriteSourceSize</key>
                <string>{34,59}</string>
                <key>textureRect</key>
                <string>{{58,961},{34,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_alice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,73}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{470,842},{92,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_normal_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,152}</string>
                <key>textureRect</key>
                <string>{{522,631},{256,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,129}</string>
                <key>spriteSourceSize</key>
                <string>{113,129}</string>
                <key>textureRect</key>
                <string>{{580,785},{113,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_usagi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{12,29}</string>
                <key>textureRect</key>
                <string>{{1011,1},{12,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_boss01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,70}</string>
                <key>spriteSourceSize</key>
                <string>{136,70}</string>
                <key>textureRect</key>
                <string>{{259,783},{136,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_boss02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,49}</string>
                <key>spriteSourceSize</key>
                <string>{109,49}</string>
                <key>textureRect</key>
                <string>{{974,623},{109,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_boss03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{261,728},{53,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_boss04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{894,734},{53,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,155}</string>
                <key>spriteSourceSize</key>
                <string>{259,155}</string>
                <key>textureRect</key>
                <string>{{265,414},{259,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_dora.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{780,734},{66,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,15}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{1011,32},{8,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{62,55}</string>
                <key>textureRect</key>
                <string>{{1,961},{62,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{262,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,225},{262,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_mchine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{94,961},{58,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{521,785},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,155}</string>
                <key>spriteSourceSize</key>
                <string>{261,155}</string>
                <key>textureRect</key>
                <string>{{1,469},{259,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,103}</string>
                <key>spriteSourceSize</key>
                <string>{118,103}</string>
                <key>textureRect</key>
                <string>{{778,785},{118,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_rank_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{264,222}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_kirakira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{848,734},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_tower_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,155}</string>
                <key>spriteSourceSize</key>
                <string>{258,155}</string>
                <key>textureRect</key>
                <string>{{1,626},{258,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_Rising.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,70}</string>
                <key>spriteSourceSize</key>
                <string>{39,70}</string>
                <key>textureRect</key>
                <string>{{883,780},{39,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{74,30}</string>
                <key>textureRect</key>
                <string>{{991,125},{74,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_toweri_p_boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{976,542},{79,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_toweri_p_boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{545,841},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{262,254}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{267,1},{262,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,130}</string>
                <key>spriteSourceSize</key>
                <string>{174,130}</string>
                <key>textureRect</key>
                <string>{{1,785},{174,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fukidasi_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{795,250},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_glay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{786,570},{186,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{795,330},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{780,652},{186,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{795,410},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{795,168},{188,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{786,490},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_rank30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{262,234}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{531,237},{262,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_comingsoon_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,45}</string>
                <key>spriteSourceSize</key>
                <string>{214,45}</string>
                <key>textureRect</key>
                <string>{{795,1},{214,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_event_guerrilla_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,37}</string>
                <key>spriteSourceSize</key>
                <string>{180,37}</string>
                <key>textureRect</key>
                <string>{{985,201},{180,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_event_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,75}</string>
                <key>spriteSourceSize</key>
                <string>{152,75}</string>
                <key>textureRect</key>
                <string>{{243,948},{152,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_lock_freeplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,39}</string>
                <key>spriteSourceSize</key>
                <string>{127,39}</string>
                <key>textureRect</key>
                <string>{{695,785},{127,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_lock_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,76}</string>
                <key>spriteSourceSize</key>
                <string>{138,76}</string>
                <key>textureRect</key>
                <string>{{530,936},{138,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_normal_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,41}</string>
                <key>spriteSourceSize</key>
                <string>{194,41}</string>
                <key>textureRect</key>
                <string>{{795,125},{194,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_raid_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,82}</string>
                <key>spriteSourceSize</key>
                <string>{131,82}</string>
                <key>textureRect</key>
                <string>{{397,940},{131,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rank_aggregate_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{736,785},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_inSession_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,37}</string>
                <key>spriteSourceSize</key>
                <string>{90,37}</string>
                <key>textureRect</key>
                <string>{{337,855},{90,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,75}</string>
                <key>spriteSourceSize</key>
                <string>{197,75}</string>
                <key>textureRect</key>
                <string>{{795,48},{197,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rank_result_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,37}</string>
                <key>spriteSourceSize</key>
                <string>{157,37}</string>
                <key>textureRect</key>
                <string>{{985,383},{157,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_upcoming_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,40}</string>
                <key>spriteSourceSize</key>
                <string>{168,40}</string>
                <key>textureRect</key>
                <string>{{133,785},{168,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_toweri_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,82}</string>
                <key>spriteSourceSize</key>
                <string>{161,82}</string>
                <key>textureRect</key>
                <string>{{175,785},{161,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_questtype.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5023cc629fdd6dd9bb0c03281bab6ec1:6bccef1922226068ec8ff222f8c7e32d:3e5381a98de1699a189430713579e9ac$</string>
            <key>textureFileName</key>
            <string>quest_questtype.png</string>
        </dict>
    </dict>
</plist>
