<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_SpecialBanner_enigma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{75,59},{23,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_SpecialBanner_legion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{62,85},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_enigma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,32}</string>
                <key>spriteSourceSize</key>
                <string>{59,32}</string>
                <key>textureRect</key>
                <string>{{1,85},{59,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_enigma_White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,23}</string>
                <key>spriteSourceSize</key>
                <string>{42,23}</string>
                <key>textureRect</key>
                <string>{{77,34},{42,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_legion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{59,32}</string>
                <key>textureRect</key>
                <string>{{1,119},{55,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_legion_White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{42,23}</string>
                <key>textureRect</key>
                <string>{{58,139},{40,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_questtop_enigma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,32}</string>
                <key>textureRect</key>
                <string>{{87,84},{53,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_questtop_legion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{77,1},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_SpecialBanner_enigma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{74,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_SpecialBanner_legion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{74,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset-questtop_gbl.png</string>
            <key>size</key>
            <string>{126,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41fc1c6ef6e86502c9aac67afa532e69:3f7cf0b19c6a45c27ad11f6723c3d776:b7a321a7196092ddf7ee7969923c12cf$</string>
            <key>textureFileName</key>
            <string>asset-questtop_gbl.png</string>
        </dict>
    </dict>
</plist>
