<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bti_Quest_special_item_traversal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{394,187},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_special_item_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{119,242},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_special_item_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{171,242},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quet_event_info_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,186}</string>
                <key>spriteSourceSize</key>
                <string>{112,186}</string>
                <key>textureRect</key>
                <string>{{249,1},{112,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quet_top_tile_frame_L_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,202}</string>
                <key>spriteSourceSize</key>
                <string>{122,202}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quet_top_tile_frame_disable_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,184}</string>
                <key>spriteSourceSize</key>
                <string>{104,184}</string>
                <key>textureRect</key>
                <string>{{363,1},{104,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quet_top_tile_frame_s_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,202}</string>
                <key>spriteSourceSize</key>
                <string>{122,202}</string>
                <key>textureRect</key>
                <string>{{125,1},{122,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_QuestTop_daily_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,38}</string>
                <key>spriteSourceSize</key>
                <string>{221,38}</string>
                <key>textureRect</key>
                <string>{{234,233},{221,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_QuestTop_event_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,32}</string>
                <key>spriteSourceSize</key>
                <string>{116,32}</string>
                <key>textureRect</key>
                <string>{{1,242},{116,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_QuestTop_special_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,42}</string>
                <key>spriteSourceSize</key>
                <string>{143,42}</string>
                <key>textureRect</key>
                <string>{{249,189},{143,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_QuestTop_story_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,35}</string>
                <key>spriteSourceSize</key>
                <string>{231,35}</string>
                <key>textureRect</key>
                <string>{{1,205},{231,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Quest_Top_v6_9_0.png</string>
            <key>size</key>
            <string>{468,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa06229785b15be2cb6b53f42b7a661:4da24416f3cd92c378eae19ecab1b773:dc64c3795bd54e1a5b5f75db93d79350$</string>
            <key>textureFileName</key>
            <string>Quest_Top_v6_9_0.png</string>
        </dict>
    </dict>
</plist>
