<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ttia_ui_item01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{109,1},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{322,105},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{216,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{281,107},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{174,108},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{88,109},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{235,107},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,102}</string>
                <key>spriteSourceSize</key>
                <string>{103,102}</string>
                <key>textureRect</key>
                <string>{{322,1},{103,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1,109},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttia_ui_item04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dgi_ttia_ui_pic02.png</string>
            <key>size</key>
            <string>{426,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2632b847fcc4d45dada71ed8aaf8c68:a6edeb56417e8a2d0ffe025d07f5fdb5:74cc5d097d20b4c767404595f7df9ed4$</string>
            <key>textureFileName</key>
            <string>dgi_ttia_ui_pic02.png</string>
        </dict>
    </dict>
</plist>
