<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dgi_center_c_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{169,169}</string>
                <key>textureRect</key>
                <string>{{672,719},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_center_c_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{843,719},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_center_c_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{266,266}</string>
                <key>textureRect</key>
                <string>{{745,451},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_center_c_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,299}</string>
                <key>spriteSourceSize</key>
                <string>{299,299}</string>
                <key>textureRect</key>
                <string>{{371,633},{299,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_center_c_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,368}</string>
                <key>spriteSourceSize</key>
                <string>{365,368}</string>
                <key>textureRect</key>
                <string>{{1,633},{365,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_center_c_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,472}</string>
                <key>spriteSourceSize</key>
                <string>{472,472}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_center_c_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{475,1},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_ciecle_ttia01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{925,174},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_ciecle_ttia02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{925,88},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_ciecle_ttia03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{925,259},{83,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_ciecle_ttia04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{672,633},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_ciecle_ttia05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{925,344},{83,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_ciecle_ttia06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{925,1},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_ciecle_ttia07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{843,880},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_line01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,156}</string>
                <key>spriteSourceSize</key>
                <string>{742,156}</string>
                <key>textureRect</key>
                <string>{{1,475},{742,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dgi_ttia_ui_pic.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03fe3e338abfc89a70ae3617adcebc3a:3b8f216f8761e8d21c7294a76c072976:0a34448b92441595ba220182094fe394$</string>
            <key>textureFileName</key>
            <string>dgi_ttia_ui_pic.png</string>
        </dict>
    </dict>
</plist>
