<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_EnergyFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{323,1},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ExpFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{323,125},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FooterBtnBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,245},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_HeaderStage_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_HeaderStage_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WhiteBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,1}</string>
                <key>spriteSourceSize</key>
                <string>{306,1}</string>
                <key>textureRect</key>
                <string>{{510,1},{306,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,23}</string>
                <key>spriteSourceSize</key>
                <string>{11,23}</string>
                <key>textureRect</key>
                <string>{{497,1},{11,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_AddPoly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{447,113},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_header_bit_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{481,113},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_header_polygon_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{481,142},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Gacha_g_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,245},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Gacha_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,245},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Home_g_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,249},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Home_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,309},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Item_g_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,347},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Item_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,347},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Quest_g_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,347},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Quest_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,351},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Shop_g_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,411},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Shop_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,449},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Unit_g_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,449},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Unit_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,449},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_footer_tips_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,48}</string>
                <key>spriteSourceSize</key>
                <string>{110,48}</string>
                <key>textureRect</key>
                <string>{{447,1},{110,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_header_footer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c39ab8e35a0781378ea3d19221fab2a:4e841e3d9fd10cab9d9b723fe2c8d5cb:96a000fa69a948fad72dc0c67184521d$</string>
            <key>textureFileName</key>
            <string>atls_header_footer.png</string>
        </dict>
    </dict>
</plist>
