<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_gihtgetall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,70}</string>
                <key>spriteSourceSize</key>
                <string>{156,70}</string>
                <key>textureRect</key>
                <string>{{1,36},{156,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_giftbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_giftcaution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,52}</string>
                <key>spriteSourceSize</key>
                <string>{580,52}</string>
                <key>textureRect</key>
                <string>{{73,159},{580,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_received.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,32}</string>
                <key>spriteSourceSize</key>
                <string>{156,32}</string>
                <key>textureRect</key>
                <string>{{80,1},{156,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plist_gift.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e39f0e87a667a21f1fd3e9c00e9cf035:ac16a03ecaee46d6d98ffff73c780a52:e2f3e6cd2915d9c20c538acc738ee5a7$</string>
            <key>textureFileName</key>
            <string>plist_gift.png</string>
        </dict>
    </dict>
</plist>
