<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_monogatari2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{248,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_monogatari2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,165}</string>
                <key>spriteSourceSize</key>
                <string>{151,165}</string>
                <key>textureRect</key>
                <string>{{251,1},{151,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_monogatari2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{542,1},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_monogatari2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{418,112},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_monogatari2023_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{662,1},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_monogatari2023_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{537,120},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_monogatari2023_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{656,121},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_monogatari2023_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{776,121},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_monogatari2023_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{122,109}</string>
                <key>textureRect</key>
                <string>{{418,1},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_monogatari2023_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,113}</string>
                <key>spriteSourceSize</key>
                <string>{110,113}</string>
                <key>textureRect</key>
                <string>{{781,1},{110,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_monogatari2023_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{251,154},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_monogatari2023_ui_pic.png</string>
            <key>size</key>
            <string>{894,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be77a5f07318455fcf713be6a97e0779:2b45bd7c62cc85cdfe9f1593e8e9cb7e:f9b16c99417177ed7094c2dddacbd461$</string>
            <key>textureFileName</key>
            <string>atls_dgi_monogatari2023_ui_pic.png</string>
        </dict>
    </dict>
</plist>
