<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_enen01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{250,1057},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,87}</string>
                <key>spriteSourceSize</key>
                <string>{96,87}</string>
                <key>textureRect</key>
                <string>{{363,1152},{96,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{343,686},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,122}</string>
                <key>spriteSourceSize</key>
                <string>{123,122}</string>
                <key>textureRect</key>
                <string>{{317,812},{123,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,119}</string>
                <key>spriteSourceSize</key>
                <string>{126,119}</string>
                <key>textureRect</key>
                <string>{{317,936},{126,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{363,1057},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen_c0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,191}</string>
                <key>spriteSourceSize</key>
                <string>{162,191}</string>
                <key>textureRect</key>
                <string>{{343,493},{162,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen_c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,247}</string>
                <key>spriteSourceSize</key>
                <string>{247,247}</string>
                <key>textureRect</key>
                <string>{{1,1029},{247,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_enen_c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,340}</string>
                <key>spriteSourceSize</key>
                <string>{327,340}</string>
                <key>textureRect</key>
                <string>{{1,386},{327,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_enen_c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,385}</string>
                <key>spriteSourceSize</key>
                <string>{383,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{383,385}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_enen_c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,314}</string>
                <key>spriteSourceSize</key>
                <string>{312,314}</string>
                <key>textureRect</key>
                <string>{{1,715},{312,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_enen_shinra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,111}</string>
                <key>spriteSourceSize</key>
                <string>{490,111}</string>
                <key>textureRect</key>
                <string>{{388,1},{490,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_enen_ui_pic.png</string>
            <key>size</key>
            <string>{506,1277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9f566ca8bf39ed7a7ab424e9116c49f:81b7b12f4a39d51be64d72724aa4a2a6:6570e813991a30c09171e4841858b2ac$</string>
            <key>textureFileName</key>
            <string>atls_dgi_enen_ui_pic.png</string>
        </dict>
    </dict>
</plist>
