<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FieldEffect_Dome_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{184,127}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{1,126},{184,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FieldEffect_Dome_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{186,123}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{109,1},{186,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FieldEffect_Dome_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{196,125}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{297,1},{196,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FieldEffect_MCcommon_att_enemy_outside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{207,294},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FieldEffect_MCcommon_central.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{325,128},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FieldEffect_MCcommon_inside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FieldEffect_MCcommon_noise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{136,128}</string>
                <key>spriteSourceSize</key>
                <string>{136,130}</string>
                <key>textureRect</key>
                <string>{{187,128},{136,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FieldEffect_MCcommon_outside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{198,204}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,258},{198,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FieldEffect_MCcommon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d50dfec79000a32390c96d0d556d7eb0:2d7c0f689988b085e498d81d512074f1:9f9194aa3176e4add930cc8b8d4cfa84$</string>
            <key>textureFileName</key>
            <string>FieldEffect_MCcommon.png</string>
        </dict>
    </dict>
</plist>
