<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_item_supofesu2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,246}</string>
                <key>spriteSourceSize</key>
                <string>{292,246}</string>
                <key>textureRect</key>
                <string>{{1,375},{292,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_supofesu2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,372}</string>
                <key>spriteSourceSize</key>
                <string>{373,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{373,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_supofesu2023_ui_pic.png</string>
            <key>size</key>
            <string>{375,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e730d4caa09bae4cac6045fae8c506b:8e0d1653db2818dc5ed2803077ffe4ef:3eb75551a90f828516f4db7bac068797$</string>
            <key>textureFileName</key>
            <string>atls_dgi_supofesu2023_ui_pic.png</string>
        </dict>
    </dict>
</plist>
