<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_mk104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{246,126},{60,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_mk1801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,108}</string>
                <key>spriteSourceSize</key>
                <string>{107,108}</string>
                <key>textureRect</key>
                <string>{{1,340},{107,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_mk1802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{108,107}</string>
                <key>textureRect</key>
                <string>{{1,231},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_mk1803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{110,340},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_mk1810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{345,1},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_mk1810_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{246,31},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_mk1810_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,112}</string>
                <key>spriteSourceSize</key>
                <string>{111,112}</string>
                <key>textureRect</key>
                <string>{{132,31},{111,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_mk1816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{309,135},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_mk18Gclef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{1,120},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_mk18sharp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{112,144},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_mk18icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,87}</string>
                <key>spriteSourceSize</key>
                <string>{129,87}</string>
                <key>textureRect</key>
                <string>{{1,31},{129,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_bgitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,28}</string>
                <key>spriteSourceSize</key>
                <string>{342,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{342,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pex_fireworks_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{1,450},{59,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pex_fireworks_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{479,1},{31,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pfx_fireworks_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,45}</string>
                <key>spriteSourceSize</key>
                <string>{9,45}</string>
                <key>textureRect</key>
                <string>{{479,34},{9,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_mk18.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bef4ddf4cf7e3dcafc85a16cd41771e:fe2c6e8428fa2dd36802c4fff4344930:f7cd6b9d8541fa2b3f15c8fba8171a04$</string>
            <key>textureFileName</key>
            <string>system_mk18.png</string>
        </dict>
    </dict>
</plist>
