<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_Elec_valentine_choco_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{205,1575},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{205,1467},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{205,1347},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,33}</string>
                <key>spriteSize</key>
                <string>{202,254}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1347},{202,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,22}</string>
                <key>spriteSize</key>
                <string>{344,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{441,1327},{344,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{450,440}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{438,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,895},{438,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{440,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,443},{440,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{444,442}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,443},{444,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{440,436}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,1},{440,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Elec_valentine_choco_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{440,438}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,887},{440,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Elec_valentine_choco.png</string>
            <key>size</key>
            <string>{890,1672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0bf8b5793f665d22cd1bb2b7c8963c5:7e7e759170bd8e3e78556783e3937d7f:19a36ead14c495936c91717db55c28f7$</string>
            <key>textureFileName</key>
            <string>seq_Break_Elec_valentine_choco.png</string>
        </dict>
    </dict>
</plist>
