<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_Aqua_valentine_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,1555},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,1453},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,1341},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,32}</string>
                <key>spriteSize</key>
                <string>{200,252}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1341},{200,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-4}</string>
                <key>spriteSize</key>
                <string>{326,348}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,1313},{326,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Aqua_valentine_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{450,440}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{438,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,443},{438,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{440,444}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,895},{440,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{444,440}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{441,443},{444,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Aqua_valentine_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{440,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,1},{440,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Aqua_valentine_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{440,426}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,885},{440,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Aqua_Valentine.png</string>
            <key>size</key>
            <string>{888,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bdbcc35d29686ac0082a5e77b1cd257:b864d96f2daee5496cfe4d429992c471:f1251498e1b1daff9830783c3cb118e8$</string>
            <key>textureFileName</key>
            <string>seq_Break_Aqua_Valentine.png</string>
        </dict>
    </dict>
</plist>
