<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_Wood_valentine_choco_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{313,1351},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,1461},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,1351},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,33}</string>
                <key>spriteSize</key>
                <string>{200,254}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1351},{200,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,22}</string>
                <key>spriteSize</key>
                <string>{344,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{441,1325},{344,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{450,442}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,453},{450,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{444,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{440,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{447,1},{440,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{444,438}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,905},{444,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{440,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{445,453},{440,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Wood_valentine_choco_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{440,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{445,889},{440,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Wood_valentine_choco.png</string>
            <key>size</key>
            <string>{888,1670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21645ca4c18136da02b6ca5c7c356d3e:f6e7bcbfd33717273476c8547f1b3bd8:76dac0dbaa98f4aa4265fc1a89b5a7aa$</string>
            <key>textureFileName</key>
            <string>seq_Break_Wood_valentine_choco.png</string>
        </dict>
    </dict>
</plist>
