<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_Heart_valentine_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{329,1357},{100,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Heart_valentine_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{205,1465},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_valentine_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{205,1357},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_valentine_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,33}</string>
                <key>spriteSize</key>
                <string>{202,252}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1357},{202,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_valentine_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,21}</string>
                <key>spriteSize</key>
                <string>{344,398}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{429,1313},{344,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Heart_valentine_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{450,426}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,905},{450,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Heart_valentine_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{438,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,453},{438,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_valentine_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{440,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_valentine_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{444,438}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,1},{444,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_valentine_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{440,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,441},{440,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_valentine_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{440,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{441,877},{440,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Heart_Valentine.png</string>
            <key>size</key>
            <string>{888,1658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42130d8710793397999f65e60679eda9:3df99180cebad061e9c1f2c7dee54b21:5877bac35314364d91599d1e266da9ee$</string>
            <key>textureFileName</key>
            <string>seq_Break_Heart_Valentine.png</string>
        </dict>
    </dict>
</plist>
