<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_ojama_valentine_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{309,1347},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{201,1449},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{201,1347},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,33}</string>
                <key>spriteSize</key>
                <string>{198,254}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1347},{198,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,21}</string>
                <key>spriteSize</key>
                <string>{344,398}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{441,1313},{344,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_ojama_valentine_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{450,440}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{438,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,895},{438,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{440,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,443},{440,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{444,436}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,443},{444,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_ojama_valentine_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{440,430}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,1},{440,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_ojama_valentine_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{440,430}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{443,881},{440,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Ojama_Valentine.png</string>
            <key>size</key>
            <string>{888,1658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:622ebef282c6d33ec34dc83ce1aa0137:ae3b5a9237faa3d3cc2ac7017a56ad69:d8ae4d125a69e75bb0db9980e60b7674$</string>
            <key>textureFileName</key>
            <string>seq_Break_Ojama_Valentine.png</string>
        </dict>
    </dict>
</plist>
