<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pl_base_all_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{162,219},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_all_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{261,341},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{404,189},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{457,1},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_green_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{215,1},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pl_base_green_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{283,216},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pl_base_hert_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{336,1},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pl_base_hert_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{382,338},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pl_base_red_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{503,310},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_red_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{525,122},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,374},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_yellow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{40,219},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_base_yellow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{139,341},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_blast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{212,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_key01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{370,123},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_key02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{308,123},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{215,123},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_unlock_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,37}</string>
                <key>spriteSourceSize</key>
                <string>{153,37}</string>
                <key>textureRect</key>
                <string>{{1,219},{153,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panel_lock_block.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5d9fefdda3a5c6555b755a2400c2c24:84321de945f9dc429e13c59dd75b7ded:8d2f0594603596b4692041ba804235b3$</string>
            <key>textureFileName</key>
            <string>panel_lock_block.png</string>
        </dict>
    </dict>
</plist>
