<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_EnemyBuffDialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,37}</string>
                <key>spriteSourceSize</key>
                <string>{17,37}</string>
                <key>textureRect</key>
                <string>{{997,347},{17,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyInfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,130}</string>
                <key>spriteSourceSize</key>
                <string>{191,130}</string>
                <key>textureRect</key>
                <string>{{633,307},{191,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusBase_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,285}</string>
                <key>spriteSourceSize</key>
                <string>{100,285}</string>
                <key>textureRect</key>
                <string>{{634,1},{100,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_EnemyStatusBase_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,285}</string>
                <key>spriteSourceSize</key>
                <string>{100,285}</string>
                <key>textureRect</key>
                <string>{{921,1},{100,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusBase_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,285}</string>
                <key>spriteSourceSize</key>
                <string>{100,285}</string>
                <key>textureRect</key>
                <string>{{634,103},{100,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_EnemyStatusBase_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,285}</string>
                <key>spriteSourceSize</key>
                <string>{100,285}</string>
                <key>textureRect</key>
                <string>{{634,205},{100,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_EnemyStatusFrame_top_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,53}</string>
                <key>spriteSourceSize</key>
                <string>{631,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{631,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusFrame_top_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,53}</string>
                <key>spriteSourceSize</key>
                <string>{631,53}</string>
                <key>textureRect</key>
                <string>{{1,56},{631,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusFrame_top_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,53}</string>
                <key>spriteSourceSize</key>
                <string>{631,53}</string>
                <key>textureRect</key>
                <string>{{1,111},{631,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusFrame_top_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,53}</string>
                <key>spriteSourceSize</key>
                <string>{631,53}</string>
                <key>textureRect</key>
                <string>{{1,166},{631,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusFrame_under_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,48}</string>
                <key>spriteSourceSize</key>
                <string>{630,48}</string>
                <key>textureRect</key>
                <string>{{1,221},{630,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusFrame_under_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,48}</string>
                <key>spriteSourceSize</key>
                <string>{630,48}</string>
                <key>textureRect</key>
                <string>{{1,271},{630,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusFrame_under_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,48}</string>
                <key>spriteSourceSize</key>
                <string>{630,48}</string>
                <key>textureRect</key>
                <string>{{1,321},{630,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyStatusFrame_under_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,48}</string>
                <key>spriteSourceSize</key>
                <string>{630,48}</string>
                <key>textureRect</key>
                <string>{{1,371},{630,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_enemyinfo_NoCutin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{826,423},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_EnemyStatus_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{1,421},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_EnemyStatus_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{156,421},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_EnemyStatus_Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{311,421},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_EnemyStatus_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{466,421},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_EnrmyStatus_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{826,307},{114,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_wowow_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{921,288},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_wowow_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{621,439},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_wowow_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{723,439},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_wowow_Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{895,347},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyStatus.png</string>
            <key>size</key>
            <string>{1022,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b779463cfa1645321eceab87a67206d2:e5e6b8d26457daf4c61a4966dd7d68c7:62d9ba27555e859c9f26a69b84731486$</string>
            <key>textureFileName</key>
            <string>EnemyStatus.png</string>
        </dict>
    </dict>
</plist>
