<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_magic2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,84}</string>
                <key>textureRect</key>
                <string>{{1083,1119},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_magic2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,393}</string>
                <key>spriteSourceSize</key>
                <string>{394,393}</string>
                <key>textureRect</key>
                <string>{{1083,723},{394,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_magic2023_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,464}</string>
                <key>spriteSourceSize</key>
                <string>{483,464}</string>
                <key>textureRect</key>
                <string>{{598,723},{483,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_magic2023_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,595}</string>
                <key>spriteSourceSize</key>
                <string>{595,595}</string>
                <key>textureRect</key>
                <string>{{1,703},{595,595}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_magic2023_entrance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{919,700}</string>
                <key>spriteSourceSize</key>
                <string>{919,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{919,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_magic2023_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,428}</string>
                <key>spriteSize</key>
                <string>{720,630}</string>
                <key>spriteSourceSize</key>
                <string>{720,1486}</string>
                <key>textureRect</key>
                <string>{{922,1},{720,630}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_magic2023_ui_pic.png</string>
            <key>size</key>
            <string>{1553,1299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0403abea13a14eaaeb853df9a8653b1a:d180ae39c1b37bd796e223c411c23142:d2ec55f0d9e9a89c1ab2552a04e316a4$</string>
            <key>textureFileName</key>
            <string>atls_dgi_magic2023_ui_pic.png</string>
        </dict>
    </dict>
</plist>
