<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_PossessionKeyStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,42}</string>
                <key>spriteSourceSize</key>
                <string>{168,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_key_apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{201,1},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_key_bit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,65}</string>
                <key>textureRect</key>
                <string>{{118,45},{51,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_key_dack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{56,65}</string>
                <key>textureRect</key>
                <string>{{60,45},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_key_master.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{57,65}</string>
                <key>textureRect</key>
                <string>{{1,45},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_PossessionKey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,28}</string>
                <key>spriteSourceSize</key>
                <string>{91,28}</string>
                <key>textureRect</key>
                <string>{{171,1},{91,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PosessionKey.png</string>
            <key>size</key>
            <string>{252,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18dc63526e602d3d85f04508ad4757c:ef86775a8ed39f5e4d252df7646fe4cb:8489c00837b9412e289eecaf736d1ac8$</string>
            <key>textureFileName</key>
            <string>PosessionKey.png</string>
        </dict>
    </dict>
</plist>
