<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_toaru_L1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,147}</string>
                <key>spriteSourceSize</key>
                <string>{168,147}</string>
                <key>textureRect</key>
                <string>{{1,197},{168,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1,656},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{121,383},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{121,493},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{119,602},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{1,764},{100,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{109,711},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{171,197},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{171,259},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{171,321},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_toaru_senter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,194}</string>
                <key>spriteSourceSize</key>
                <string>{195,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_toaru_misaka_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{1,452},{100,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_toaru_misaka_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,116}</string>
                <key>textureRect</key>
                <string>{{1,554},{100,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_toaru_misaka_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{1,346},{104,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_toaru_plist.png</string>
            <key>size</key>
            <string>{232,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72a8a68930e07e18171c16ca71ccd8a2:caf7700433f7465aa175401b65a27d3e:3705e5f8f1074757b4fc9321de64b8f6$</string>
            <key>textureFileName</key>
            <string>system_toaru_plist.png</string>
        </dict>
    </dict>
</plist>
