<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_2Sort_left_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{229,541},{47,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_2Sort_left_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{230,489},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_2Sort_right_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{779,447},{47,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_2Sort_right_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{485,299},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidList_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{857,262},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidList_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{972,632},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_active1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,149}</string>
                <key>spriteSourceSize</key>
                <string>{298,149}</string>
                <key>textureRect</key>
                <string>{{1,100},{298,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_active1_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{200,437},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_active1_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{995,531},{25,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_bosslist_active1_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{995,558},{72,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_bosslist_active2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,199}</string>
                <key>spriteSourceSize</key>
                <string>{298,199}</string>
                <key>textureRect</key>
                <string>{{303,1},{298,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_active2_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{200,466},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_active2_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{999,502},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_active2_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,23}</string>
                <key>spriteSourceSize</key>
                <string>{67,23}</string>
                <key>textureRect</key>
                <string>{{832,237},{67,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_backColor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,145}</string>
                <key>spriteSourceSize</key>
                <string>{46,145}</string>
                <key>textureRect</key>
                <string>{{779,496},{46,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslist_fin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,106}</string>
                <key>spriteSourceSize</key>
                <string>{277,106}</string>
                <key>textureRect</key>
                <string>{{901,73},{277,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_bosslist_fin_grayout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,145}</string>
                <key>spriteSourceSize</key>
                <string>{46,145}</string>
                <key>textureRect</key>
                <string>{{827,560},{46,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_bosslist_fin_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,23}</string>
                <key>spriteSourceSize</key>
                <string>{84,23}</string>
                <key>textureRect</key>
                <string>{{832,262},{84,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_listLine_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1014,1},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_listLine_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1017,1},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidBoss_HPgage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{840,100},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raiditem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{44,612},{40,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bth_2Sort_left_off_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,53}</string>
                <key>spriteSourceSize</key>
                <string>{81,53}</string>
                <key>textureRect</key>
                <string>{{230,323},{81,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bth_2Sort_right_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,54}</string>
                <key>textureRect</key>
                <string>{{536,242},{70,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bth_2Sort_right_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,54}</string>
                <key>textureRect</key>
                <string>{{230,251},{70,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bth_2sort_left_on_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,52}</string>
                <key>spriteSourceSize</key>
                <string>{81,52}</string>
                <key>textureRect</key>
                <string>{{230,406},{81,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_BossResearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,70}</string>
                <key>spriteSourceSize</key>
                <string>{172,70}</string>
                <key>textureRect</key>
                <string>{{832,430},{172,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_RaidItemExchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,95}</string>
                <key>spriteSourceSize</key>
                <string>{233,95}</string>
                <key>textureRect</key>
                <string>{{301,202},{233,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_RaidList_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,140}</string>
                <key>spriteSourceSize</key>
                <string>{197,140}</string>
                <key>textureRect</key>
                <string>{{286,299},{197,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_RaidList_1_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,140}</string>
                <key>spriteSourceSize</key>
                <string>{197,140}</string>
                <key>textureRect</key>
                <string>{{1,437},{197,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_RaidPointReward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,106}</string>
                <key>spriteSourceSize</key>
                <string>{235,106}</string>
                <key>textureRect</key>
                <string>{{603,100},{235,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Raid_BackBossList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,97}</string>
                <key>spriteSourceSize</key>
                <string>{300,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Raid_CharangeBoss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,97}</string>
                <key>spriteSourceSize</key>
                <string>{296,97}</string>
                <key>textureRect</key>
                <string>{{603,1},{296,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bosslist_RankCheck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,135}</string>
                <key>spriteSourceSize</key>
                <string>{196,135}</string>
                <key>textureRect</key>
                <string>{{581,394},{196,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bosslist_RankCheck_2_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,135}</string>
                <key>spriteSourceSize</key>
                <string>{196,135}</string>
                <key>textureRect</key>
                <string>{{284,441},{196,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bosslist_attackboss_height_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,184}</string>
                <key>spriteSourceSize</key>
                <string>{227,184}</string>
                <key>textureRect</key>
                <string>{{603,208},{227,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bosslist_attackboss_height_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,184}</string>
                <key>spriteSourceSize</key>
                <string>{227,184}</string>
                <key>textureRect</key>
                <string>{{1,251},{227,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Ranktop_boosterticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,38}</string>
                <key>spriteSourceSize</key>
                <string>{65,38}</string>
                <key>textureRect</key>
                <string>{{536,202},{65,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Ranktop_raidkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{840,149},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_friendIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{1,612},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,71}</string>
                <key>spriteSourceSize</key>
                <string>{149,73}</string>
                <key>textureRect</key>
                <string>{{827,608},{143,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{485,351},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_myselfIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{535,314},{35,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_round_type.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{779,394},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_victoriy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,89}</string>
                <key>spriteSourceSize</key>
                <string>{157,91}</string>
                <key>textureRect</key>
                <string>{{482,457},{153,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_2Sort_left_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,27}</string>
                <key>spriteSourceSize</key>
                <string>{170,33}</string>
                <key>textureRect</key>
                <string>{{200,495},{170,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_2Sort_left_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,27}</string>
                <key>spriteSourceSize</key>
                <string>{170,33}</string>
                <key>textureRect</key>
                <string>{{827,502},{170,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_2Sort_right_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{78,31}</string>
                <key>spriteSourceSize</key>
                <string>{120,31}</string>
                <key>textureRect</key>
                <string>{{1,579},{78,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_2Sort_right_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{78,31}</string>
                <key>spriteSourceSize</key>
                <string>{120,31}</string>
                <key>textureRect</key>
                <string>{{81,579},{78,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_RaidList_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,27}</string>
                <key>spriteSourceSize</key>
                <string>{170,31}</string>
                <key>textureRect</key>
                <string>{{827,531},{166,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_RaidList_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{149,32}</string>
                <key>textureRect</key>
                <string>{{901,41},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_RaidList_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{191,76}</string>
                <key>spriteSourceSize</key>
                <string>{193,76}</string>
                <key>textureRect</key>
                <string>{{832,352},{191,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_bosslist_attackboss_height_off_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,36}</string>
                <key>spriteSourceSize</key>
                <string>{93,44}</string>
                <key>textureRect</key>
                <string>{{485,419},{93,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_bosslist_attackboss_height_off_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,31}</string>
                <key>spriteSourceSize</key>
                <string>{94,43}</string>
                <key>textureRect</key>
                <string>{{485,386},{94,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_bosslist_attackboss_height_off_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{111,38}</string>
                <key>spriteSourceSize</key>
                <string>{121,44}</string>
                <key>textureRect</key>
                <string>{{901,1},{111,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_bosslist_attackboss_height_off_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,26}</string>
                <key>spriteSourceSize</key>
                <string>{67,44}</string>
                <key>textureRect</key>
                <string>{{832,209},{67,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BossList.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e357a6b4fb351312c6d393c62b59db16:d057c5d9ce98fb27326e7b2ef8d136c1:9bbddc121006bb47ae62fcc8bd3307d2$</string>
            <key>textureFileName</key>
            <string>BossList.png</string>
        </dict>
    </dict>
</plist>
