<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_auto_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,13}</string>
                <key>spriteSourceSize</key>
                <string>{19,13}</string>
                <key>textureRect</key>
                <string>{{77,196},{19,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_base_clearparty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,93}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{115,95},{62,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_base_clearparty2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{1,149},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_unit_base_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{1,64},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_UpdateList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,59}</string>
                <key>textureRect</key>
                <string>{{120,1},{92,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_BugEF_short.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,19}</string>
                <key>spriteSourceSize</key>
                <string>{50,19}</string>
                <key>textureRect</key>
                <string>{{86,144},{50,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_bug_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,27}</string>
                <key>spriteSourceSize</key>
                <string>{38,27}</string>
                <key>textureRect</key>
                <string>{{86,64},{38,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_bugmax_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,27}</string>
                <key>spriteSourceSize</key>
                <string>{38,27}</string>
                <key>textureRect</key>
                <string>{{86,104},{38,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_deeplog_release_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{107,190},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_possession.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{141,190},{34,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clearparty_images.png</string>
            <key>size</key>
            <string>{180,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed960e8334122aaf4ecd3d68ac2eb8b:1e5e9467bbfc1a4b2e075c0dc703d8b1:2188d79699c709ff5a1c0fc0985b5547$</string>
            <key>textureFileName</key>
            <string>clearparty_images.png</string>
        </dict>
    </dict>
</plist>
