<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Virus_Compiler_01_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,202}</string>
                <key>spriteSourceSize</key>
                <string>{255,202}</string>
                <key>textureRect</key>
                <string>{{784,1},{255,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elm_BackLight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,186}</string>
                <key>spriteSourceSize</key>
                <string>{190,186}</string>
                <key>textureRect</key>
                <string>{{268,318},{190,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elm_energy_fire_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1050,216},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elm_ring_fire_001_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1745,1},{128,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paripari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,213}</string>
                <key>spriteSourceSize</key>
                <string>{115,213}</string>
                <key>textureRect</key>
                <string>{{988,1},{115,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1105,131},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{322,58}</string>
                <key>spriteSourceSize</key>
                <string>{328,66}</string>
                <key>textureRect</key>
                <string>{{127,1},{322,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_Elec_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,162}</string>
                <key>spriteSourceSize</key>
                <string>{223,162}</string>
                <key>textureRect</key>
                <string>{{456,317},{223,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_Elec_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,249}</string>
                <key>spriteSourceSize</key>
                <string>{250,249}</string>
                <key>textureRect</key>
                <string>{{713,259},{250,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_Elec_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,152}</string>
                <key>spriteSourceSize</key>
                <string>{254,152}</string>
                <key>textureRect</key>
                <string>{{1,357},{254,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_Elec_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{237,84}</string>
                <key>spriteSourceSize</key>
                <string>{237,86}</string>
                <key>textureRect</key>
                <string>{{964,258},{237,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_Elec_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,161}</string>
                <key>spriteSourceSize</key>
                <string>{301,161}</string>
                <key>textureRect</key>
                <string>{{373,1},{301,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_charge_gizagiza.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1180,376},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_charge_hikari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1105,1},{122,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_charge_toge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1745,123},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_error_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,56}</string>
                <key>textureRect</key>
                <string>{{565,259},{78,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_error_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,12}</string>
                <key>spriteSourceSize</key>
                <string>{67,12}</string>
                <key>textureRect</key>
                <string>{{373,304},{67,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_error_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,102}</string>
                <key>textureRect</key>
                <string>{{1180,251},{123,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_kaminari_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,120}</string>
                <key>textureRect</key>
                <string>{{1282,251},{512,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_kaminari_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,125}</string>
                <key>spriteSourceSize</key>
                <string>{514,125}</string>
                <key>textureRect</key>
                <string>{{1229,1},{514,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_kaminari_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,104}</string>
                <key>textureRect</key>
                <string>{{1304,373},{512,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_kaminari_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,121}</string>
                <key>spriteSourceSize</key>
                <string>{512,121}</string>
                <key>textureRect</key>
                <string>{{1229,128},{512,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_nisinsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,20}</string>
                <key>spriteSourceSize</key>
                <string>{99,20}</string>
                <key>textureRect</key>
                <string>{{456,481},{99,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_raito.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,354}</string>
                <key>spriteSourceSize</key>
                <string>{124,354}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_sikaku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{257,461},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_sikaku_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,7}</string>
                <key>spriteSourceSize</key>
                <string>{80,7}</string>
                <key>textureRect</key>
                <string>{{964,497},{80,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_sokudosen_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{315,184}</string>
                <key>spriteSourceSize</key>
                <string>{317,184}</string>
                <key>textureRect</key>
                <string>{{187,1},{315,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_sokudosen_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,246}</string>
                <key>textureRect</key>
                <string>{{536,1},{256,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,11}</string>
                <key>spriteSourceSize</key>
                <string>{76,11}</string>
                <key>textureRect</key>
                <string>{{557,494},{76,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_text_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,11}</string>
                <key>spriteSourceSize</key>
                <string>{121,11}</string>
                <key>textureRect</key>
                <string>{{442,304},{121,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_text_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,11}</string>
                <key>spriteSourceSize</key>
                <string>{62,11}</string>
                <key>textureRect</key>
                <string>{{645,481},{62,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_text_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,11}</string>
                <key>spriteSourceSize</key>
                <string>{41,11}</string>
                <key>textureRect</key>
                <string>{{536,259},{41,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_text_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,11}</string>
                <key>spriteSourceSize</key>
                <string>{86,11}</string>
                <key>textureRect</key>
                <string>{{557,481},{86,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_text_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,22}</string>
                <key>spriteSourceSize</key>
                <string>{87,22}</string>
                <key>textureRect</key>
                <string>{{179,325},{87,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_text_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,8}</string>
                <key>spriteSourceSize</key>
                <string>{110,8}</string>
                <key>textureRect</key>
                <string>{{257,349},{110,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_text_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,11}</string>
                <key>spriteSourceSize</key>
                <string>{76,11}</string>
                <key>textureRect</key>
                <string>{{635,494},{76,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skil_text_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,11}</string>
                <key>spriteSourceSize</key>
                <string>{24,11}</string>
                <key>textureRect</key>
                <string>{{166,325},{24,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_text_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,11}</string>
                <key>spriteSourceSize</key>
                <string>{26,11}</string>
                <key>textureRect</key>
                <string>{{127,325},{26,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_text_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,11}</string>
                <key>spriteSourceSize</key>
                <string>{26,11}</string>
                <key>textureRect</key>
                <string>{{140,325},{26,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_text_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,11}</string>
                <key>spriteSourceSize</key>
                <string>{25,11}</string>
                <key>textureRect</key>
                <string>{{153,325},{25,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skil_text_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,11}</string>
                <key>spriteSourceSize</key>
                <string>{32,11}</string>
                <key>textureRect</key>
                <string>{{549,259},{32,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>white_flare_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1050,346},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_skl_transform.png</string>
            <key>size</key>
            <string>{1874,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9cf54598d94a5af0309677206c1593:037f972632f6d31385f318c715113180:84d842a44031d2f765cd22849908aad8$</string>
            <key>textureFileName</key>
            <string>atls_skl_transform.png</string>
        </dict>
    </dict>
</plist>
