<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_BugEFList_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,545}</string>
                <key>spriteSourceSize</key>
                <string>{99,545}</string>
                <key>textureRect</key>
                <string>{{884,1},{99,545}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BugEFList_Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,86}</string>
                <key>spriteSourceSize</key>
                <string>{122,86}</string>
                <key>textureRect</key>
                <string>{{701,1},{122,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BugEFList_Base_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,93}</string>
                <key>spriteSourceSize</key>
                <string>{118,93}</string>
                <key>textureRect</key>
                <string>{{789,1},{118,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BugEFList_Flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{1335,102},{100,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BugEFList_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,74}</string>
                <key>spriteSourceSize</key>
                <string>{384,74}</string>
                <key>textureRect</key>
                <string>{{949,131},{384,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEF_Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,203}</string>
                <key>spriteSourceSize</key>
                <string>{588,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{588,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEF_Base_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{108,128}</string>
                <key>textureRect</key>
                <string>{{591,1},{108,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEF_UnitBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,79}</string>
                <key>spriteSourceSize</key>
                <string>{356,79}</string>
                <key>textureRect</key>
                <string>{{591,131},{356,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEF_unacquired.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{1140,102},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_BugEFList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,27}</string>
                <key>spriteSourceSize</key>
                <string>{254,27}</string>
                <key>textureRect</key>
                <string>{{884,102},{254,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BugEF.png</string>
            <key>size</key>
            <string>{1430,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a03c1c8d314ea02398bb1613d9fea050:135f16ec13914e1d22c50cfb09663476:a67f7daa91eea97ae5f945694fc3d1cc$</string>
            <key>textureFileName</key>
            <string>BugEF.png</string>
        </dict>
    </dict>
</plist>
