<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{89,289},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{89,377},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{177,200},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{200,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{200,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_KS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,197}</string>
                <key>spriteSourceSize</key>
                <string>{197,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{1,200},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_ce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{85,86}</string>
                <key>textureRect</key>
                <string>{{177,288},{85,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{237,437},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{177,437},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{238,376},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{177,376},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{296,435},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_td.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{1,289},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{1,378},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_wxp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{89,200},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_kyabetu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{1,467},{37,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_line_ksblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{67,467},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_line_ksgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,15}</string>
                <key>spriteSourceSize</key>
                <string>{26,15}</string>
                <key>textureRect</key>
                <string>{{50,467},{26,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_line_ksred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{78,495},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_line_ksyellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,15}</string>
                <key>spriteSourceSize</key>
                <string>{26,15}</string>
                <key>textureRect</key>
                <string>{{50,495},{26,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_KS.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:926cc90018c4fa52bf7dd1a12ef65af0:63edf0b18eee9abadf67c5126e132c7b:e2095db7b0c0ba84831504307f532675$</string>
            <key>textureFileName</key>
            <string>system_KS.png</string>
        </dict>
    </dict>
</plist>
