<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_18fa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_18fa01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{169,384},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_18fa02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{104,208},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_18fa03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{1,310},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_18fa04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{208,1},{45,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_18fa05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{1,394},{83,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_18fa06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{85,394},{83,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_18fa07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{104,296},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_18fa08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,208},{100,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgi_uihmbk_18fa.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:234b3175e2898fff5dfb0a3081509661:1ae50b6f6d497228119d461249645ece:bb0c7570beaef484d966c8bce23ef78b$</string>
            <key>textureFileName</key>
            <string>bgi_uihmbk_18fa.png</string>
        </dict>
    </dict>
</plist>
