<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_SpecialBanner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,152}</string>
                <key>spriteSourceSize</key>
                <string>{249,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{249,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_Traversal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{87,349},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_accesor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{110,349},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_exam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{133,349},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,67}</string>
                <key>spriteSourceSize</key>
                <string>{202,67}</string>
                <key>textureRect</key>
                <string>{{1,155},{202,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{1,367},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{26,367},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{156,349},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_SpecialBanner_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{179,347},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_Traversal_boss_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{161,312},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_Traversal_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{229,388},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_char02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{205,192},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{202,350},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_exam_p_char02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{65,268},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_multi_p_boss02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,33}</string>
                <key>spriteSourceSize</key>
                <string>{59,33}</string>
                <key>textureRect</key>
                <string>{{1,307},{59,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_multi_p_boss_White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,23}</string>
                <key>spriteSourceSize</key>
                <string>{43,23}</string>
                <key>textureRect</key>
                <string>{{1,342},{43,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_crow02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{62,312},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_crow_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{202,388},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rock_p_key02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{219,312},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_tower_p_char.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{194,312},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_tower_p_char02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{51,349},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_SpecialBanner_Raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,35}</string>
                <key>spriteSourceSize</key>
                <string>{47,35}</string>
                <key>textureRect</key>
                <string>{{205,155},{47,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_SpecialBanner_Ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{108,267},{68,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_Traversal_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,37}</string>
                <key>spriteSourceSize</key>
                <string>{62,37}</string>
                <key>textureRect</key>
                <string>{{1,268},{62,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_accessor_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,41}</string>
                <key>spriteSourceSize</key>
                <string>{87,41}</string>
                <key>textureRect</key>
                <string>{{108,224},{87,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_event_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{106,306},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_exam_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,42}</string>
                <key>textureRect</key>
                <string>{{1,224},{105,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rock_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,37}</string>
                <key>spriteSourceSize</key>
                <string>{63,37}</string>
                <key>textureRect</key>
                <string>{{178,273},{63,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_toweri_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{197,230},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_SpecialBanner.png</string>
            <key>size</key>
            <string>{253,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8528d0ee54cd728b61a26d1fad7bd826:a6fec8499dc75ed46acd97a3b19a8c8c:e8bbd7dadd0f9052d561e18ebcdb86b7$</string>
            <key>textureFileName</key>
            <string>quest_SpecialBanner.png</string>
        </dict>
    </dict>
</plist>
