<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_extend_arrow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{132,97},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_extend_arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{170,97},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_extend_defense1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,94}</string>
                <key>spriteSourceSize</key>
                <string>{85,94}</string>
                <key>textureRect</key>
                <string>{{132,1},{85,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_defense2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,94}</string>
                <key>spriteSourceSize</key>
                <string>{85,94}</string>
                <key>textureRect</key>
                <string>{{219,1},{85,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_defense_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{306,61},{33,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_extend_defense_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{268,97},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_defense_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{242,97},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_defense_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{208,97},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_defense_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{293,97},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_defense_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{317,96},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_defense_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{341,95},{32,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_extend_hourglass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{306,1},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_hourglass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{356,1},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_hourglass_Debris1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{331,61},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_hourglass_Debris2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,21}</string>
                <key>spriteSourceSize</key>
                <string>{44,21}</string>
                <key>textureRect</key>
                <string>{{406,1},{44,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_extend_hourglass_Debris3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,22}</string>
                <key>textureRect</key>
                <string>{{366,101},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_hourglass_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{381,61},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,126}</string>
                <key>spriteSourceSize</key>
                <string>{129,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_extend_sand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{3,3}</string>
                <key>textureRect</key>
                <string>{{421,47},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skl_extend.png</string>
            <key>size</key>
            <string>{428,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee2ffe45986f32042b1719f5d2ace2cd:0bc180df73983463d60016d5046762ea:f37634293b3fec87b35af7f39c5f41d5$</string>
            <key>textureFileName</key>
            <string>skl_extend.png</string>
        </dict>
    </dict>
</plist>
