<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_infoLine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,23},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,45},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,67},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,89},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,111},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_attackBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{44,133},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_discoveredBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{1,180},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_joinedBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{1,133},{45,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_mvpBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{75,174},{39,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_secondBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{85,133},{39,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_timeBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{41,180},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Remuneration.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334f08af84d01bd0ccb0831844048340:2765ebe1e92cf6c7c46eb15abd3aa8cc:08be138988075c9a419207783f0831da$</string>
            <key>textureFileName</key>
            <string>Remuneration.png</string>
        </dict>
    </dict>
</plist>
