<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_RaidRewardList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,26}</string>
                <key>spriteSourceSize</key>
                <string>{177,26}</string>
                <key>textureRect</key>
                <string>{{1,133},{177,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,23},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,45},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,67},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,89},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_infoLine6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,20}</string>
                <key>spriteSourceSize</key>
                <string>{239,20}</string>
                <key>textureRect</key>
                <string>{{1,111},{239,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_CopperComet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{180,133},{100,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_GoldComet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,161},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_RaidPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{101,161},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_SilverComet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,243},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_attackBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{192,269},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_discoveredBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{148,235},{38,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_friendBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{97,255},{41,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_joinedBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{101,212},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_mvpBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{140,275},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_secondBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{97,291},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_timeBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{192,235},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Remuneration.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:686cbb26b6a562a9a579bad89d533150:c18231285cbab75eaf03320ff185cbd3:08be138988075c9a419207783f0831da$</string>
            <key>textureFileName</key>
            <string>Remuneration.png</string>
        </dict>
    </dict>
</plist>
