<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Message_Hukidashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,227}</string>
                <key>spriteSourceSize</key>
                <string>{362,227}</string>
                <key>textureRect</key>
                <string>{{643,1},{362,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,31}</string>
                <key>spriteSourceSize</key>
                <string>{195,31}</string>
                <key>textureRect</key>
                <string>{{1,324},{195,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidPeriod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,69}</string>
                <key>spriteSourceSize</key>
                <string>{640,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQUest_Participation_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{395,286},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQuiest_Participation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{632,306},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQuist_Description.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,72}</string>
                <key>spriteSourceSize</key>
                <string>{413,72}</string>
                <key>textureRect</key>
                <string>{{1,72},{413,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQuist_Description_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,72}</string>
                <key>spriteSourceSize</key>
                <string>{413,72}</string>
                <key>textureRect</key>
                <string>{{1,146},{413,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidStore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{1,543},{100,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Undeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,16}</string>
                <key>spriteSourceSize</key>
                <string>{216,16}</string>
                <key>textureRect</key>
                <string>{{1007,1},{216,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_View_RaidPresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,91}</string>
                <key>spriteSourceSize</key>
                <string>{189,91}</string>
                <key>textureRect</key>
                <string>{{1,357},{189,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_View_RaidRanking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,91}</string>
                <key>spriteSourceSize</key>
                <string>{189,91}</string>
                <key>textureRect</key>
                <string>{{1,450},{189,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lockmar_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{198,324},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lockmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{73,81}</string>
                <key>textureRect</key>
                <string>{{301,516},{73,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_lockmarl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,212}</string>
                <key>spriteSourceSize</key>
                <string>{214,212}</string>
                <key>textureRect</key>
                <string>{{416,72},{214,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raid_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,124}</string>
                <key>spriteSourceSize</key>
                <string>{111,124}</string>
                <key>textureRect</key>
                <string>{{890,291},{111,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_rankopen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,95}</string>
                <key>spriteSourceSize</key>
                <string>{166,95}</string>
                <key>textureRect</key>
                <string>{{840,475},{166,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raid_itemstore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,102}</string>
                <key>spriteSourceSize</key>
                <string>{392,102}</string>
                <key>textureRect</key>
                <string>{{1,220},{392,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,79}</string>
                <key>spriteSourceSize</key>
                <string>{38,79}</string>
                <key>textureRect</key>
                <string>{{106,543},{38,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Hukidashi_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{187,571},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_RaidCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{603,474},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_RaidQuest_about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,74}</string>
                <key>spriteSourceSize</key>
                <string>{258,76}</string>
                <key>textureRect</key>
                <string>{{632,230},{256,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_UsagichanClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{116,70}</string>
                <key>spriteSourceSize</key>
                <string>{118,72}</string>
                <key>textureRect</key>
                <string>{{558,496},{116,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Aggregating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,60}</string>
                <key>spriteSourceSize</key>
                <string>{172,60}</string>
                <key>textureRect</key>
                <string>{{840,413},{172,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Countdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{105,28}</string>
                <key>spriteSourceSize</key>
                <string>{123,30}</string>
                <key>textureRect</key>
                <string>{{384,578},{105,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_EXBattle_Remaining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{78,28}</string>
                <key>textureRect</key>
                <string>{{603,396},{76,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,27}</string>
                <key>spriteSourceSize</key>
                <string>{110,27}</string>
                <key>textureRect</key>
                <string>{{603,286},{108,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Participatiion_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,59}</string>
                <key>spriteSourceSize</key>
                <string>{132,63}</string>
                <key>textureRect</key>
                <string>{{890,230},{132,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Participation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{390,494},{166,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Remaining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,45}</string>
                <key>spriteSourceSize</key>
                <string>{104,47}</string>
                <key>textureRect</key>
                <string>{{491,578},{104,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_View_RaidPresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,48}</string>
                <key>spriteSourceSize</key>
                <string>{105,56}</string>
                <key>textureRect</key>
                <string>{{840,306},{105,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_View_RaidRanking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{107,53}</string>
                <key>spriteSourceSize</key>
                <string>{127,57}</string>
                <key>textureRect</key>
                <string>{{192,516},{107,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RaidQuest.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1d0459e51fa2be09a5943f1568e88d7:a86bbf9241231c4a38733c8502091a6c:617081397a703663056f0e125a24ca9e$</string>
            <key>textureFileName</key>
            <string>RaidQuest.png</string>
        </dict>
    </dict>
</plist>
