<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>antennae1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,139}</string>
                <key>spriteSourceSize</key>
                <string>{58,139}</string>
                <key>textureRect</key>
                <string>{{487,941},{58,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>antennae2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,504}</string>
                <key>spriteSourceSize</key>
                <string>{285,504}</string>
                <key>textureRect</key>
                <string>{{525,1},{285,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_uni.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,276}</string>
                <key>spriteSourceSize</key>
                <string>{201,276}</string>
                <key>textureRect</key>
                <string>{{487,507},{201,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uni_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,110}</string>
                <key>spriteSourceSize</key>
                <string>{252,110}</string>
                <key>textureRect</key>
                <string>{{690,507},{252,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uni_body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,484}</string>
                <key>spriteSourceSize</key>
                <string>{522,484}</string>
                <key>textureRect</key>
                <string>{{1,1},{522,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uni_body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,484}</string>
                <key>spriteSourceSize</key>
                <string>{522,484}</string>
                <key>textureRect</key>
                <string>{{1,487},{522,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uni_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,154}</string>
                <key>spriteSourceSize</key>
                <string>{530,154}</string>
                <key>textureRect</key>
                <string>{{812,1},{530,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uni_hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,154}</string>
                <key>spriteSourceSize</key>
                <string>{530,154}</string>
                <key>textureRect</key>
                <string>{{487,785},{530,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uni_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,105}</string>
                <key>spriteSourceSize</key>
                <string>{118,105}</string>
                <key>textureRect</key>
                <string>{{802,533},{118,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uni_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,117}</string>
                <key>spriteSourceSize</key>
                <string>{79,117}</string>
                <key>textureRect</key>
                <string>{{802,640},{79,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>universe2.png</string>
            <key>size</key>
            <string>{1018,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:321d968f68fd84ffb68fa0e9d669d92c:5d1c53d51f612004151adb04f6421f8c:2963c33aede0d0311d7114b06032a4f1$</string>
            <key>textureFileName</key>
            <string>universe2.png</string>
        </dict>
    </dict>
</plist>
