<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stardust.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,1597}</string>
                <key>spriteSourceSize</key>
                <string>{722,1597}</string>
                <key>textureRect</key>
                <string>{{1,1},{722,1597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uni_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,1597}</string>
                <key>spriteSourceSize</key>
                <string>{722,1597}</string>
                <key>textureRect</key>
                <string>{{1,725},{722,1597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uni_grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,1107}</string>
                <key>spriteSourceSize</key>
                <string>{722,1107}</string>
                <key>textureRect</key>
                <string>{{1,1449},{722,1107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>universe3.png</string>
            <key>size</key>
            <string>{1599,2172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4037c1cc165814d8c67a13acc53d3e75:23c6474da5f91c7166374ccbc73a227d:48fb4d478ca6f7f2917bbe9dcd149c7e$</string>
            <key>textureFileName</key>
            <string>universe3.png</string>
        </dict>
    </dict>
</plist>
