<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1778.0,1657.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>panel_hm_blue.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Panel_hm_blue.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{647.0,1477.0},{90.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1358.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00000.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{180.0,180.0},{90.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{706.0,1346.0},{90.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{94.0,94.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{178.0,178.0},{94.0,94.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{551.0,1539.0},{94.0,94.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,100.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{175.0,175.0},{99.0,100.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{450.0,1539.0},{99.0,100.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{104.0,104.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{173.0,173.0},{104.0,104.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{344.0,1543.0},{104.0,104.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{110.0,110.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{170.0,170.0},{110.0,110.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,1543.0},{110.0,110.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{129.0,129.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{160.0,160.0},{129.0,129.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{575.0,1346.0},{129.0,129.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{167.0,179.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{141.0,129.0},{167.0,179.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{406.0,1358.0},{167.0,179.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{172.0,183.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{139.0,127.0},{172.0,183.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,1358.0},{172.0,183.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{318.0,316.0}</string>
            <key>spriteOffset</key>
            <string>{-23.0,9.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{43.0,58.0},{318.0,316.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{880.0,1323.0},{318.0,316.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{411.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{19.5,15.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{39.0,6.0},{411.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1321.0,1233.0},{411.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00010.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,437.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,437.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{441.0,454.0},{450.0,437.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00011.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{437.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,454.0},{437.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{436.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-7.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{436.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,906.0},{436.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00013.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,438.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{438.0,438.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{440.0,906.0},{438.0,438.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,430.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,8.0},{439.0,430.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,2.0},{439.0,430.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00015.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,428.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,10.0},{439.0,428.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{880.0,893.0},{439.0,428.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00016.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{440.0,421.0}</string>
            <key>spriteOffset</key>
            <string>{-5.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,15.0},{440.0,421.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{893.0,434.0},{440.0,421.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00017.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,416.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,19.0},{439.0,416.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{895.0,2.0},{439.0,416.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00018.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{437.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1336.0,413.0},{437.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00019.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{437.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1335.0,823.0},{437.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00020.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,409.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{438.0,409.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1336.0,2.0},{438.0,409.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_blue_00021.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
