<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1734.0,2020.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>panel_hm_red.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Panel_hm_red.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{89.0,89.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{89.0,89.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{89.0,89.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{886.0,1866.0},{89.0,89.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1785.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00000.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{89.0,89.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{181.0,181.0},{89.0,89.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{804.0,1775.0},{89.0,89.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{94.0,94.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{178.0,178.0},{94.0,94.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{790.0,1875.0},{94.0,94.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{98.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{176.0,176.0},{98.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{704.0,1775.0},{98.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{104.0,104.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{173.0,173.0},{104.0,104.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{684.0,1906.0},{104.0,104.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{109.0,110.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{171.0,170.0},{109.0,110.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{573.0,1906.0},{109.0,110.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{129.0,129.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{160.0,160.0},{129.0,129.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{573.0,1775.0},{129.0,129.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{166.0,181.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,5.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{142.0,129.0},{166.0,181.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{405.0,1785.0},{166.0,181.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{171.0,186.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{140.0,126.0},{171.0,186.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,1785.0},{171.0,186.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{334.0,342.0}</string>
            <key>spriteOffset</key>
            <string>{-17.0,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{41.0,58.0},{334.0,342.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1335.0,2.0},{334.0,342.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{411.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{19.5,15.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{39.0,6.0},{411.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1319.0,414.0},{411.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00010.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,437.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,437.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,906.0},{450.0,437.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00011.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{438.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,454.0},{438.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{436.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-7.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{436.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{442.0,454.0},{436.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00013.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,438.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{438.0,438.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1345.0},{438.0,438.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,442.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,8.0},{439.0,442.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,2.0},{439.0,442.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00015.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,428.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,10.0},{439.0,428.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{442.0,1345.0},{439.0,428.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00016.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{440.0,423.0}</string>
            <key>spriteOffset</key>
            <string>{-5.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,15.0},{440.0,423.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,906.0},{440.0,423.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00017.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{440.0,417.0}</string>
            <key>spriteOffset</key>
            <string>{-5.0,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,19.0},{440.0,417.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{883.0,1331.0},{440.0,417.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00018.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,411.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,22.0},{437.0,411.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{880.0,446.0},{437.0,411.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00019.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,409.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{437.0,409.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{896.0,859.0},{437.0,409.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00020.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,410.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,-3.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{438.0,410.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{895.0,2.0},{438.0,410.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_red_00021.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
