<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1738.0,1730.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>panel_hm_yellow.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Panel_hm_yellow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1632.0,763.0},{90.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1344.0,342.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00000.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{180.0,180.0},{90.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1540.0,763.0},{90.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{94.0,94.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{178.0,178.0},{94.0,94.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1333.0,864.0},{94.0,94.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,100.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{175.0,175.0},{99.0,100.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1439.0,763.0},{99.0,100.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{104.0,104.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{173.0,173.0},{104.0,104.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1333.0,758.0},{104.0,104.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{110.0,110.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{170.0,170.0},{110.0,110.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1574.0,473.0},{110.0,110.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{129.0,129.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{160.0,160.0},{129.0,129.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1574.0,342.0},{129.0,129.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{166.0,176.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{142.0,131.0},{166.0,176.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1507.0,585.0},{166.0,176.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{172.0,184.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{139.0,127.0},{172.0,184.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1333.0,572.0},{172.0,184.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{319.0,338.0}</string>
            <key>spriteOffset</key>
            <string>{-23.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{42.0,58.0},{319.0,338.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1344.0,2.0},{319.0,338.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{411.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{19.5,15.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{39.0,6.0},{411.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1323.0,1316.0},{411.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00010.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,437.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,437.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,2.0},{450.0,437.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00011.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{436.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,0.0},{436.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,441.0},{436.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{436.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-7.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{436.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{906.0,2.0},{436.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00013.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,437.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{438.0,437.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,454.0},{438.0,437.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,430.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,8.0},{439.0,430.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{892.0,454.0},{439.0,430.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00015.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,428.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,10.0},{439.0,428.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{892.0,886.0},{439.0,428.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00016.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{440.0,423.0}</string>
            <key>spriteOffset</key>
            <string>{-5.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,15.0},{440.0,423.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,893.0},{440.0,423.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00017.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,416.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,19.0},{439.0,416.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{444.0,893.0},{439.0,416.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00018.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{437.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1318.0},{437.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00019.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{437.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{884.0,1316.0},{437.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00020.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,409.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{438.0,409.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{444.0,1311.0},{438.0,409.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_yellow_00021.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
