<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1805.0,2030.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>panel_hm_bomb.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Panel_hm_bomb.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{152.0,152.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{152.0,152.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{152.0,152.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1045.0,1801.0},{152.0,152.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{449.0,1798.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00000.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{152.0,152.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{149.0,149.0},{152.0,152.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1199.0,1801.0},{152.0,152.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{160.0,160.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{145.0,145.0},{160.0,160.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{883.0,1801.0},{160.0,160.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{168.0,168.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{141.0,141.0},{168.0,168.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1353.0,1788.0},{168.0,168.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{178.0,178.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{136.0,136.0},{178.0,178.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{192.0,1803.0},{178.0,178.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{188.0,188.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{131.0,131.0},{188.0,188.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1803.0},{188.0,188.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{202.0,199.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{122.0,126.0},{202.0,199.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{679.0,1798.0},{202.0,199.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{255.0,257.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,5.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{98.0,91.0},{255.0,257.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1357.0,292.0},{255.0,257.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{265.0,288.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,17.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{92.0,64.0},{265.0,288.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1357.0,2.0},{265.0,288.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{394.0,438.0}</string>
            <key>spriteOffset</key>
            <string>{9.0,4.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{37.0,2.0},{394.0,438.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1354.0,894.0},{394.0,438.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{449.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,0.0},{449.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{906.0,2.0},{449.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00010.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,454.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00011.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{450.0,906.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,2.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00013.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{902.0,897.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{449.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{449.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{902.0,1349.0},{449.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00015.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{445.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-2.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{445.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1351.0},{445.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00016.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{446.0,443.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,3.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{446.0,443.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,906.0},{446.0,443.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00017.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{449.0,441.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,4.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{449.0,441.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,454.0},{449.0,441.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00018.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{448.0,438.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{448.0,438.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{449.0,1358.0},{448.0,438.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00019.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{448.0,437.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{448.0,437.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1353.0,1349.0},{448.0,437.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00020.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,438.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,438.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{905.0,454.0},{450.0,438.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_bomb_00021.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
