<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1776.0,1724.0}</string>
        <key>name</key>
        <string>Untitled 2</string>
        <key>textureFileName</key>
        <string>panel_hm_green.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Panel_hm_green.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{660.0,1531.0},{90.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{883.0,1323.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00000.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{180.0,180.0},{90.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{675.0,1333.0},{90.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{94.0,94.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{178.0,178.0},{94.0,94.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{660.0,1435.0},{94.0,94.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{100.0,100.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{175.0,175.0},{100.0,100.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{573.0,1333.0},{100.0,100.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{104.0,104.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{173.0,173.0},{104.0,104.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{554.0,1464.0},{104.0,104.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{110.0,110.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{170.0,170.0},{110.0,110.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{442.0,1464.0},{110.0,110.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{129.0,129.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{160.0,160.0},{129.0,129.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{442.0,1333.0},{129.0,129.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{166.0,179.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{142.0,129.0},{166.0,179.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1113.0,1509.0},{166.0,179.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{172.0,184.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,7.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{139.0,126.0},{172.0,184.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1113.0,1323.0},{172.0,184.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{319.0,340.0}</string>
            <key>spriteOffset</key>
            <string>{-23.5,-3.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{42.0,58.0},{319.0,340.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1332.0,1281.0},{319.0,340.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{411.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{19.5,15.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{39.0,6.0},{411.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1347.0,2.0},{411.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00010.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,437.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,437.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,2.0},{450.0,437.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00011.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{438.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{454.0,441.0},{438.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{436.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{-7.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{436.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{894.0,871.0},{436.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00013.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,438.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,6.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{438.0,438.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{443.0,893.0},{438.0,438.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,430.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,8.0},{439.0,430.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,879.0},{439.0,430.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00015.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,428.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,10.0},{439.0,428.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{894.0,441.0},{439.0,428.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00016.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{440.0,423.0}</string>
            <key>spriteOffset</key>
            <string>{-5.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,15.0},{440.0,423.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,454.0},{440.0,423.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00017.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{439.0,416.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,19.0},{439.0,416.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{906.0,2.0},{439.0,416.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00018.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{437.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1335.0,420.0},{437.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00019.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{437.0,408.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{437.0,408.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1332.0,871.0},{437.0,408.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00020.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{438.0,409.0}</string>
            <key>spriteOffset</key>
            <string>{-6.0,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,23.0},{438.0,409.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1311.0},{438.0,409.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>seq_hm_green_00021.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{450.0,450.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{450.0,450.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{450.0,450.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
