<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_6th_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,264}</string>
                <key>spriteSourceSize</key>
                <string>{271,264}</string>
                <key>textureRect</key>
                <string>{{1,421},{271,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_6th_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,312}</string>
                <key>spriteSourceSize</key>
                <string>{309,312}</string>
                <key>textureRect</key>
                <string>{{419,364},{309,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_6th_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,117}</string>
                <key>spriteSourceSize</key>
                <string>{148,117}</string>
                <key>textureRect</key>
                <string>{{730,364},{148,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_6th_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,361}</string>
                <key>spriteSourceSize</key>
                <string>{362,361}</string>
                <key>textureRect</key>
                <string>{{419,1},{362,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_6th_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{783,169},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_6th_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,416}</string>
                <key>spriteSourceSize</key>
                <string>{418,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{418,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_6th_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{783,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_6th_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{783,85},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_6th_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{730,514},{83,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_6th_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{730,599},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_6th_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{274,421},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_6th_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{274,506},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_6th_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{274,591},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_6th.png</string>
            <key>size</key>
            <string>{866,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078c04e832513813a20bc71c4679b46c:bb6327346f08496def1b0956d0951b09:0023a2857ac4e8db65514d6b339edb64$</string>
            <key>textureFileName</key>
            <string>atls_system_6th.png</string>
        </dict>
    </dict>
</plist>
