<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_center_hwmoon_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,171}</string>
                <key>spriteSourceSize</key>
                <string>{171,171}</string>
                <key>textureRect</key>
                <string>{{184,1},{171,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_hwmoonc_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{162,152}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{357,1},{162,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_hwcandy1_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{112,177},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcandy2_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{176,174},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcap_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{112,113},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwhk_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{1,113},{108,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_hwjery_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,223},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwkoumori_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{345,206},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwkumo_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{455,206},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwmoon_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{111,240},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwobake_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{286,174},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwpumpkin_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{173,284},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_center2_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,39}</string>
                <key>spriteSourceSize</key>
                <string>{124,39}</string>
                <key>textureRect</key>
                <string>{{357,165},{124,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_hwjery_hw20_noon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,110}</string>
                <key>spriteSourceSize</key>
                <string>{181,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_hw20_noon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b0c3e8cf81b71b0dd523d1b6983c490:e50bd061c39ce7165177e40c84755772:c8087aded0609a8191d1eb3ceb05cb91$</string>
            <key>textureFileName</key>
            <string>system_hw20_noon.png</string>
        </dict>
    </dict>
</plist>
