<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Quest_TransitionButton_Item_v6_9_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1,100},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Quest_TransitionButton_MissionItem_v6_9_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,37}</string>
			<key>spriteSourceSize</key>
			<string>{64,37}</string>
			<key>textureRect</key>
			<string>{{111,145},{64,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tit_Quest_TransitionButton_Defrag.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,92}</string>
			<key>spriteSourceSize</key>
			<string>{84,92}</string>
			<key>textureRect</key>
			<string>{{126,1},{84,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tit_Quest_TransitionButton_Exchange_v6_9_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,43}</string>
			<key>spriteSourceSize</key>
			<string>{87,43}</string>
			<key>textureRect</key>
			<string>{{111,100},{87,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tit_Quest_TransitionButton_Mission_v6_9_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{123,97}</string>
			<key>spriteSourceSize</key>
			<string>{123,97}</string>
			<key>textureRect</key>
			<string>{{1,1},{123,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Quest_TransitionButton_v6_9_0.png</string>
		<key>size</key>
		<string>{211,209}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:957d2ac735892877aaecd9883fe24518:76eac7aacd6d40e0effc854c0b66bc67:e8bbd7dadd0f9052d561e18ebcdb86b7$</string>
		<key>textureFileName</key>
		<string>Quest_TransitionButton_v6_9_0.png</string>
	</dict>
</dict>
</plist>
