<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bgi_Ranktop_Frame.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{582,411}</string>
			<key>spriteSourceSize</key>
			<string>{582,411}</string>
			<key>textureRect</key>
			<string>{{1,1},{582,411}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bgi_Ranktop_btn_challenge.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{360,112}</string>
			<key>spriteSourceSize</key>
			<string>{360,112}</string>
			<key>textureRect</key>
			<string>{{585,1},{360,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bgi_Ranktop_btn_challenge_Disable.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,103}</string>
			<key>spriteSourceSize</key>
			<string>{75,103}</string>
			<key>textureRect</key>
			<string>{{880,115},{75,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bgi_Ranktop_btn_challenge_OFF.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{293,116}</string>
			<key>spriteSourceSize</key>
			<string>{293,116}</string>
			<key>textureRect</key>
			<string>{{585,115},{293,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_Ranktop_RankDetail.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{165,75}</string>
			<key>spriteSourceSize</key>
			<string>{165,75}</string>
			<key>textureRect</key>
			<string>{{371,414},{165,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_Ranktop_UsagiBalloon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,129}</string>
			<key>spriteSourceSize</key>
			<string>{156,129}</string>
			<key>textureRect</key>
			<string>{{725,233},{156,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_Ranktop_UsagiBalloon_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{158,59}</string>
			<key>spriteSourceSize</key>
			<string>{158,59}</string>
			<key>textureRect</key>
			<string>{{538,414},{158,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_myranking_check.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{185,96}</string>
			<key>spriteSourceSize</key>
			<string>{185,96}</string>
			<key>textureRect</key>
			<string>{{1,414},{185,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_ranking_itemstore.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{181,96}</string>
			<key>spriteSourceSize</key>
			<string>{181,96}</string>
			<key>textureRect</key>
			<string>{{188,414},{181,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_ranking_reword.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,100}</string>
			<key>spriteSourceSize</key>
			<string>{180,100}</string>
			<key>textureRect</key>
			<string>{{698,398},{180,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_Ranktop_Usagi01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{138,163}</string>
			<key>spriteSourceSize</key>
			<string>{138,163}</string>
			<key>textureRect</key>
			<string>{{585,233},{138,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_Ranktop_Usagi02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,37}</string>
			<key>spriteSourceSize</key>
			<string>{15,37}</string>
			<key>textureRect</key>
			<string>{{883,220},{15,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Ranking_top.png</string>
		<key>size</key>
		<string>{956,511}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:87b85b6db204a05c4ac2c911b7eff528:fe8cd186932aa3fd9d4687b96f918c77:e8bbd7dadd0f9052d561e18ebcdb86b7$</string>
		<key>textureFileName</key>
		<string>Ranking_top.png</string>
	</dict>
</dict>
</plist>
