<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_v19_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,213}</string>
                <key>spriteSourceSize</key>
                <string>{196,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_v19_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{584,112},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_v19_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{409,112},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_v19_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{85,86}</string>
                <key>textureRect</key>
                <string>{{497,112},{85,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_v19_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{216,120},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_v19_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{671,112},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_v19_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{758,112},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_v19_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{320,112},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_heart_v19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,102}</string>
                <key>spriteSourceSize</key>
                <string>{117,102}</string>
                <key>textureRect</key>
                <string>{{216,1},{117,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ribbon_v19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,109}</string>
                <key>spriteSourceSize</key>
                <string>{524,109}</string>
                <key>textureRect</key>
                <string>{{320,1},{524,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgi_v19_bg.png</string>
            <key>size</key>
            <string>{845,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a01b4a49c9f1e8435f67b6dcd07fdec8:84296cc959b2089397c013d32f13c453:482c9421ef3dd295f409e1aa4cea2b92$</string>
            <key>textureFileName</key>
            <string>bgi_v19_bg.png</string>
        </dict>
    </dict>
</plist>
