<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_frill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{345,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iriya_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{126,114}</string>
                <key>textureRect</key>
                <string>{{345,271},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iriya_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{473,271},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iriya_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,98}</string>
                <key>spriteSourceSize</key>
                <string>{101,98}</string>
                <key>textureRect</key>
                <string>{{808,306},{101,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iriya_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{808,195},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iriya_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{880,83},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iriya_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,97}</string>
                <key>spriteSourceSize</key>
                <string>{98,97}</string>
                <key>textureRect</key>
                <string>{{911,306},{98,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_iriya_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,97}</string>
                <key>spriteSourceSize</key>
                <string>{98,97}</string>
                <key>textureRect</key>
                <string>{{919,192},{98,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_iriya_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{768,83},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_ribon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,80}</string>
                <key>spriteSourceSize</key>
                <string>{213,80}</string>
                <key>textureRect</key>
                <string>{{768,1},{213,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{342,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_iriya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,151}</string>
                <key>spriteSourceSize</key>
                <string>{194,151}</string>
                <key>textureRect</key>
                <string>{{615,1},{194,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_item_miyuu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,140}</string>
                <key>spriteSourceSize</key>
                <string>{191,140}</string>
                <key>textureRect</key>
                <string>{{615,197},{191,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_line_rainbowbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,19}</string>
                <key>spriteSourceSize</key>
                <string>{7,19}</string>
                <key>textureRect</key>
                <string>{{983,1},{7,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{592,339},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_prisma_fantasm_ui_pic.png</string>
            <key>size</key>
            <string>{1017,405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a58b5b948dcb2f4c96b832f2b456ad6:b49466aac60529a050b5d7b1aa1a4115:814d92bcac1f760bca0a30ecea577820$</string>
            <key>textureFileName</key>
            <string>atls_dgi_prisma_fantasm_ui_pic.png</string>
        </dict>
    </dict>
</plist>
