<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_present_quest_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,201}</string>
                <key>spriteSourceSize</key>
                <string>{397,201}</string>
                <key>textureRect</key>
                <string>{{572,1},{397,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_present_quest_balloon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,358}</string>
                <key>spriteSourceSize</key>
                <string>{569,358}</string>
                <key>textureRect</key>
                <string>{{1,1},{569,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_BalloonClose_present_quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{572,204},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_present_quest_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{645,204},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_present_quest_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{738,204},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_present_quest_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{694,204},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_present_quest_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{670,204},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_present_quest_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{716,204},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_present_quest_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{759,204},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_present_quest_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{716,204},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>present_quest.png</string>
            <key>size</key>
            <string>{970,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c1bb86c77574fa57f615bba7c8ad247:973e83b6bbd58d4a9effd2c2db3e42e8:81074679e50c2b54bcc07cb8ea4783cc$</string>
            <key>textureFileName</key>
            <string>present_quest.png</string>
        </dict>
    </dict>
</plist>
