<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Quest_TransitionButton_Listitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,104}</string>
                <key>spriteSourceSize</key>
                <string>{30,104}</string>
                <key>textureRect</key>
                <string>{{147,1},{30,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Quest_TransitionButton_Listitem_tit01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,26}</string>
                <key>spriteSourceSize</key>
                <string>{144,26}</string>
                <key>textureRect</key>
                <string>{{1,77},{144,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Quest_TransitionButton_Listitem_tit02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,26}</string>
                <key>textureRect</key>
                <string>{{1,167},{80,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Quest_TransitionButton_MissionItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,52}</string>
                <key>spriteSourceSize</key>
                <string>{98,52}</string>
                <key>textureRect</key>
                <string>{{147,33},{98,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_TransitionButton_Exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{144,74}</string>
                <key>spriteSourceSize</key>
                <string>{160,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_TransitionButton_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{160,102}</string>
                <key>textureRect</key>
                <string>{{147,87},{96,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Quest_TransitionButton.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a7821b818c8cf3b5c5869b12cc66ca3:42f850896b243cbaa6b6440bd5cdd018:a66f03a20caa43896ae7ff39ff8edf71$</string>
            <key>textureFileName</key>
            <string>Quest_TransitionButton.png</string>
        </dict>
    </dict>
</plist>
