<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pfx_Coat of arms_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,210}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{507,1},{178,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pfx_Coat of arms_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{261,249},{216,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pfx_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{687,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pfx_hpgauge_flash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{817,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pfx_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{246,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{1,259},{246,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pfx_olive_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{148,121}</string>
                <key>spriteSourceSize</key>
                <string>{150,123}</string>
                <key>textureRect</key>
                <string>{{673,213},{148,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pfx_olive_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{148,121}</string>
                <key>spriteSourceSize</key>
                <string>{150,123}</string>
                <key>textureRect</key>
                <string>{{673,363},{148,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pfx_vertical_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{687,131},{60,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pfx_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{252,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{479,249},{252,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pfx_yellowheart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{259,1},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pfx_yellowshockwave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>over_heel.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d92e100ff8cd702937f6a326068d5d04:ee2fe6d1e2b4ba04be74522389654e85:2d448c026edc6c387ccdc03f89edd013$</string>
            <key>textureFileName</key>
            <string>over_heel.png</string>
        </dict>
    </dict>
</plist>
