<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_FriendmultiBalloon_Home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,57}</string>
                <key>spriteSourceSize</key>
                <string>{247,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Happykuji_counttime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{60,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PartyStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-66}</string>
                <key>spriteSize</key>
                <string>{622,226}</string>
                <key>spriteSourceSize</key>
                <string>{640,408}</string>
                <key>textureRect</key>
                <string>{{192,1},{622,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_BannerLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1050,1},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_BannerRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1050,91},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1225,59},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{60,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{60,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{60,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji_BK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{60,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{60,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_InfoSite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{60,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{816,201},{49,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,115}</string>
                <key>spriteSourceSize</key>
                <string>{198,115}</string>
                <key>textureRect</key>
                <string>{{816,1},{198,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Multi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,115}</string>
                <key>spriteSourceSize</key>
                <string>{198,115}</string>
                <key>textureRect</key>
                <string>{{933,1},{198,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,130}</string>
                <key>textureRect</key>
                <string>{{60,1},{232,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_community.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{1140,59},{86,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{1234,144},{80,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_monthlypack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{87,83}</string>
                <key>textureRect</key>
                <string>{{1151,147},{83,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_CarouselPosi_Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{330,229},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_CarouselPosi_Nromal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{350,229},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_MissionBeginner_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,22}</string>
                <key>spriteSourceSize</key>
                <string>{136,22}</string>
                <key>textureRect</key>
                <string>{{192,229},{136,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Mission_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{138,30}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{1011,201},{138,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multi_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{165,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,60}</string>
                <key>textureRect</key>
                <string>{{1151,1},{165,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{133,38}</string>
                <key>spriteSourceSize</key>
                <string>{145,42}</string>
                <key>textureRect</key>
                <string>{{876,201},{133,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_mypage.png</string>
            <key>size</key>
            <string>{1318,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1ab70898489ed6c2340516c50f894e8:d3d18b066b88f8ebfb66f53d3fdb76e7:d1c10f1487b29df01b29c68dcba05a4b$</string>
            <key>textureFileName</key>
            <string>atls_mypage.png</string>
        </dict>
    </dict>
</plist>
