<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Raid_RescueTable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,63}</string>
                <key>spriteSourceSize</key>
                <string>{572,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{572,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_SystemMessage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,28}</string>
                <key>spriteSourceSize</key>
                <string>{328,28}</string>
                <key>textureRect</key>
                <string>{{1,66},{328,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_systemmessage.png</string>
            <key>size</key>
            <string>{574,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d46e7c3cea13a58e12e1cc6266a066d:e3c2289e889cb32d14a282a6b41bb338:7017ff3fb2c0b19e65a91c41c6d298cc$</string>
            <key>textureFileName</key>
            <string>raid_systemmessage.png</string>
        </dict>
    </dict>
</plist>
