<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_jamming_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{745,887},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_block_jammingAqua_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{653,887},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_block_jammingAqua_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{551,887},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_block_jammingAqua_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{437,887},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_block_jammingAqua_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,33}</string>
                <key>spriteSize</key>
                <string>{200,254}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1347,449},{200,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_block_jammingAqua_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-2}</string>
                <key>spriteSize</key>
                <string>{344,446}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1357,1},{344,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_block_jammingAqua_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{450,442}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,1},{450,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_block_jammingAqua_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{446,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_block_jammingAqua_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{440,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{905,1},{440,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_block_jammingAqua_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{444,440}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{905,443},{444,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_block_jammingAqua_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{440,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,449},{440,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_block_jammingAqua_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{440,436}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,445},{440,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_block_jamming_Aqua.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7530ffe7c4517c07dd266e045509762a:6b56d27eead7fa296c5208d4d9805555:f6808f2b366f37b155daa8e283626cd3$</string>
            <key>textureFileName</key>
            <string>atls_block_jamming_Aqua.png</string>
        </dict>
    </dict>
</plist>
