<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_HelpWindow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{88,66}</string>
                <key>textureRect</key>
                <string>{{167,646},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_scratch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{1,646},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_scratch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{241,522},{97,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_scratch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{339,522},{93,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_scratch_BK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{84,646},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_scratch_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{339,617},{93,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_scratch_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,40}</string>
                <key>spriteSourceSize</key>
                <string>{417,40}</string>
                <key>textureRect</key>
                <string>{{445,316},{417,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_scratch_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,314}</string>
                <key>spriteSourceSize</key>
                <string>{442,314}</string>
                <key>textureRect</key>
                <string>{{1,86},{442,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_scratch_button01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,402},{120,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_scratch_button02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,524},{120,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_scratch_button03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{121,402},{120,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_scratch_button04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{121,524},{120,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_scratch_button05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{257,402},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_scratch_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,42}</string>
                <key>spriteSourceSize</key>
                <string>{228,42}</string>
                <key>textureRect</key>
                <string>{{445,86},{228,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_scratch_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,83}</string>
                <key>spriteSourceSize</key>
                <string>{481,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{481,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_scratch_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,24}</string>
                <key>spriteSourceSize</key>
                <string>{89,24}</string>
                <key>textureRect</key>
                <string>{{377,426},{89,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_scratch_03_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,22}</string>
                <key>spriteSourceSize</key>
                <string>{64,22}</string>
                <key>textureRect</key>
                <string>{{377,402},{64,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scratchbonus.png</string>
            <key>size</key>
            <string>{488,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:317d6438df17f067b683e6fa8dfab829:b42020891ff01c637e6f45b4364ae981:4159832dd3e0b66dd1c396fbcf478b24$</string>
            <key>textureFileName</key>
            <string>scratchbonus.png</string>
        </dict>
    </dict>
</plist>
