<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GuideMission_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{552,194},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guidemission_gauge_7.6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,13}</string>
                <key>spriteSourceSize</key>
                <string>{339,13}</string>
                <key>textureRect</key>
                <string>{{552,73},{339,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbanner_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,105}</string>
                <key>spriteSourceSize</key>
                <string>{186,105}</string>
                <key>textureRect</key>
                <string>{{381,390},{186,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbanner_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,104}</string>
                <key>spriteSourceSize</key>
                <string>{188,104}</string>
                <key>textureRect</key>
                <string>{{552,88},{188,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbanner_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,104}</string>
                <key>spriteSourceSize</key>
                <string>{188,104}</string>
                <key>textureRect</key>
                <string>{{191,390},{188,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbanner_frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,105}</string>
                <key>spriteSourceSize</key>
                <string>{188,105}</string>
                <key>textureRect</key>
                <string>{{1,390},{188,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbunner_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,105}</string>
                <key>spriteSourceSize</key>
                <string>{186,105}</string>
                <key>textureRect</key>
                <string>{{742,88},{186,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_3tab1_v7.6.0.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,70}</string>
                <key>spriteSourceSize</key>
                <string>{558,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{558,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_3tab2_v7.6.0.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,70}</string>
                <key>spriteSourceSize</key>
                <string>{549,70}</string>
                <key>textureRect</key>
                <string>{{1,73},{549,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_3tab3_v7.6.0.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,70}</string>
                <key>spriteSourceSize</key>
                <string>{549,70}</string>
                <key>textureRect</key>
                <string>{{1,145},{549,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_3tab4_v7.6.0.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,70}</string>
                <key>spriteSourceSize</key>
                <string>{549,70}</string>
                <key>textureRect</key>
                <string>{{1,217},{549,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_3tab5_v7.6.0.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,64}</string>
                <key>spriteSourceSize</key>
                <string>{554,64}</string>
                <key>textureRect</key>
                <string>{{1,289},{554,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_GuideMission_v7.6.0_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,111}</string>
                <key>spriteSourceSize</key>
                <string>{146,111}</string>
                <key>textureRect</key>
                <string>{{742,195},{146,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_GuideMission_v7.6.0_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,111}</string>
                <key>spriteSourceSize</key>
                <string>{146,111}</string>
                <key>textureRect</key>
                <string>{{890,195},{146,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_v7.6.0_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,111}</string>
                <key>spriteSourceSize</key>
                <string>{146,111}</string>
                <key>textureRect</key>
                <string>{{569,288},{146,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_v7.6.0_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,111}</string>
                <key>spriteSourceSize</key>
                <string>{146,111}</string>
                <key>textureRect</key>
                <string>{{682,308},{146,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_GuideMission_v7.6.0_frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,111}</string>
                <key>spriteSourceSize</key>
                <string>{146,111}</string>
                <key>textureRect</key>
                <string>{{830,343},{146,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,33}</string>
                <key>spriteSourceSize</key>
                <string>{549,33}</string>
                <key>textureRect</key>
                <string>{{1,355},{549,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{569,436},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_usagichan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{98,80}</string>
                <key>textureRect</key>
                <string>{{642,194},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_GuideMission_v7_6_0title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,70}</string>
                <key>spriteSourceSize</key>
                <string>{340,70}</string>
                <key>textureRect</key>
                <string>{{561,1},{340,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagichan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{903,1},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuideMission_V7_6_0.png</string>
            <key>size</key>
            <string>{1002,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09887e7a4b502d5f6a5d4c0c33a5cf7b:f37b3b82379d370b81c688b7dd607ca0:2fb13fad99c32d249ef8bb9ee88e4cb6$</string>
            <key>textureFileName</key>
            <string>GuideMission_V7_6_0.png</string>
        </dict>
    </dict>
</plist>
