<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_MagnetBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{97,1},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_MagnetCover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{197,1},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_MagnetGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{223,265},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_Magnet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,102}</string>
                <key>textureRect</key>
                <string>{{1,265},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{297,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{385,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1,25},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{89,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{177,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{265,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{353,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{117,265},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HyperMagnet_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{345,265},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_MagnetWave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,10}</string>
                <key>spriteSourceSize</key>
                <string>{40,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_MagnetWaveGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{43,1},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,113},{98,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Magnet_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{89,177},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{189,177},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{289,177},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{389,177},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_Magnet.png</string>
            <key>size</key>
            <string>{488,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:783475ac9eda5768de35fa24934cc08d:4b28871aba5bcd654577bb2a3f89eb15:f843e9d4016d6395227514f517a195b5$</string>
            <key>textureFileName</key>
            <string>atls_Magnet.png</string>
        </dict>
    </dict>
</plist>
