<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_MagnetBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,227},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_MagnetCover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,315},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_MagnetGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_Magnet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,102}</string>
                <key>textureRect</key>
                <string>{{1,123},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_MagnetWave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,10}</string>
                <key>spriteSourceSize</key>
                <string>{40,10}</string>
                <key>textureRect</key>
                <string>{{101,227},{40,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_MagnetWaveGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{89,755},{52,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Magnet_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,403},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,491},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,579},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,667},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Magnet_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,755},{98,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_Magnet.png</string>
            <key>size</key>
            <string>{116,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b87ce41f352e5151ff7bec5f53ddb902:c85ebc827c538d46f381d2d26708c725:f843e9d4016d6395227514f517a195b5$</string>
            <key>textureFileName</key>
            <string>atls_Magnet.png</string>
        </dict>
    </dict>
</plist>
