<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Senter_mukuro_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,227}</string>
                <key>spriteSourceSize</key>
                <string>{207,227}</string>
                <key>textureRect</key>
                <string>{{777,1},{207,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Senter_nia_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,181}</string>
                <key>spriteSourceSize</key>
                <string>{194,181}</string>
                <key>textureRect</key>
                <string>{{1,829},{194,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Senter_origami_hanten_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,226}</string>
                <key>spriteSourceSize</key>
                <string>{291,226}</string>
                <key>textureRect</key>
                <string>{{329,724},{291,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecleLB_A_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,447}</string>
                <key>spriteSourceSize</key>
                <string>{326,447}</string>
                <key>textureRect</key>
                <string>{{1,380},{326,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleLB_B_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,377}</string>
                <key>spriteSourceSize</key>
                <string>{406,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleLB_C_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,377}</string>
                <key>spriteSourceSize</key>
                <string>{366,377}</string>
                <key>textureRect</key>
                <string>{{409,1},{366,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleL_logofri_toka_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,265}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{557,724},{265,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleL_love_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{342,342}</string>
                <key>textureRect</key>
                <string>{{329,380},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DAusagican_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{824,752},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_datenorigami_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{108,107}</string>
                <key>textureRect</key>
                <string>{{673,534},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_guruguruheart_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{855,384},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_natsumi_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{197,829},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_ratatosk_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{783,534},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_ribon_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{824,860},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_tenshiorigami_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{892,493},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_yoshinon_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{824,643},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef01J_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,148}</string>
                <key>textureRect</key>
                <string>{{673,384},{180,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef02C_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,152}</string>
                <key>textureRect</key>
                <string>{{777,230},{200,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star01_DAL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{197,940},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_DAL3_ui_pic.png</string>
            <key>size</key>
            <string>{985,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2a34fdd858398aedc81056fe78b4350:4013abe2041169892c9455d510f4d9d6:d2bf30c9e1aa381b9cf30b039e4c7823$</string>
            <key>textureFileName</key>
            <string>atls_dgi_DAL3_ui_pic.png</string>
        </dict>
    </dict>
</plist>
