<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_bgi_quest_rank_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{231,242}</string>
                <key>spriteSourceSize</key>
                <string>{239,246}</string>
                <key>textureRect</key>
                <string>{{242,1},{231,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_Guerrilla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{606,367},{113,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_event_p_boss01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,66}</string>
                <key>spriteSourceSize</key>
                <string>{99,66}</string>
                <key>textureRect</key>
                <string>{{826,150},{99,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_boss02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{92,39}</string>
                <key>textureRect</key>
                <string>{{785,441},{92,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,231}</string>
                <key>spriteSourceSize</key>
                <string>{231,231}</string>
                <key>textureRect</key>
                <string>{{242,245},{231,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,83}</string>
                <key>spriteSourceSize</key>
                <string>{92,83}</string>
                <key>textureRect</key>
                <string>{{785,347},{92,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_lock_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{655,1},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_dack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{91,99}</string>
                <key>textureRect</key>
                <string>{{768,254},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_lock_p_dack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{944,1},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{167,176}</string>
                <key>spriteSourceSize</key>
                <string>{297,270}</string>
                <key>textureRect</key>
                <string>{{475,189},{167,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{933,335},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_alice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,73}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{869,260},{92,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,239}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,129}</string>
                <key>spriteSourceSize</key>
                <string>{113,129}</string>
                <key>textureRect</key>
                <string>{{475,367},{113,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_normal_p_usagi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{12,29}</string>
                <key>textureRect</key>
                <string>{{644,347},{12,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_rank_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,238}</string>
                <key>spriteSourceSize</key>
                <string>{239,238}</string>
                <key>textureRect</key>
                <string>{{1,242},{239,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,103}</string>
                <key>spriteSourceSize</key>
                <string>{118,103}</string>
                <key>textureRect</key>
                <string>{{824,1},{118,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{231,242}</string>
                <key>spriteSourceSize</key>
                <string>{239,246}</string>
                <key>textureRect</key>
                <string>{{242,1},{231,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_kirakira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{879,433},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,186}</string>
                <key>spriteSourceSize</key>
                <string>{178,186}</string>
                <key>textureRect</key>
                <string>{{475,1},{178,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_event_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,76}</string>
                <key>textureRect</key>
                <string>{{644,203},{122,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_lock_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{870,335},{96,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_normal_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,70}</string>
                <key>spriteSourceSize</key>
                <string>{141,78}</string>
                <key>textureRect</key>
                <string>{{644,275},{119,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rank_aggregate_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{927,150},{108,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_inSession_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{116,42}</string>
                <key>spriteSourceSize</key>
                <string>{122,48}</string>
                <key>textureRect</key>
                <string>{{824,106},{116,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rank_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,73}</string>
                <key>spriteSourceSize</key>
                <string>{172,75}</string>
                <key>textureRect</key>
                <string>{{710,347},{104,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_result_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{169,31}</string>
                <key>spriteSourceSize</key>
                <string>{171,49}</string>
                <key>textureRect</key>
                <string>{{655,170},{169,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rank_upcoming_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{138,34}</string>
                <key>spriteSourceSize</key>
                <string>{138,48}</string>
                <key>textureRect</key>
                <string>{{768,218},{138,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>f_quest_questtype-assets.png</string>
            <key>size</key>
            <string>{964,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:438618220c9c7f33738dcbe4ace66658:ea643c7ea7ce1b5ac724c0f658a2b8c9:6d74252aa73beda1929a221788d02a45$</string>
            <key>textureFileName</key>
            <string>f_quest_questtype-assets.png</string>
        </dict>
    </dict>
</plist>
