<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Speed_Footer_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{640,134}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-59}</string>
                <key>spriteSize</key>
                <string>{640,132}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,545},{640,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-59}</string>
                <key>spriteSize</key>
                <string>{640,132}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,679},{640,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{640,134}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Speed_Footer_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-59}</string>
                <key>spriteSize</key>
                <string>{640,132}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,813},{640,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{640,134}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,137},{640,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{640,134}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,273},{640,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4,-58}</string>
                <key>spriteSize</key>
                <string>{632,134}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{779,1},{632,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Speed_Footer_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{640,134}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,409},{640,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{229,-86}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{915,1},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Speed_Footer_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{243,-93}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{915,51},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Speed_Footer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b3b7ff6da05d2b234300d5b8a13f1b:cdcf55458315bcc21c0c4da7db655313:6c324dc8a87ab136b112339c8ee4e42b$</string>
            <key>textureFileName</key>
            <string>Speed_Footer.png</string>
        </dict>
    </dict>
</plist>
