<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_GuideMission_New_frame_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,122}</string>
                <key>spriteSourceSize</key>
                <string>{605,122}</string>
                <key>textureRect</key>
                <string>{{631,1},{605,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_meter_all_item04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,59}</string>
                <key>textureRect</key>
                <string>{{246,828},{80,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_GuideMission_meter_all_item07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{246,760},{66,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_meter_flame_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,35}</string>
                <key>spriteSourceSize</key>
                <string>{508,35}</string>
                <key>textureRect</key>
                <string>{{405,371},{508,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_v6_9_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,14}</string>
                <key>spriteSourceSize</key>
                <string>{28,14}</string>
                <key>textureRect</key>
                <string>{{379,758},{28,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_v6_9_item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,127}</string>
                <key>spriteSourceSize</key>
                <string>{1000,127}</string>
                <key>textureRect</key>
                <string>{{502,1},{1000,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_v6_9_item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,368}</string>
                <key>spriteSourceSize</key>
                <string>{499,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{499,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_GuideMission_v6_9_item03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,243}</string>
                <key>spriteSourceSize</key>
                <string>{522,243}</string>
                <key>textureRect</key>
                <string>{{1,371},{522,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GuideMission_v6_9_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,28}</string>
                <key>spriteSourceSize</key>
                <string>{402,28}</string>
                <key>textureRect</key>
                <string>{{1,895},{402,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuideMission_N1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{367,734},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_N2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{348,799},{27,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_N3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{348,760},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuideMission_N4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{183,984},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_N5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{448,979},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_N6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{455,940},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuideMission_N7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{220,984},{27,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_N8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{405,881},{30,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_N9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{417,973},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuideMission_N_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,65}</string>
                <key>spriteSourceSize</key>
                <string>{79,65}</string>
                <key>textureRect</key>
                <string>{{336,940},{79,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuideMission_New_frame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,110}</string>
                <key>spriteSourceSize</key>
                <string>{593,110}</string>
                <key>textureRect</key>
                <string>{{755,1},{593,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_meter_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,13}</string>
                <key>spriteSourceSize</key>
                <string>{484,13}</string>
                <key>textureRect</key>
                <string>{{1,925},{484,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuideMission_meter_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,15}</string>
                <key>spriteSourceSize</key>
                <string>{361,15}</string>
                <key>textureRect</key>
                <string>{{367,371},{361,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GuideMission_meter_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,15}</string>
                <key>spriteSourceSize</key>
                <string>{361,15}</string>
                <key>textureRect</key>
                <string>{{384,371},{361,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_navi_Guide_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,73}</string>
                <key>spriteSourceSize</key>
                <string>{275,73}</string>
                <key>textureRect</key>
                <string>{{631,608},{275,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_navi_Guide_Mission_exam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,72}</string>
                <key>spriteSourceSize</key>
                <string>{265,72}</string>
                <key>textureRect</key>
                <string>{{631,885},{265,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navi_Guide_Mission_item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{405,913},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_navi_Guide_Mission_item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{417,940},{36,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_key01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,51}</string>
                <key>spriteSourceSize</key>
                <string>{48,51}</string>
                <key>textureRect</key>
                <string>{{328,828},{48,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_GuideMission_v6_9_rust.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,119}</string>
                <key>spriteSourceSize</key>
                <string>{387,119}</string>
                <key>textureRect</key>
                <string>{{246,371},{387,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_GuideMission_v6_9_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,42}</string>
                <key>spriteSourceSize</key>
                <string>{333,42}</string>
                <key>textureRect</key>
                <string>{{1,940},{333,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_gift_receive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,24}</string>
                <key>spriteSourceSize</key>
                <string>{180,24}</string>
                <key>textureRect</key>
                <string>{{1,984},{180,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuideMission_V6_9_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c74ae77c8398fbe43fa8fa86670d91:fbe8aa5eed680a0016ffbc3d93fbd2ea:229a81bb937c42f925b5e9175df02a0b$</string>
            <key>textureFileName</key>
            <string>GuideMission_V6_9_0.png</string>
        </dict>
    </dict>
</plist>
