<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mcounter_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{98,51}</string>
                <key>spriteSourceSize</key>
                <string>{120,51}</string>
                <key>textureRect</key>
                <string>{{156,148},{98,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mcounter_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,102}</string>
                <key>spriteSourceSize</key>
                <string>{151,102}</string>
                <key>textureRect</key>
                <string>{{3,3},{151,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mcounter_Back_Black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,102}</string>
                <key>spriteSourceSize</key>
                <string>{151,102}</string>
                <key>textureRect</key>
                <string>{{3,107},{151,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mcounter_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,87}</string>
                <key>spriteSourceSize</key>
                <string>{143,87}</string>
                <key>textureRect</key>
                <string>{{156,3},{143,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mcounter_header_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,27}</string>
                <key>spriteSourceSize</key>
                <string>{136,27}</string>
                <key>textureRect</key>
                <string>{{117,323},{136,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mcounter_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{112,45}</string>
                <key>spriteSourceSize</key>
                <string>{128,45}</string>
                <key>textureRect</key>
                <string>{{3,323},{112,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mcounter_somingsoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,61}</string>
                <key>spriteSourceSize</key>
                <string>{115,61}</string>
                <key>textureRect</key>
                <string>{{3,260},{115,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mcounter_text_poli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,33}</string>
                <key>spriteSourceSize</key>
                <string>{125,33}</string>
                <key>textureRect</key>
                <string>{{209,148},{123,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mcounter_text_poli_Black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,33}</string>
                <key>spriteSourceSize</key>
                <string>{125,33}</string>
                <key>textureRect</key>
                <string>{{120,273},{123,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mission_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,47}</string>
                <key>spriteSourceSize</key>
                <string>{147,47}</string>
                <key>textureRect</key>
                <string>{{3,211},{147,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mission_counter.png</string>
            <key>size</key>
            <string>{256,371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eefa4ed58d21b199fbabd9bbf1e75a5:2a01bd7169f4e3cdb24de91c1ccab819:22532a3d1cbf1d389e2090c468cfa0d6$</string>
            <key>textureFileName</key>
            <string>mission_counter.png</string>
        </dict>
    </dict>
</plist>
