<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_miku2022_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,311}</string>
                <key>spriteSourceSize</key>
                <string>{357,311}</string>
                <key>textureRect</key>
                <string>{{1706,1},{357,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_miku2022_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,435}</string>
                <key>spriteSourceSize</key>
                <string>{435,435}</string>
                <key>textureRect</key>
                <string>{{797,506},{435,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_miku2022_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,358}</string>
                <key>spriteSourceSize</key>
                <string>{359,358}</string>
                <key>textureRect</key>
                <string>{{1634,364},{359,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_miku2022_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,389}</string>
                <key>spriteSourceSize</key>
                <string>{397,389}</string>
                <key>textureRect</key>
                <string>{{1058,1},{397,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_miku2022_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,93}</string>
                <key>spriteSourceSize</key>
                <string>{94,93}</string>
                <key>textureRect</key>
                <string>{{1445,400},{94,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_miku2022_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1540,364},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_miku2022_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1349,400},{95,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_miku2022_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1058,400},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_miku2022_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,85}</string>
                <key>spriteSourceSize</key>
                <string>{82,85}</string>
                <key>textureRect</key>
                <string>{{1482,864},{82,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_miku2022_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1155,400},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_miku2022_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1252,400},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_kousen_miku2022_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{980,341}</string>
                <key>spriteSourceSize</key>
                <string>{980,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{980,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-247}</string>
                <key>spriteSize</key>
                <string>{361,255}</string>
                <key>spriteSourceSize</key>
                <string>{361,749}</string>
                <key>textureRect</key>
                <string>{{1449,1},{361,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,134}</string>
                <key>spriteSize</key>
                <string>{361,481}</string>
                <key>spriteSourceSize</key>
                <string>{361,749}</string>
                <key>textureRect</key>
                <string>{{695,1},{361,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_miku2022_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,315}</string>
                <key>spriteSourceSize</key>
                <string>{517,315}</string>
                <key>textureRect</key>
                <string>{{378,1},{517,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-72}</string>
                <key>spriteSize</key>
                <string>{442,202}</string>
                <key>spriteSourceSize</key>
                <string>{448,346}</string>
                <key>textureRect</key>
                <string>{{593,520},{442,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{361,545}</string>
                <key>textureRect</key>
                <string>{{1234,501},{361,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_stageright_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-64}</string>
                <key>spriteSize</key>
                <string>{20,312}</string>
                <key>spriteSourceSize</key>
                <string>{526,476}</string>
                <key>textureRect</key>
                <string>{{695,484},{20,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_stageright_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-58}</string>
                <key>spriteSize</key>
                <string>{20,328}</string>
                <key>spriteSourceSize</key>
                <string>{526,476}</string>
                <key>textureRect</key>
                <string>{{783,964},{20,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_stageright_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-51}</string>
                <key>spriteSize</key>
                <string>{20,346}</string>
                <key>spriteSourceSize</key>
                <string>{526,476}</string>
                <key>textureRect</key>
                <string>{{767,986},{20,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_stageright_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-44}</string>
                <key>spriteSize</key>
                <string>{20,364}</string>
                <key>spriteSourceSize</key>
                <string>{526,476}</string>
                <key>textureRect</key>
                <string>{{401,986},{20,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_stageright_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-38}</string>
                <key>spriteSize</key>
                <string>{20,380}</string>
                <key>spriteSourceSize</key>
                <string>{526,476}</string>
                <key>textureRect</key>
                <string>{{401,964},{20,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_stageright_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-31}</string>
                <key>spriteSize</key>
                <string>{20,398}</string>
                <key>spriteSourceSize</key>
                <string>{526,476}</string>
                <key>textureRect</key>
                <string>{{1,983},{20,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_miku2022_stageright_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,32}</string>
                <key>spriteSourceSize</key>
                <string>{830,32}</string>
                <key>textureRect</key>
                <string>{{344,1},{830,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prism_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,168}</string>
                <key>spriteSourceSize</key>
                <string>{258,168}</string>
                <key>textureRect</key>
                <string>{{378,520},{258,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prism_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,246}</string>
                <key>spriteSourceSize</key>
                <string>{129,246}</string>
                <key>textureRect</key>
                <string>{{1234,864},{129,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prism_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,247}</string>
                <key>spriteSourceSize</key>
                <string>{129,247}</string>
                <key>textureRect</key>
                <string>{{344,833},{129,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prism_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,334}</string>
                <key>spriteSourceSize</key>
                <string>{266,334}</string>
                <key>textureRect</key>
                <string>{{1583,724},{266,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_miku2022_ui_pic.png</string>
            <key>size</key>
            <string>{2018,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:194143820a2df13a678e7d861e975c59:1c034bf9005d424511f25eedb6ceeb51:a4aea735e53cce82e6832e92c4f354cd$</string>
            <key>textureFileName</key>
            <string>atls_dgi_miku2022_ui_pic.png</string>
        </dict>
    </dict>
</plist>
