<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_bell_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{357,1},{108,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_center_hwmoon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,171}</string>
                <key>spriteSourceSize</key>
                <string>{171,171}</string>
                <key>textureRect</key>
                <string>{{184,1},{171,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_hwjery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,110}</string>
                <key>spriteSourceSize</key>
                <string>{181,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ornament1_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{111,113},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_presentS_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{111,240},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_present_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{357,111},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_rousoku_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{111,177},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_santaUsagi_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,113},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_shoes_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{175,174},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snow_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{344,221},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snowman_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{285,174},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_tree_normal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,223},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_hw19.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2c3f24d642287264d3baad50ba0d50b:e67a072f5cba4a554861026cdd5b7cd2:49cbfd43e1bd5694be55235fbc946621$</string>
            <key>textureFileName</key>
            <string>system_hw19.png</string>
        </dict>
    </dict>
</plist>
