<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_date_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{973,155},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_date_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{973,171},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,137}</string>
                <key>spriteSourceSize</key>
                <string>{768,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,54}</string>
                <key>spriteSourceSize</key>
                <string>{768,54}</string>
                <key>textureRect</key>
                <string>{{1,140},{768,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_music_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,71}</string>
                <key>spriteSourceSize</key>
                <string>{466,71}</string>
                <key>textureRect</key>
                <string>{{1,350},{466,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,60}</string>
                <key>spriteSourceSize</key>
                <string>{122,60}</string>
                <key>textureRect</key>
                <string>{{771,155},{122,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_favo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{936,155},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_favo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{895,155},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_list_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,75}</string>
                <key>spriteSourceSize</key>
                <string>{579,75}</string>
                <key>textureRect</key>
                <string>{{1,196},{579,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_list_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,75}</string>
                <key>spriteSourceSize</key>
                <string>{579,75}</string>
                <key>textureRect</key>
                <string>{{1,273},{579,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rep_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,75}</string>
                <key>spriteSourceSize</key>
                <string>{205,75}</string>
                <key>textureRect</key>
                <string>{{771,1},{205,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rep_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,75}</string>
                <key>spriteSourceSize</key>
                <string>{205,75}</string>
                <key>textureRect</key>
                <string>{{771,78},{205,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sort_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,68}</string>
                <key>spriteSourceSize</key>
                <string>{436,68}</string>
                <key>textureRect</key>
                <string>{{582,217},{436,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sort_favo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,68}</string>
                <key>spriteSourceSize</key>
                <string>{436,68}</string>
                <key>textureRect</key>
                <string>{{582,287},{436,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jukebox_ui.png</string>
            <key>size</key>
            <string>{1019,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d9a7226b1a75e8ed8c7c2667b41021:69d072638fe8093396fca4325ee00e97:91652ceff898c30982fc04e9a34af848$</string>
            <key>textureFileName</key>
            <string>jukebox_ui.png</string>
        </dict>
    </dict>
</plist>
