<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_maogaku_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,115}</string>
                <key>spriteSourceSize</key>
                <string>{113,115}</string>
                <key>textureRect</key>
                <string>{{210,367},{113,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_maogaku_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{560,316},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_maogaku_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{327,367},{100,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_maogaku_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{428,316},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_maogaku_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1,367},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_maogaku_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,114}</string>
                <key>spriteSourceSize</key>
                <string>{91,114}</string>
                <key>textureRect</key>
                <string>{{117,367},{91,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_maogoku_c0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,313}</string>
                <key>spriteSourceSize</key>
                <string>{303,313}</string>
                <key>textureRect</key>
                <string>{{366,1},{303,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_maogoku_c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,364}</string>
                <key>spriteSourceSize</key>
                <string>{363,364}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_maogaku_ui_pic.png</string>
            <key>size</key>
            <string>{670,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f35a8570a3cb989db5602072532a6fc:64cc29040615bef13b9539ff967ae378:09fef135302a51db76dc2653e81e0665$</string>
            <key>textureFileName</key>
            <string>atls_dgi_maogaku_ui_pic.png</string>
        </dict>
    </dict>
</plist>
