<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_item_otukimi_usagi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{374,374}</string>
                <key>textureRect</key>
                <string>{{1,1},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_otukimi_usagi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{374,374}</string>
                <key>textureRect</key>
                <string>{{377,1},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_otukimi_yama.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{522,373}</string>
                <key>spriteSourceSize</key>
                <string>{522,403}</string>
                <key>textureRect</key>
                <string>{{753,1},{522,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_otukimi.png</string>
            <key>size</key>
            <string>{1276,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065b233fd8bc6d8f8b7bae8503725c19:fd0164928bc40f5730d529336d633f74:8e6f2ec4086aa200e7abb545c7237473$</string>
            <key>textureFileName</key>
            <string>atls_otukimi.png</string>
        </dict>
    </dict>
</plist>
