<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>55over_eff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{113,108}</string>
                <key>textureRect</key>
                <string>{{1,918},{103,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gatya_Item_omake_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,29}</string>
                <key>spriteSourceSize</key>
                <string>{129,35}</string>
                <key>textureRect</key>
                <string>{{97,259},{123,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gatya_Item_omake_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,34}</string>
                <key>spriteSourceSize</key>
                <string>{132,34}</string>
                <key>textureRect</key>
                <string>{{879,148},{132,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_gacha_egg_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{124,154}</string>
                <key>spriteSourceSize</key>
                <string>{124,182}</string>
                <key>textureRect</key>
                <string>{{203,312},{124,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_black_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{879,184},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_down_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{203,592},{120,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_egg_ef_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,312},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_ef_a_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,256}</string>
                <key>spriteSourceSize</key>
                <string>{292,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_ef_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,514},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_ef_b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,256}</string>
                <key>spriteSourceSize</key>
                <string>{292,256}</string>
                <key>textureRect</key>
                <string>{{295,1},{290,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_ef_c_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,716},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_ef_c_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,256}</string>
                <key>spriteSourceSize</key>
                <string>{292,256}</string>
                <key>textureRect</key>
                <string>{{587,1},{290,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_glow0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,145}</string>
                <key>spriteSourceSize</key>
                <string>{143,145}</string>
                <key>textureRect</key>
                <string>{{879,1},{143,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_egg_up_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{122,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{203,468},{122,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_diamond_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{289,592},{110,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_diamond_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{203,714},{110,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-32}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{487,834},{58,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-19}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{555,636},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{102,116}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{103,918},{102,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_light_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,19}</string>
                <key>spriteSize</key>
                <string>{88,82}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{487,744},{88,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_light_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,35}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{1,259},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_light_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,42}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{59,259},{42,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_material_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{383,684},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_material_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{203,826},{106,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_null_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{401,792},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_null_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{221,916},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_pre_60-65_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{419,900},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_pre_60-65_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{293,704},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_pre_collab_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{463,528},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_pre_collab_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{297,468},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_pre_ranke_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{477,420},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_pre_ranke_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{373,576},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r1_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{509,312},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r1_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{329,312},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r3_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{469,636},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r3_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{387,420},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r4_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{549,528},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r4_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{419,312},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r5_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{563,420},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_r5_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{311,812},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_unique_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{595,312},{106,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_unique_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{311,920},{106,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gacha_anime.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac67883505bf76c7cc9c09d31519c15f:40a887f81dc875f52f4afc9c7c4416b6:9840acaf58af71b517fb8946fd336359$</string>
            <key>textureFileName</key>
            <string>gacha_anime.png</string>
        </dict>
    </dict>
</plist>
