<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_circleshine02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{266,266}</string>
                <key>textureRect</key>
                <string>{{1,596},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_multi_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{1,299},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_multi_p_dora.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{339,779},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_multi_p_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,102}</string>
                <key>spriteSourceSize</key>
                <string>{121,102}</string>
                <key>textureRect</key>
                <string>{{299,112},{121,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_multi_p_mchine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{269,779},{78,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_multi_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,122}</string>
                <key>spriteSourceSize</key>
                <string>{109,122}</string>
                <key>textureRect</key>
                <string>{{299,1},{109,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_solo_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,296}</string>
                <key>spriteSourceSize</key>
                <string>{296,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_solo_p_usagi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,165}</string>
                <key>spriteSourceSize</key>
                <string>{181,165}</string>
                <key>textureRect</key>
                <string>{{269,596},{181,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_solo_p_usagi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,42}</string>
                <key>spriteSourceSize</key>
                <string>{16,42}</string>
                <key>textureRect</key>
                <string>{{423,47},{16,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_titlebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{20,44}</string>
                <key>textureRect</key>
                <string>{{423,1},{20,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_multi_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,112}</string>
                <key>spriteSourceSize</key>
                <string>{187,112}</string>
                <key>textureRect</key>
                <string>{{299,402},{187,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_solo_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{299,216},{184,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_solomulti.png</string>
            <key>size</key>
            <string>{446,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd52e6f5f705b2ca00e762d26f6ffd6:f959ace83915259573495b75bb59bc71:77d7c82a2d4ed446dace416ff35c0367$</string>
            <key>textureFileName</key>
            <string>quest_solomulti.png</string>
        </dict>
    </dict>
</plist>
