<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_accessorIconBase_small_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{337,192},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorIconGray_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{337,130},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorSlot_samall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{348,241},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{68,248},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,86},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{82,86},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{90,1},{83,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{173,1},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{173,84},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{87,83}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,248},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{153,167},{65,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{153,240},{63,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,167},{79,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{76,167},{77,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{256,1},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{256,82},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{256,163},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{399,130},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_Lock02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{218,244},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{401,66},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_empty02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{283,244},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_slotnone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{337,66},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessor_thumbnail_samall_slotnone02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{337,1},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>accessor_icon_small.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d67fcb720c1f7082bc40466ab76ddc:06bd87a46f6c008cfd2fdb90627b8060:bdc2fc2d8b249485ab97f97f661cf5f2$</string>
            <key>textureFileName</key>
            <string>accessor_icon_small.png</string>
        </dict>
    </dict>
</plist>
