<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_Re1em.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{364,360},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Re2pac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{276,273},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Re3pin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{451,273},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Re4err.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{454,184},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Re5ram.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{364,273},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Re6re.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{276,184},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Re7ros.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{365,184},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_cnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,181}</string>
                <key>spriteSourceSize</key>
                <string>{192,181}</string>
                <key>textureRect</key>
                <string>{{276,1},{192,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_resta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,272}</string>
                <key>spriteSourceSize</key>
                <string>{273,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_Re.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a097f022a0e94ea57ee335e33a83c7:875de9a75c35c9675e88ab49826e5d0a:c9cd4c093b457a1394b5818b8cd85fb8$</string>
            <key>textureFileName</key>
            <string>system_Re.png</string>
        </dict>
    </dict>
</plist>
