<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Ranktop_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,411}</string>
                <key>spriteSourceSize</key>
                <string>{582,411}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Ranktop_btn_Charenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,112}</string>
                <key>spriteSourceSize</key>
                <string>{289,112}</string>
                <key>textureRect</key>
                <string>{{847,1},{289,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Ranktop_btn_Charenge_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,96}</string>
                <key>spriteSourceSize</key>
                <string>{280,96}</string>
                <key>textureRect</key>
                <string>{{1,414},{280,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Ranktop_btn_Charenge_OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,116}</string>
                <key>spriteSourceSize</key>
                <string>{293,116}</string>
                <key>textureRect</key>
                <string>{{591,389},{293,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Ranktop_btn_RankCheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,105}</string>
                <key>spriteSourceSize</key>
                <string>{276,105}</string>
                <key>textureRect</key>
                <string>{{847,115},{276,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Ranktop_btn_Remuneration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,105}</string>
                <key>spriteSourceSize</key>
                <string>{273,105}</string>
                <key>textureRect</key>
                <string>{{987,222},{273,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Ranktop_RankDetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,75}</string>
                <key>spriteSourceSize</key>
                <string>{164,75}</string>
                <key>textureRect</key>
                <string>{{283,414},{164,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Ranktop_UsagiBalloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,260}</string>
                <key>spriteSourceSize</key>
                <string>{386,260}</string>
                <key>textureRect</key>
                <string>{{585,1},{386,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Ranktop_Usagi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,163}</string>
                <key>spriteSourceSize</key>
                <string>{138,163}</string>
                <key>textureRect</key>
                <string>{{847,222},{138,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Ranktop_Usagi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,37}</string>
                <key>spriteSourceSize</key>
                <string>{15,37}</string>
                <key>textureRect</key>
                <string>{{283,491},{15,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranktop_btn_Charenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,58}</string>
                <key>spriteSourceSize</key>
                <string>{178,58}</string>
                <key>textureRect</key>
                <string>{{1094,277},{178,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranktop_btn_HighScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,30}</string>
                <key>spriteSourceSize</key>
                <string>{160,30}</string>
                <key>textureRect</key>
                <string>{{1125,115},{160,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranktop_btn_RankCheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{886,387},{100,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranktop_btn_Remuneration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,75}</string>
                <key>spriteSourceSize</key>
                <string>{140,75}</string>
                <key>textureRect</key>
                <string>{{449,414},{140,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ranking_top.png</string>
            <key>size</key>
            <string>{1156,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ded49ca8787119b71844e02c49582e45:8d71a976b6c0f5e382f673db74b59198:8c1bc9c6d64b9a748045cf62a557c8b7$</string>
            <key>textureFileName</key>
            <string>Ranking_top.png</string>
        </dict>
    </dict>
</plist>
