<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_eventlogbo_base1l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,189}</string>
                <key>spriteSourceSize</key>
                <string>{243,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_base1r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,127}</string>
                <key>spriteSourceSize</key>
                <string>{101,127}</string>
                <key>textureRect</key>
                <string>{{1,1190},{101,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_eventlogbo_base2c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{40,23}</string>
                <key>textureRect</key>
                <string>{{205,311},{40,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_base2item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,24}</string>
                <key>spriteSourceSize</key>
                <string>{81,24}</string>
                <key>textureRect</key>
                <string>{{173,980},{81,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_base2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,7}</string>
                <key>spriteSourceSize</key>
                <string>{40,7}</string>
                <key>textureRect</key>
                <string>{{246,1},{40,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_eventlogbo_base3l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,75}</string>
                <key>spriteSourceSize</key>
                <string>{204,75}</string>
                <key>textureRect</key>
                <string>{{1,192},{204,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_base3r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,75}</string>
                <key>spriteSourceSize</key>
                <string>{202,75}</string>
                <key>textureRect</key>
                <string>{{1,269},{202,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,31}</string>
                <key>spriteSourceSize</key>
                <string>{63,31}</string>
                <key>textureRect</key>
                <string>{{173,1006},{63,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_point2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{207,252},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_squar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1028},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square2frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1,1293},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{130,1221},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square3Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{163,1039},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square3w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{163,1130},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_squareframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,856},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_textbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,38}</string>
                <key>spriteSourceSize</key>
                <string>{580,38}</string>
                <key>textureRect</key>
                <string>{{205,336},{580,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_eventlogbo_textbase2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{207,192},{58,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_eventloginbonus_base1l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,189}</string>
                <key>spriteSourceSize</key>
                <string>{291,189}</string>
                <key>textureRect</key>
                <string>{{1,563},{291,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_eventlogbo_tapnext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,29}</string>
                <key>spriteSourceSize</key>
                <string>{122,29}</string>
                <key>textureRect</key>
                <string>{{173,856},{122,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_eventlogbo_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{197,112}</string>
                <key>spriteSourceSize</key>
                <string>{199,116}</string>
                <key>textureRect</key>
                <string>{{1,346},{197,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_eventlogbo_text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{191,101}</string>
                <key>spriteSourceSize</key>
                <string>{193,103}</string>
                <key>textureRect</key>
                <string>{{1,460},{191,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eventlogbo.png</string>
            <key>size</key>
            <string>{255,1406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47387d595b2144017b3915fb6ea0d680:8656c1cbf65c9084e357d101bbe452a4:afd71fcbe87f19843341aaf936930658$</string>
            <key>textureFileName</key>
            <string>eventlogbo.png</string>
        </dict>
    </dict>
</plist>
