<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_center_hwmoon_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_hwmoonbg_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{405,1},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_center_hwmoonc_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{163,153}</string>
                <key>spriteSourceSize</key>
                <string>{219,195}</string>
                <key>textureRect</key>
                <string>{{222,113},{163,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcandy1_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{146,222},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcandy2_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,367},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcap_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{405,99},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwhk_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{1,222},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwjery_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{220,268},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwkoumori_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{143,412},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwkumo_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,509},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwmoon_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{387,236},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwobake_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{285,475},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwpumpkin_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{365,332},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_center2_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,39}</string>
                <key>spriteSourceSize</key>
                <string>{124,39}</string>
                <key>textureRect</key>
                <string>{{387,195},{124,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_hwjery_hw20_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,110}</string>
                <key>spriteSourceSize</key>
                <string>{181,110}</string>
                <key>textureRect</key>
                <string>{{222,1},{181,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_hw20_night.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:496dcee49c496687f66afbebfa7f7585:a0a0dc17141c3410d5d898844ed837ee:1905723afc51a48031829a5e04dcf43e$</string>
            <key>textureFileName</key>
            <string>system_hw20_night.png</string>
        </dict>
    </dict>
</plist>
