<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Uly_elmball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,291}</string>
                <key>spriteSourceSize</key>
                <string>{292,291}</string>
                <key>textureRect</key>
                <string>{{426,1410},{292,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{639,423}</string>
                <key>spriteSourceSize</key>
                <string>{639,423}</string>
                <key>textureRect</key>
                <string>{{1,1049},{639,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_flash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,359}</string>
                <key>spriteSourceSize</key>
                <string>{492,359}</string>
                <key>textureRect</key>
                <string>{{887,1049},{492,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_flash02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,537}</string>
                <key>spriteSourceSize</key>
                <string>{310,537}</string>
                <key>textureRect</key>
                <string>{{135,1704},{310,537}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,174}</string>
                <key>spriteSourceSize</key>
                <string>{175,174}</string>
                <key>textureRect</key>
                <string>{{598,1049},{175,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,112}</string>
                <key>spriteSourceSize</key>
                <string>{59,112}</string>
                <key>textureRect</key>
                <string>{{719,1576},{59,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{983,1923},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1148,1923},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1221,1923},{68,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_gear06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1290,1923},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{780,1576},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,94}</string>
                <key>spriteSourceSize</key>
                <string>{99,94}</string>
                <key>textureRect</key>
                <string>{{887,1923},{99,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_gear09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{1560,1873},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,110}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{287,288}</string>
                <key>textureRect</key>
                <string>{{1700,1873},{53,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_gear11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{1077,1923},{74,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_gear12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,168}</string>
                <key>spriteSourceSize</key>
                <string>{173,168}</string>
                <key>textureRect</key>
                <string>{{598,1225},{173,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_gear13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,167}</string>
                <key>spriteSourceSize</key>
                <string>{178,167}</string>
                <key>textureRect</key>
                <string>{{1560,1704},{178,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_gear14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{389,350}</string>
                <key>spriteSourceSize</key>
                <string>{775,400}</string>
                <key>textureRect</key>
                <string>{{1393,1},{389,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,303}</string>
                <key>spriteSourceSize</key>
                <string>{211,303}</string>
                <key>textureRect</key>
                <string>{{674,1704},{211,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_rock02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,294}</string>
                <key>spriteSourceSize</key>
                <string>{188,294}</string>
                <key>textureRect</key>
                <string>{{1370,1704},{188,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Uly_rock03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,170}</string>
                <key>spriteSourceSize</key>
                <string>{247,170}</string>
                <key>textureRect</key>
                <string>{{426,1049},{247,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_rock04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,364}</string>
                <key>spriteSourceSize</key>
                <string>{728,364}</string>
                <key>textureRect</key>
                <string>{{1393,974},{728,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Uly_smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,345}</string>
                <key>spriteSourceSize</key>
                <string>{481,345}</string>
                <key>textureRect</key>
                <string>{{887,1576},{481,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Ulyi_Ulyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,28}</string>
                <key>spriteSize</key>
                <string>{1046,1390}</string>
                <key>spriteSourceSize</key>
                <string>{1550,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1046,1390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Ulyi_door02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,315}</string>
                <key>spriteSourceSize</key>
                <string>{132,315}</string>
                <key>textureRect</key>
                <string>{{1,1704},{132,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Ulyi_door03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{619,366}</string>
                <key>spriteSourceSize</key>
                <string>{775,400}</string>
                <key>textureRect</key>
                <string>{{1393,353},{619,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Ulyi_door04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{672,164}</string>
                <key>spriteSourceSize</key>
                <string>{710,170}</string>
                <key>textureRect</key>
                <string>{{719,1410},{672,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pfx_line_pink_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,140}</string>
                <key>spriteSourceSize</key>
                <string>{16,140}</string>
                <key>textureRect</key>
                <string>{{1761,353},{16,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skl_Ulysses.png</string>
            <key>size</key>
            <string>{1783,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43c3072d0d983cb76372d35f903773d:35d9b768813e3ee0524963e090a9114b:ff80aae18f68c4c20804f43b89e435d8$</string>
            <key>textureFileName</key>
            <string>skl_Ulysses.png</string>
        </dict>
    </dict>
</plist>
