<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_center_DanMachi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,270}</string>
                <key>spriteSourceSize</key>
                <string>{269,270}</string>
                <key>textureRect</key>
                <string>{{1,368},{269,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_DanMachi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{411,431},{58,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_center_DanMachi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,53}</string>
                <key>textureRect</key>
                <string>{{411,358},{71,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_DanMachi_m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{237,793},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DanMachi_m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{307,621},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DanMachi_m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{129,793},{104,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_DanMachi_m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,129}</string>
                <key>spriteSourceSize</key>
                <string>{141,129}</string>
                <key>textureRect</key>
                <string>{{367,1},{141,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_DanMachi_m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{405,515},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DanMachi_m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,126}</string>
                <key>spriteSourceSize</key>
                <string>{151,126}</string>
                <key>textureRect</key>
                <string>{{1,780},{151,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_DanMachi_m7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,104}</string>
                <key>spriteSourceSize</key>
                <string>{131,104}</string>
                <key>textureRect</key>
                <string>{{272,515},{131,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DanMachi_m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,130}</string>
                <key>spriteSourceSize</key>
                <string>{151,130}</string>
                <key>textureRect</key>
                <string>{{175,640},{151,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_DanMachi_m9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{367,285},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DanMachi_s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{440,285},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DanMachi_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{307,727},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DanMachi_s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{343,789},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_center1_DanMachi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,364}</string>
                <key>spriteSourceSize</key>
                <string>{365,364}</string>
                <key>textureRect</key>
                <string>{{1,1},{365,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>particle_DanMachi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,138}</string>
                <key>spriteSourceSize</key>
                <string>{172,138}</string>
                <key>textureRect</key>
                <string>{{1,640},{172,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_DanMachi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,130}</string>
                <key>spriteSourceSize</key>
                <string>{139,130}</string>
                <key>textureRect</key>
                <string>{{367,144},{139,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>particle_DanMachi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,145}</string>
                <key>spriteSourceSize</key>
                <string>{137,145}</string>
                <key>textureRect</key>
                <string>{{272,368},{137,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_DanMachi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987886a99ac23666275d2e76f7d0c3f0:08ff988f5115608f10f6a51e3373c16e:674f63587702e075ca7e42e854c7fa8d$</string>
            <key>textureFileName</key>
            <string>atls_DanMachi.png</string>
        </dict>
    </dict>
</plist>
