<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_iliya2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{126,114}</string>
                <key>textureRect</key>
                <string>{{271,354},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{271,470},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{399,354},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{376,589},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,98}</string>
                <key>spriteSourceSize</key>
                <string>{101,98}</string>
                <key>textureRect</key>
                <string>{{390,470},{101,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_iliya2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{100,615},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{271,589},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1,615},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_frill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1,345},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_iliya2_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{342,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_iliya2_iliya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,213}</string>
                <key>spriteSourceSize</key>
                <string>{165,213}</string>
                <key>textureRect</key>
                <string>{{345,1},{165,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_iliya2_miyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{345,216},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_line_rainbowbase2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,19}</string>
                <key>spriteSourceSize</key>
                <string>{7,19}</string>
                <key>textureRect</key>
                <string>{{271,345},{7,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{198,615},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_iliya2_ui_pic.png</string>
            <key>size</key>
            <string>{511,713}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfb4fe066a1eef8127cd7a568ea14565:9f956dc49dab554c8909959adca24c96:559625add24240eb113203c6d6ee009a$</string>
            <key>textureFileName</key>
            <string>atls_dgi_iliya2_ui_pic.png</string>
        </dict>
    </dict>
</plist>
