<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,176}</string>
                <key>spriteSourceSize</key>
                <string>{280,176}</string>
                <key>textureRect</key>
                <string>{{628,1},{280,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_line_p_balloon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{409,413},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_line_p_balloon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{821,411},{62,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_line_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{299,1},{296,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_line_p_dora.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,81}</string>
                <key>spriteSourceSize</key>
                <string>{109,81}</string>
                <key>textureRect</key>
                <string>{{596,179},{109,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_line_p_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{134,118}</string>
                <key>textureRect</key>
                <string>{{283,299},{134,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_line_p_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{723,351},{100,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_line_p_machine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{821,351},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,296}</string>
                <key>spriteSourceSize</key>
                <string>{296,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,93}</string>
                <key>textureRect</key>
                <string>{{628,351},{104,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_nationwide_p_net01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,132}</string>
                <key>spriteSourceSize</key>
                <string>{155,132}</string>
                <key>textureRect</key>
                <string>{{149,299},{155,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_nationwide_p_net02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{456,413},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,146}</string>
                <key>spriteSourceSize</key>
                <string>{160,146}</string>
                <key>textureRect</key>
                <string>{{1,299},{160,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_balloon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{283,435},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_balloon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{325,435},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_balloon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{367,435},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_balloon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{596,1},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_balloon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{596,43},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_balloon_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,70}</string>
                <key>spriteSourceSize</key>
                <string>{224,70}</string>
                <key>textureRect</key>
                <string>{{679,179},{224,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_line_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,59}</string>
                <key>spriteSourceSize</key>
                <string>{243,59}</string>
                <key>textureRect</key>
                <string>{{628,290},{243,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_nationwide_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,112}</string>
                <key>spriteSourceSize</key>
                <string>{223,112}</string>
                <key>textureRect</key>
                <string>{{403,299},{223,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_multitype.png</string>
            <key>size</key>
            <string>{909,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdcf8cc5c548f193aaf3102e145e6171:348e55b5aab6ff3870aea4ba391d6c91:090884edf241636f656ed03e3a6bf397$</string>
            <key>textureFileName</key>
            <string>quest_multitype.png</string>
        </dict>
    </dict>
</plist>
