<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_CP_ChainCountStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{2,147},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ComeYoureTurn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,56}</string>
                <key>spriteSourceSize</key>
                <string>{278,56}</string>
                <key>textureRect</key>
                <string>{{64,147},{278,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_CpScp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,41}</string>
                <key>textureRect</key>
                <string>{{718,2},{60,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverActivateStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,50}</string>
                <key>spriteSourceSize</key>
                <string>{620,50}</string>
                <key>textureRect</key>
                <string>{{2,95},{620,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{780,2},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{805,2},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{830,2},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,48}</string>
                <key>spriteSourceSize</key>
                <string>{372,48}</string>
                <key>textureRect</key>
                <string>{{364,45},{372,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,18}</string>
                <key>spriteSourceSize</key>
                <string>{276,18}</string>
                <key>textureRect</key>
                <string>{{2,2},{276,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Normal_thick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,35}</string>
                <key>spriteSourceSize</key>
                <string>{150,35}</string>
                <key>textureRect</key>
                <string>{{524,2},{150,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{280,2},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{301,2},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red02thick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{676,2},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{855,2},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red_thick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{697,2},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RestComeTurn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,42}</string>
                <key>spriteSourceSize</key>
                <string>{360,42}</string>
                <key>textureRect</key>
                <string>{{2,45},{360,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SCP_ChainCountStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{344,147},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TapCountStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{154,67}</string>
                <key>textureRect</key>
                <string>{{446,209},{154,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{602,209},{92,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChatOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,69}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{696,209},{94,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{407,147},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{555,147},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{703,147},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{851,147},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Fever_lockskill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{2,209},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_FirstTapOnly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{150,209},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_GoBatsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{298,209},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_SingleMode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,50}</string>
                <key>spriteSourceSize</key>
                <string>{379,50}</string>
                <key>textureRect</key>
                <string>{{624,95},{379,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_TapCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{466,2},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_TapCount_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{495,2},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_fever_levelup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,31}</string>
                <key>spriteSourceSize</key>
                <string>{142,31}</string>
                <key>textureRect</key>
                <string>{{322,2},{142,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_footer.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcabb337f2dad01f66e0cb8b7acc9cc9:5452b1457913927fbfb7031086b4a2e9:5ef36e0775e2a0b93882cbef35aa00d8$</string>
            <key>textureFileName</key>
            <string>battle_footer.png</string>
        </dict>
    </dict>
</plist>
