<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_CP_ChainCountStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{282,156},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ComeYoureTurn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,56}</string>
                <key>spriteSourceSize</key>
                <string>{278,56}</string>
                <key>textureRect</key>
                <string>{{2,156},{278,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_CpScp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,41}</string>
                <key>textureRect</key>
                <string>{{574,2},{60,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverActivateStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,50}</string>
                <key>spriteSourceSize</key>
                <string>{620,50}</string>
                <key>textureRect</key>
                <string>{{376,46},{620,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,48}</string>
                <key>spriteSourceSize</key>
                <string>{372,48}</string>
                <key>textureRect</key>
                <string>{{2,46},{372,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,18}</string>
                <key>spriteSourceSize</key>
                <string>{276,18}</string>
                <key>textureRect</key>
                <string>{{44,2},{276,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Normal_thick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,35}</string>
                <key>spriteSourceSize</key>
                <string>{150,35}</string>
                <key>textureRect</key>
                <string>{{422,2},{150,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{23,2},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{2,2},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red02thick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{380,2},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red_thick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{401,2},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RestComeTurn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,42}</string>
                <key>spriteSourceSize</key>
                <string>{360,42}</string>
                <key>textureRect</key>
                <string>{{636,2},{360,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SCP_ChainCountStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{816,98},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TapCountStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{154,67}</string>
                <key>textureRect</key>
                <string>{{634,156},{154,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{790,156},{92,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChatOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,69}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{884,156},{94,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{344,156},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{671,98},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Fever_lockskill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,55}</string>
                <key>spriteSourceSize</key>
                <string>{141,55}</string>
                <key>textureRect</key>
                <string>{{383,98},{141,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_FirstTapOnly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,58}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{489,156},{143,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_GoBatsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{526,98},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_SingleMode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,50}</string>
                <key>spriteSourceSize</key>
                <string>{379,50}</string>
                <key>textureRect</key>
                <string>{{2,98},{379,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_TapCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{351,2},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_TapCount_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{322,2},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_footer.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbf74ef2aa9e35cc4e92c8c3abaf4e03:7ded02d985fa7e739e43e3f6a88ec55d:5ef36e0775e2a0b93882cbef35aa00d8$</string>
            <key>textureFileName</key>
            <string>battle_footer.png</string>
        </dict>
    </dict>
</plist>
