<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_EnemyHpGage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,11}</string>
                <key>spriteSourceSize</key>
                <string>{110,11}</string>
                <key>textureRect</key>
                <string>{{114,11},{110,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,11}</string>
                <key>spriteSourceSize</key>
                <string>{110,11}</string>
                <key>textureRect</key>
                <string>{{226,11},{110,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_Blue_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,7}</string>
                <key>spriteSourceSize</key>
                <string>{110,7}</string>
                <key>textureRect</key>
                <string>{{2,2},{110,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_Damage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,11}</string>
                <key>spriteSourceSize</key>
                <string>{110,11}</string>
                <key>textureRect</key>
                <string>{{338,11},{110,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_Damage_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,7}</string>
                <key>spriteSourceSize</key>
                <string>{110,7}</string>
                <key>textureRect</key>
                <string>{{114,2},{110,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,11}</string>
                <key>spriteSourceSize</key>
                <string>{110,11}</string>
                <key>textureRect</key>
                <string>{{2,24},{110,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_Green_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,7}</string>
                <key>spriteSourceSize</key>
                <string>{110,7}</string>
                <key>textureRect</key>
                <string>{{226,2},{110,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_Repare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,11}</string>
                <key>spriteSourceSize</key>
                <string>{110,11}</string>
                <key>textureRect</key>
                <string>{{114,24},{110,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,7}</string>
                <key>spriteSourceSize</key>
                <string>{110,7}</string>
                <key>textureRect</key>
                <string>{{338,2},{110,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGage_virus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{270,24},{44,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{60,132},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Aqua.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{224,132},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Aqua_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,52}</string>
                <key>spriteSourceSize</key>
                <string>{165,52}</string>
                <key>textureRect</key>
                <string>{{316,24},{165,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{2,195},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Elec.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{166,195},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Elec_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,52}</string>
                <key>spriteSourceSize</key>
                <string>{165,52}</string>
                <key>textureRect</key>
                <string>{{2,78},{165,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{330,195},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Fire.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{2,258},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Fire_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,52}</string>
                <key>spriteSourceSize</key>
                <string>{165,52}</string>
                <key>textureRect</key>
                <string>{{169,78},{165,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{166,258},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Wood.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{330,258},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemyHpGaugeStage_Wood_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,52}</string>
                <key>spriteSourceSize</key>
                <string>{165,52}</string>
                <key>textureRect</key>
                <string>{{336,78},{165,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemySkill01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{2,321},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EnemySkill02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,82}</string>
                <key>spriteSourceSize</key>
                <string>{183,82}</string>
                <key>textureRect</key>
                <string>{{158,321},{183,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TargetMarker_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,132},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TargetMarker_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{78,321},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TargetMarker_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{343,321},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_enemyhpgage_repare_slim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,7}</string>
                <key>spriteSourceSize</key>
                <string>{110,7}</string>
                <key>textureRect</key>
                <string>{{2,11},{110,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_CountResult_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{226,24},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_CountResult_ja.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{248,24},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_info.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f49acdf9507890336b4d7e9bc02abd2:cafcc1f0e256255db07afbb96a2f3aa5:c29f7c5ca115dc277aba0c4cfbdeafc6$</string>
            <key>textureFileName</key>
            <string>enemy_info.png</string>
        </dict>
    </dict>
</plist>
