<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_BattleStatusFrame_base_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,240}</string>
                <key>spriteSourceSize</key>
                <string>{82,240}</string>
                <key>textureRect</key>
                <string>{{373,1},{82,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatusFrame_base_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,239}</string>
                <key>spriteSourceSize</key>
                <string>{82,239}</string>
                <key>textureRect</key>
                <string>{{1,773},{82,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_base_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,239}</string>
                <key>spriteSourceSize</key>
                <string>{82,239}</string>
                <key>textureRect</key>
                <string>{{373,243},{82,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatusFrame_base_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,239}</string>
                <key>spriteSourceSize</key>
                <string>{82,239}</string>
                <key>textureRect</key>
                <string>{{1,857},{82,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_scrollbar1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,234}</string>
                <key>spriteSourceSize</key>
                <string>{8,234}</string>
                <key>textureRect</key>
                <string>{{1,979},{8,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_scrollbar1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,111}</string>
                <key>spriteSourceSize</key>
                <string>{22,111}</string>
                <key>textureRect</key>
                <string>{{327,633},{22,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatusFrame_skillframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,113}</string>
                <key>spriteSourceSize</key>
                <string>{57,113}</string>
                <key>textureRect</key>
                <string>{{351,656},{57,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatusFrame_top_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,47}</string>
                <key>spriteSourceSize</key>
                <string>{630,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{630,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_top_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,47}</string>
                <key>spriteSourceSize</key>
                <string>{630,47}</string>
                <key>textureRect</key>
                <string>{{50,1},{630,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_top_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,47}</string>
                <key>spriteSourceSize</key>
                <string>{630,47}</string>
                <key>textureRect</key>
                <string>{{99,1},{630,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_top_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,47}</string>
                <key>spriteSourceSize</key>
                <string>{630,47}</string>
                <key>textureRect</key>
                <string>{{148,1},{630,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_under_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,42}</string>
                <key>spriteSourceSize</key>
                <string>{630,42}</string>
                <key>textureRect</key>
                <string>{{197,1},{630,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_under_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,42}</string>
                <key>spriteSourceSize</key>
                <string>{630,42}</string>
                <key>textureRect</key>
                <string>{{241,1},{630,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_under_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,42}</string>
                <key>spriteSourceSize</key>
                <string>{630,42}</string>
                <key>textureRect</key>
                <string>{{285,1},{630,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_under_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,42}</string>
                <key>spriteSourceSize</key>
                <string>{630,42}</string>
                <key>textureRect</key>
                <string>{{329,1},{630,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BattleStatusFrame_unitstatus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{324,138}</string>
                <key>spriteSourceSize</key>
                <string>{326,138}</string>
                <key>textureRect</key>
                <string>{{1,633},{324,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatus_Noavilityflame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,113}</string>
                <key>spriteSourceSize</key>
                <string>{57,113}</string>
                <key>textureRect</key>
                <string>{{345,771},{57,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatus_Noavilityitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{242,911},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatus_scrollbar2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,273}</string>
                <key>spriteSourceSize</key>
                <string>{33,273}</string>
                <key>textureRect</key>
                <string>{{457,1},{33,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatus_scrollbar2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,170}</string>
                <key>spriteSourceSize</key>
                <string>{39,170}</string>
                <key>textureRect</key>
                <string>{{373,484},{39,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatus_scrollbar2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,136}</string>
                <key>spriteSourceSize</key>
                <string>{101,136}</string>
                <key>textureRect</key>
                <string>{{242,773},{101,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BattleStatus_scrollbar2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,48}</string>
                <key>textureRect</key>
                <string>{{352,886},{86,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Leaderskillbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,17}</string>
                <key>spriteSourceSize</key>
                <string>{272,17}</string>
                <key>textureRect</key>
                <string>{{1,941},{272,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_avilitybase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,17}</string>
                <key>spriteSourceSize</key>
                <string>{272,17}</string>
                <key>textureRect</key>
                <string>{{1,960},{272,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bugEFbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,17}</string>
                <key>spriteSourceSize</key>
                <string>{272,17}</string>
                <key>textureRect</key>
                <string>{{457,276},{272,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_cskillbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,17}</string>
                <key>spriteSourceSize</key>
                <string>{272,17}</string>
                <key>textureRect</key>
                <string>{{476,276},{272,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_skillbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,17}</string>
                <key>spriteSourceSize</key>
                <string>{272,17}</string>
                <key>textureRect</key>
                <string>{{414,484},{272,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_wskillbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,17}</string>
                <key>spriteSourceSize</key>
                <string>{272,17}</string>
                <key>textureRect</key>
                <string>{{433,484},{272,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_BattleStatus_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{275,911},{75,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_BattleStatus_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,65}</string>
                <key>spriteSourceSize</key>
                <string>{77,65}</string>
                <key>textureRect</key>
                <string>{{404,771},{77,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_BattleStatus_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,77}</string>
                <key>spriteSourceSize</key>
                <string>{63,77}</string>
                <key>textureRect</key>
                <string>{{404,850},{63,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_BattleStatus_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{402,915},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_status.png</string>
            <key>size</key>
            <string>{494,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85f445f8f5df3f7649582e7fad25e27:8c120a95ff9ebfb81174c06e275ce01a:9ab1834c3476bd2257f74c57af53d151$</string>
            <key>textureFileName</key>
            <string>battle_status.png</string>
        </dict>
    </dict>
</plist>
