<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Confetti_half6th01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{1,459},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Confetti_half6th02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{1,475},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Confetti_half6th03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{14,459},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Confetti_half6th04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{14,475},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Confetti_half6th05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{27,459},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Confetti_half6th06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{27,475},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_half6th00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,215}</string>
                <key>spriteSourceSize</key>
                <string>{241,215}</string>
                <key>textureRect</key>
                <string>{{1417,271},{241,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_half6th01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{230,229}</string>
                <key>textureRect</key>
                <string>{{1186,271},{230,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_half6th02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,270}</string>
                <key>spriteSourceSize</key>
                <string>{268,270}</string>
                <key>textureRect</key>
                <string>{{1186,1},{268,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_half6th03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,319}</string>
                <key>spriteSourceSize</key>
                <string>{318,319}</string>
                <key>textureRect</key>
                <string>{{866,1},{318,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_half6th04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,416}</string>
                <key>spriteSourceSize</key>
                <string>{409,416}</string>
                <key>textureRect</key>
                <string>{{455,1},{409,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_half6th05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,452}</string>
                <key>spriteSourceSize</key>
                <string>{456,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_half6th01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{866,322},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_half6th02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{866,409},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_half6th03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{953,322},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_half6th04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{455,419},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_half6th05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{953,409},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_half6th06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1040,322},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_half6th07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1040,409},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_half6th_UI_bg.png</string>
            <key>size</key>
            <string>{1659,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8855743c8dae4e19cb1ad85f04ef7d73:ad096bdd5177d2689c8738e012cede0d:ab77c264f8d4cd8fc4e449957b1790f3$</string>
            <key>textureFileName</key>
            <string>atls_half6th_UI_bg.png</string>
        </dict>
    </dict>
</plist>
