<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_Guerrilla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{413,692},{113,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_event_p_boss01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,66}</string>
                <key>spriteSourceSize</key>
                <string>{99,66}</string>
                <key>textureRect</key>
                <string>{{343,705},{99,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_event_p_boss02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{92,39}</string>
                <key>textureRect</key>
                <string>{{517,705},{92,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,156}</string>
                <key>spriteSourceSize</key>
                <string>{260,156}</string>
                <key>textureRect</key>
                <string>{{265,414},{258,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_event_p_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,83}</string>
                <key>spriteSourceSize</key>
                <string>{92,83}</string>
                <key>textureRect</key>
                <string>{{142,705},{92,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_lock_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,155}</string>
                <key>spriteSourceSize</key>
                <string>{259,155}</string>
                <key>textureRect</key>
                <string>{{531,237},{259,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_dack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,122}</string>
                <key>spriteSourceSize</key>
                <string>{112,122}</string>
                <key>textureRect</key>
                <string>{{558,804},{112,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_dack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{13,27}</string>
                <key>textureRect</key>
                <string>{{1009,1},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{262,234}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{531,1},{262,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_lock_p_key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,59}</string>
                <key>spriteSourceSize</key>
                <string>{34,59}</string>
                <key>textureRect</key>
                <string>{{335,944},{34,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_alice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,73}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{268,705},{92,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_normal_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,152}</string>
                <key>textureRect</key>
                <string>{{525,551},{256,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,129}</string>
                <key>spriteSourceSize</key>
                <string>{113,129}</string>
                <key>textureRect</key>
                <string>{{443,807},{113,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_p_usagi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{12,29}</string>
                <key>textureRect</key>
                <string>{{1009,30},{12,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_boss01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,70}</string>
                <key>spriteSourceSize</key>
                <string>{136,70}</string>
                <key>textureRect</key>
                <string>{{335,806},{136,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_boss02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,49}</string>
                <key>spriteSourceSize</key>
                <string>{109,49}</string>
                <key>textureRect</key>
                <string>{{971,689},{109,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_boss03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{371,944},{53,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_boss04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{517,749},{53,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,155}</string>
                <key>spriteSourceSize</key>
                <string>{259,155}</string>
                <key>textureRect</key>
                <string>{{265,257},{259,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_dora.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,749},{66,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,15}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{1009,61},{8,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{62,55}</string>
                <key>textureRect</key>
                <string>{{212,968},{62,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{262,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,225},{262,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_raid_p_mchine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{977,447},{58,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_raid_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{276,967},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,155}</string>
                <key>spriteSourceSize</key>
                <string>{261,155}</string>
                <key>textureRect</key>
                <string>{{526,394},{259,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,103}</string>
                <key>spriteSourceSize</key>
                <string>{118,103}</string>
                <key>textureRect</key>
                <string>{{413,572},{118,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_rank_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{264,222}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_rank_p_kirakira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{261,572},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_tower_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,155}</string>
                <key>spriteSourceSize</key>
                <string>{258,155}</string>
                <key>textureRect</key>
                <string>{{1,469},{258,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_Rising.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,70}</string>
                <key>spriteSourceSize</key>
                <string>{39,70}</string>
                <key>textureRect</key>
                <string>{{69,749},{39,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_toweri_p_boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{74,30}</string>
                <key>textureRect</key>
                <string>{{156,626},{74,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_toweri_p_boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{1,976},{79,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{644,978},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{262,254}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{267,1},{262,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_toweri_p_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,130}</string>
                <key>spriteSourceSize</key>
                <string>{174,130}</string>
                <key>textureRect</key>
                <string>{{1,800},{174,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fukidasi_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{792,347},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{787,427},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{783,667},{186,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{787,507},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{792,265},{188,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{783,587},{188,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Eventquest_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{262,212}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{795,1},{262,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_comingsoon_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,38}</string>
                <key>spriteSourceSize</key>
                <string>{124,38}</string>
                <key>textureRect</key>
                <string>{{555,938},{122,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_event_collabo_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,34}</string>
                <key>spriteSourceSize</key>
                <string>{132,34}</string>
                <key>textureRect</key>
                <string>{{407,807},{132,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_event_guerrilla_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,40}</string>
                <key>spriteSourceSize</key>
                <string>{180,44}</string>
                <key>textureRect</key>
                <string>{{982,265},{180,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_event_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,73}</string>
                <key>textureRect</key>
                <string>{{188,626},{131,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_lock_freeplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,42}</string>
                <key>spriteSourceSize</key>
                <string>{139,42}</string>
                <key>textureRect</key>
                <string>{{1,705},{139,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_lock_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{1,626},{153,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_normal_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,80}</string>
                <key>spriteSourceSize</key>
                <string>{165,80}</string>
                <key>textureRect</key>
                <string>{{253,800},{165,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_raid_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,90}</string>
                <key>textureRect</key>
                <string>{{321,572},{131,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_ eventperiod_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{96,39}</string>
                <key>spriteSourceSize</key>
                <string>{170,41}</string>
                <key>textureRect</key>
                <string>{{227,701},{96,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_aggregate_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,44}</string>
                <key>textureRect</key>
                <string>{{82,976},{128,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rank_inSession_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,36}</string>
                <key>spriteSourceSize</key>
                <string>{87,36}</string>
                <key>textureRect</key>
                <string>{{555,978},{87,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_rank_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,76}</string>
                <key>spriteSourceSize</key>
                <string>{170,76}</string>
                <key>textureRect</key>
                <string>{{133,800},{170,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_result_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,40}</string>
                <key>spriteSourceSize</key>
                <string>{166,40}</string>
                <key>textureRect</key>
                <string>{{211,800},{166,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_rank_upcoming_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,44}</string>
                <key>spriteSourceSize</key>
                <string>{180,44}</string>
                <key>textureRect</key>
                <string>{{977,507},{180,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_toweri_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,82}</string>
                <key>textureRect</key>
                <string>{{413,941},{140,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_questtype.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9122cecb30798b61fb7395849c61b5:78dd7bfdeac95445b9f374c00cbbe34b:3e5381a98de1699a189430713579e9ac$</string>
            <key>textureFileName</key>
            <string>quest_questtype.png</string>
        </dict>
    </dict>
</plist>
