<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_vertical_Flash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{256,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{178,52},{256,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d-shield_cutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{1,1},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d-shield_line_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,22}</string>
                <key>spriteSourceSize</key>
                <string>{45,22}</string>
                <key>textureRect</key>
                <string>{{86,1},{45,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d-shield_square_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{453,457}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1,164},{453,457}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d-shield_triangle_m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{35,18}</string>
                <key>spriteSourceSize</key>
                <string>{37,20}</string>
                <key>textureRect</key>
                <string>{{49,1},{35,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d-shield_triangle_m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,12}</string>
                <key>textureRect</key>
                <string>{{15,1},{32,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_dimension.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,49}</string>
                <key>spriteSourceSize</key>
                <string>{259,49}</string>
                <key>textureRect</key>
                <string>{{133,1},{259,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,49}</string>
                <key>spriteSourceSize</key>
                <string>{175,49}</string>
                <key>textureRect</key>
                <string>{{1,52},{175,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_d-shield_effect.png</string>
            <key>size</key>
            <string>{459,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aac1d2b3b33750f9a0e0ccd6d4f3c39:2dd51e6f9a4b43808530fd7618961d0a:10cea7b476f60814e88e4bf66a121259$</string>
            <key>textureFileName</key>
            <string>atls_d-shield_effect.png</string>
        </dict>
    </dict>
</plist>
