<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_logbo_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,960}</string>
                <key>spriteSourceSize</key>
                <string>{658,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{656,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,70}</string>
                <key>spriteSourceSize</key>
                <string>{85,70}</string>
                <key>textureRect</key>
                <string>{{865,1},{85,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_logbo_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{832,605},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_square02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{832,716},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_squareFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{832,268},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_tapnext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,31}</string>
                <key>spriteSourceSize</key>
                <string>{145,31}</string>
                <key>textureRect</key>
                <string>{{832,1},{145,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_logbo_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,171}</string>
                <key>spriteSourceSize</key>
                <string>{215,171}</string>
                <key>textureRect</key>
                <string>{{659,607},{215,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_logbo_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{832,381},{110,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_logbo_get02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{832,493},{110,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_logbo_get03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{832,148},{118,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_logbo_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,125}</string>
                <key>spriteSourceSize</key>
                <string>{240,125}</string>
                <key>textureRect</key>
                <string>{{659,824},{240,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_logbo_text02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{604,171}</string>
                <key>spriteSourceSize</key>
                <string>{616,171}</string>
                <key>textureRect</key>
                <string>{{659,1},{604,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>logbo_page01.png</string>
            <key>size</key>
            <string>{945,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79a8397e67cb7f521a81189d42fa068d:5d1174fc0e6b84d8d8924a140a1967d4:3e50e10824efdaed19dd24ce7d136e22$</string>
            <key>textureFileName</key>
            <string>logbo_page01.png</string>
        </dict>
    </dict>
</plist>
