<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_BugEFBaloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,46}</string>
                <key>spriteSourceSize</key>
                <string>{116,46}</string>
                <key>textureRect</key>
                <string>{{60,60},{116,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_BugEFBaloon_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{121,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEFBaloon_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,57}</string>
                <key>spriteSourceSize</key>
                <string>{120,57}</string>
                <key>textureRect</key>
                <string>{{1,183},{120,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEFBaloon_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{121,57}</string>
                <key>textureRect</key>
                <string>{{124,1},{121,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEFBaloon_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{121,57}</string>
                <key>textureRect</key>
                <string>{{1,60},{121,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_BugEF_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{222,145},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_BugEF_First.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,25}</string>
                <key>spriteSourceSize</key>
                <string>{91,25}</string>
                <key>textureRect</key>
                <string>{{108,60},{91,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_BugEFBaloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,17}</string>
                <key>spriteSourceSize</key>
                <string>{84,17}</string>
                <key>textureRect</key>
                <string>{{108,153},{84,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_BugEFBaloon_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{123,172},{83,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_BugEFBaloon_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{156,172},{83,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_BugEFBaloon_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{189,172},{83,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_BugEFBaloon_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{222,60},{83,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BugEF_Invoc.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a461edddf2ada2ad7af47ae76527398e:5087865c51687a66bccf755ee6070d28:ceeb2523d6f1b6dec3fc9007039f17eb$</string>
            <key>textureFileName</key>
            <string>BugEF_Invoc.png</string>
        </dict>
    </dict>
</plist>
