<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_SkillDetailStage_flame_Lo_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,61}</string>
                <key>spriteSourceSize</key>
                <string>{650,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{650,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetailStage_flame_Lo_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,61}</string>
                <key>spriteSourceSize</key>
                <string>{650,61}</string>
                <key>textureRect</key>
                <string>{{1,64},{650,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetailStage_flame_Lo_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,61}</string>
                <key>spriteSourceSize</key>
                <string>{650,61}</string>
                <key>textureRect</key>
                <string>{{1,127},{650,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetailStage_flame_Lo_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,61}</string>
                <key>spriteSourceSize</key>
                <string>{650,61}</string>
                <key>textureRect</key>
                <string>{{1,190},{650,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetailStage_flame_Up_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,43}</string>
                <key>spriteSourceSize</key>
                <string>{650,43}</string>
                <key>textureRect</key>
                <string>{{1,253},{650,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetailStage_flame_Up_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,43}</string>
                <key>spriteSourceSize</key>
                <string>{650,43}</string>
                <key>textureRect</key>
                <string>{{1,298},{650,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetailStage_flame_Up_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,43}</string>
                <key>spriteSourceSize</key>
                <string>{650,43}</string>
                <key>textureRect</key>
                <string>{{1,343},{650,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetailStage_flame_Up_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,43}</string>
                <key>spriteSourceSize</key>
                <string>{650,43}</string>
                <key>textureRect</key>
                <string>{{1,388},{650,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_SkillDetailStage_flame_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{653,1},{37,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UnitNewDetail_flame.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7adf9d44e71e3516d65289a82dd974f2:f3482ebdb759503ac59b00f75e4d64a2:258c103263b4e76431c351f75166a9e4$</string>
            <key>textureFileName</key>
            <string>UnitNewDetail_flame.png</string>
        </dict>
    </dict>
</plist>
