<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CSkillMAX_Aqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{1,1},{90,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CSkillMAX_Elec.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{93,1},{90,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CSkillMAX_Fire.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{185,1},{90,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CSkillMAX_Wood.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{277,1},{90,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_SkillOK_chargeAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{82,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{369,1},{82,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_SkillOK_chargeElec.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{82,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{453,1},{82,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_SkillOK_chargeFire.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{82,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{537,1},{82,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_SkillOK_chargeWood.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{82,42}</string>
			<key>spriteSourceSize</key>
			<string>{96,48}</string>
			<key>textureRect</key>
			<string>{{621,1},{82,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>SKILL_change_button.png</string>
		<key>size</key>
		<string>{704,44}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:645af8aed35333b4a5d560c9c01c8364:8898d74a6216223e683b62b4e989e105:8f5ffcb2babf80a1caf60856baa4c656$</string>
		<key>textureFileName</key>
		<string>SKILL_change_button.png</string>
	</dict>
</dict>
</plist>
