<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panel_sea_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,87}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{401,1},{92,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_sea_Aqua_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,103}</string>
                <key>spriteSourceSize</key>
                <string>{108,103}</string>
                <key>textureRect</key>
                <string>{{115,114},{108,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panel_sea_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,75}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{220,111},{108,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panel_sea_Elec_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,91}</string>
                <key>spriteSourceSize</key>
                <string>{124,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panel_sea_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{307,1},{97,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panel_sea_Fire_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{94,1},{111,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panel_sea_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,86}</string>
                <key>textureRect</key>
                <string>{{401,90},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_sea_Heart_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,101}</string>
                <key>spriteSourceSize</key>
                <string>{108,101}</string>
                <key>textureRect</key>
                <string>{{204,1},{108,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panel_sea_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{297,111},{97,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panel_sea_Wood_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{1,127},{113,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Panel_sra.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63a7faec961f1ee6dac29a9491793c44:bde2ba2486633ec2f78c43770496ba55:ed9d0b53187d23b955cb5b391f8a445e$</string>
            <key>textureFileName</key>
            <string>Panel_sra.png</string>
        </dict>
    </dict>
</plist>
