<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_Fire_Sea_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Fire_Sea_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{103,1},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Fire_Sea_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{215,1},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Fire_Sea_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,33}</string>
                <key>spriteSize</key>
                <string>{198,254}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{339,1},{198,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Fire_Sea_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-2}</string>
                <key>spriteSize</key>
                <string>{344,352}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{595,1},{344,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Fire_Sea_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{450,444}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1347,437},{450,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Fire_Sea_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{438,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,201},{438,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Fire_Sea_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{440,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{895,437},{440,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Fire_Sea_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{440,438}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,347},{440,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Fire_Sea_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{436,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{949,1},{436,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Fire_Sea_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{436,434}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1387,1},{436,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Fire_Sea.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ec73b989db54b600cb642c78d6b704:7aa76fc984e18923658e45a1a0d83047:c7b542623e761c8dc627e3ece3b1504c$</string>
            <key>textureFileName</key>
            <string>seq_Break_Fire_Sea.png</string>
        </dict>
    </dict>
</plist>
