<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_Heart_Sea_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_Sea_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{97,1},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_Sea_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,106}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,1},{116,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_Sea_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,33}</string>
                <key>spriteSize</key>
                <string>{200,252}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{321,1},{200,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Heart_Sea_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,21}</string>
                <key>spriteSize</key>
                <string>{344,398}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{575,1},{344,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Heart_Sea_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{450,436}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,203},{450,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_Sea_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{438,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{899,435},{438,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Heart_Sea_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{440,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1351,435},{440,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Heart_Sea_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{444,436}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,347},{444,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_Sea_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{440,432}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{975,1},{440,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Heart_Sea_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{440,432}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1417,1},{440,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Heart_Sea.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf3339c328cfe8c9748a773c8496d73:ab218ee54d91ad32c52a97ecc1db54a6:37466b0c3ead3e9dce6a023492e1af64$</string>
            <key>textureFileName</key>
            <string>seq_Break_Heart_Sea.png</string>
        </dict>
    </dict>
</plist>
