<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seq_Break_Elec_Sea_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,78}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_Sea_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{113,1},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_Sea_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{235,1},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_Sea_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,34}</string>
                <key>spriteSize</key>
                <string>{224,250}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{373,1},{224,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Elec_Sea_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-7}</string>
                <key>spriteSize</key>
                <string>{362,342}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{625,1},{362,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_Sea_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{450,430}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{447,345},{450,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_Sea_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{438,446}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{899,411},{438,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Elec_Sea_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{440,444}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1347,419},{440,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Break_Elec_Sea_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{444,422}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,227},{444,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_Sea_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{440,416}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1431,1},{440,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Break_Elec_Sea_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{440,408}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{989,1},{440,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seq_Break_Elec_Sea.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71113444057fdefb08c27c619c381faa:528e5c3a9e4dda53c2c53e1ea5cc257c:dc1717ec233a7337934aa59ba8c4936f$</string>
            <key>textureFileName</key>
            <string>seq_Break_Elec_Sea.png</string>
        </dict>
    </dict>
</plist>
