<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Madomagi_kyube_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,73}</string>
                <key>spriteSourceSize</key>
                <string>{136,73}</string>
                <key>textureRect</key>
                <string>{{331,250},{136,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Madomagi_kyube_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,82}</string>
                <key>spriteSourceSize</key>
                <string>{149,82}</string>
                <key>textureRect</key>
                <string>{{1,330},{149,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Madomagi_kyube_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,72}</string>
                <key>spriteSourceSize</key>
                <string>{137,72}</string>
                <key>textureRect</key>
                <string>{{1,414},{137,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_Madomagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,247}</string>
                <key>spriteSourceSize</key>
                <string>{247,247}</string>
                <key>textureRect</key>
                <string>{{331,1},{247,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{691,1},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{580,112},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{690,112},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{152,330},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{469,250},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{370,387},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{579,259},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{688,259},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{580,1},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{479,368},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{588,368},{107,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_Madomagi_m9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,107}</string>
                <key>spriteSourceSize</key>
                <string>{106,107}</string>
                <key>textureRect</key>
                <string>{{262,330},{106,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{696,429},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{696,368},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_Madomagi_s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{370,325},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_raid_center2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,35}</string>
                <key>spriteSourceSize</key>
                <string>{116,35}</string>
                <key>textureRect</key>
                <string>{{580,222},{116,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_circle_center1_Madomagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,327}</string>
                <key>spriteSourceSize</key>
                <string>{328,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_Madomagi.png</string>
            <key>size</key>
            <string>{799,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:192808dd440ca7bb3b61b1041a64688d:40aed1a675c8605c539eeff8c79604ac:7b7d4ab6b9fe67c3e5154c1257c63728$</string>
            <key>textureFileName</key>
            <string>system_Madomagi.png</string>
        </dict>
    </dict>
</plist>
