<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_panel_pwdw01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{47,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_panel_pwdw02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{50,1},{42,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_panel_pwdw03_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,60},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_panel_pwdw04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,9}</string>
                <key>spriteSourceSize</key>
                <string>{43,9}</string>
                <key>textureRect</key>
                <string>{{1,117},{43,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PanelDamageDownunder.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4793446db7e3fbdbbe70de5e3c5ec48:74f3c5007d944210cb3a2571141a4f4f:6552f9c7d32c71307ab6095a3c540ee5$</string>
            <key>textureFileName</key>
            <string>PanelDamageDownunder.png</string>
        </dict>
    </dict>
</plist>
