<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_panel_pwdw03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{69,50},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_panel_pwup01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{69,1},{47,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_panel_pwup02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{58,107},{50,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_panel_pwup02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_panel_pwup02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,69},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PanelDamageUPunder.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaded3a4a0d5c305b90a9c7a14672450:f473986d616ec1d411c2de1c21beaabc:6895c50e97ccb72524d0d15463ded658$</string>
            <key>textureFileName</key>
            <string>PanelDamageUPunder.png</string>
        </dict>
    </dict>
</plist>
