<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_laser_foor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,202}</string>
                <key>spriteSourceSize</key>
                <string>{500,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_laser_kirari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,197}</string>
                <key>spriteSourceSize</key>
                <string>{200,197}</string>
                <key>textureRect</key>
                <string>{{403,402},{200,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_laser_ring01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,396}</string>
                <key>spriteSourceSize</key>
                <string>{400,396}</string>
                <key>textureRect</key>
                <string>{{1,205},{400,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_laser_snm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,367}</string>
                <key>spriteSourceSize</key>
                <string>{358,367}</string>
                <key>textureRect</key>
                <string>{{1,603},{358,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_laser_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,399}</string>
                <key>spriteSourceSize</key>
                <string>{400,399}</string>
                <key>textureRect</key>
                <string>{{503,1},{400,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_laser_yuki01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,365}</string>
                <key>spriteSourceSize</key>
                <string>{325,365}</string>
                <key>textureRect</key>
                <string>{{361,603},{325,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgi_ice_laser.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:297c643bc02d493b159605e4eeaec358:420ef35a20ac37c1e7672a2439e70f34:1f0e3261acd8f7f5e2e11358bd4284a5$</string>
            <key>textureFileName</key>
            <string>bgi_ice_laser.png</string>
        </dict>
    </dict>
</plist>
