<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Quest_Special_boss_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,49}</string>
                <key>spriteSourceSize</key>
                <string>{96,49}</string>
                <key>textureRect</key>
                <string>{{444,785},{96,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_Special_boss_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{347,734},{69,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_Special_boss_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,26}</string>
                <key>textureRect</key>
                <string>{{575,724},{35,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_Special_chara_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,35}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{768,530},{41,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Quest_Special_chara_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,33}</string>
                <key>textureRect</key>
                <string>{{650,780},{45,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_Special_chara_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{768,490},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_Special_chara_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{38,35}</string>
                <key>textureRect</key>
                <string>{{768,567},{38,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Quest_Special_chara_aye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,11}</string>
                <key>spriteSourceSize</key>
                <string>{6,11}</string>
                <key>textureRect</key>
                <string>{{377,734},{6,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Quest_Special_crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,74}</string>
                <key>textureRect</key>
                <string>{{495,785},{86,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_apple_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{347,871},{63,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_apple_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,57}</string>
                <key>spriteSourceSize</key>
                <string>{72,57}</string>
                <key>textureRect</key>
                <string>{{436,889},{72,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_apple_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,9}</string>
                <key>spriteSourceSize</key>
                <string>{13,9}</string>
                <key>textureRect</key>
                <string>{{416,407},{13,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_bit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{73,52}</string>
                <key>textureRect</key>
                <string>{{382,889},{73,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_bit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{575,643},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Quest_daily_boss_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,36}</string>
                <key>spriteSourceSize</key>
                <string>{55,36}</string>
                <key>textureRect</key>
                <string>{{143,893},{55,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_boss_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,24}</string>
                <key>spriteSourceSize</key>
                <string>{52,24}</string>
                <key>textureRect</key>
                <string>{{143,950},{52,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_dack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{495,873},{69,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Quest_daily_dack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{143,1004},{14,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Quest_daily_kirakira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{777,386},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_usagi_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,91}</string>
                <key>textureRect</key>
                <string>{{708,705},{80,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_normal_usagi_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,23}</string>
                <key>spriteSourceSize</key>
                <string>{11,23}</string>
                <key>textureRect</key>
                <string>{{391,407},{11,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_normal_usagi_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,57}</string>
                <key>spriteSourceSize</key>
                <string>{244,57}</string>
                <key>textureRect</key>
                <string>{{385,643},{244,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_normal_usagi_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{768,604},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_Event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{428,306}</string>
                <key>spriteSourceSize</key>
                <string>{428,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{428,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_Event_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,292}</string>
                <key>spriteSourceSize</key>
                <string>{422,292}</string>
                <key>textureRect</key>
                <string>{{431,1},{422,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_Event_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{325,936},{45,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_Tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{140,129}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{183,891},{140,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_Tower_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{93,97}</string>
                <key>textureRect</key>
                <string>{{725,141},{93,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_Tower_open_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{725,236},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_Tower_open_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{725,311},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_Tower_open_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{609,705},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_Tower_open_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{575,780},{73,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_accessor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{140,129}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{1,893},{140,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_daily.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{280,162}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{183,609},{280,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{138,129}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{725,1},{138,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_lock_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{768,420},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,157}</string>
                <key>spriteSourceSize</key>
                <string>{278,157}</string>
                <key>textureRect</key>
                <string>{{609,425},{278,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_normal01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1,309},{298,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_normal02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{131,309},{298,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{140,129}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{444,643},{140,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_special.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{282,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,609},{282,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_special_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,35}</string>
                <key>spriteSourceSize</key>
                <string>{64,35}</string>
                <key>textureRect</key>
                <string>{{347,805},{64,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_special_item_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{725,386},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_special_item_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{575,686},{36,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_story.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{261,309},{298,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{391,425},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{768,640},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{824,141},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_Tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,33}</string>
                <key>spriteSourceSize</key>
                <string>{96,33}</string>
                <key>textureRect</key>
                <string>{{391,309},{96,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_normal_tile_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,36}</string>
                <key>spriteSourceSize</key>
                <string>{123,36}</string>
                <key>textureRect</key>
                <string>{{347,609},{123,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Quest_Top.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a71751665292be73286dd147dfcb1f1:3d59ace92d93ece90dcf427ddd5d9a21:ba04ee5a68758c904360b8ab9e0e80e9$</string>
            <key>textureFileName</key>
            <string>Quest_Top.png</string>
        </dict>
    </dict>
</plist>
