<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_FriendmultiBalloon_Home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,57}</string>
                <key>spriteSourceSize</key>
                <string>{247,57}</string>
                <key>textureRect</key>
                <string>{{304,229},{247,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Happykuji_counttime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,46}</string>
                <key>spriteSourceSize</key>
                <string>{115,46}</string>
                <key>textureRect</key>
                <string>{{753,193},{115,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PartyStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-66}</string>
                <key>spriteSize</key>
                <string>{622,226}</string>
                <key>spriteSourceSize</key>
                <string>{640,408}</string>
                <key>textureRect</key>
                <string>{{1,1},{622,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_balloon_bottom_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,73}</string>
                <key>spriteSourceSize</key>
                <string>{301,73}</string>
                <key>textureRect</key>
                <string>{{1,229},{301,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_balloon_bottom_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,73}</string>
                <key>textureRect</key>
                <string>{{235,304},{131,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_balloon_bottom_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,72}</string>
                <key>spriteSourceSize</key>
                <string>{107,72}</string>
                <key>textureRect</key>
                <string>{{453,363},{107,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_balloon_side_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,67}</string>
                <key>spriteSourceSize</key>
                <string>{93,67}</string>
                <key>textureRect</key>
                <string>{{928,1},{93,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_balloon_side_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,67}</string>
                <key>spriteSourceSize</key>
                <string>{93,67}</string>
                <key>textureRect</key>
                <string>{{553,229},{93,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_balloon_top_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,73}</string>
                <key>spriteSourceSize</key>
                <string>{301,73}</string>
                <key>textureRect</key>
                <string>{{625,1},{301,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_balloon_top_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,73}</string>
                <key>textureRect</key>
                <string>{{310,288},{131,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_balloon_top_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,73}</string>
                <key>spriteSourceSize</key>
                <string>{107,73}</string>
                <key>textureRect</key>
                <string>{{443,288},{107,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_missionBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{970,252},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_BannerLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{648,327},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_BannerRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{738,337},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{844,290},{80,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Happykuji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,83}</string>
                <key>textureRect</key>
                <string>{{828,372},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{101,97}</string>
                <key>textureRect</key>
                <string>{{648,228},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{870,193},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Happykuji_BK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{91,84}</string>
                <key>textureRect</key>
                <string>{{562,383},{83,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Happykuji_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{747,241},{94,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_InfoSite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,85}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{648,417},{81,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Link.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{970,193},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{820,457},{49,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,115}</string>
                <key>spriteSourceSize</key>
                <string>{198,115}</string>
                <key>textureRect</key>
                <string>{{625,76},{198,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Multi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,115}</string>
                <key>spriteSourceSize</key>
                <string>{198,115}</string>
                <key>textureRect</key>
                <string>{{825,76},{198,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,130}</string>
                <key>textureRect</key>
                <string>{{1,304},{232,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_community.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,83}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{562,298},{84,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{735,427},{81,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{929,290},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_monthlypack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{310,421},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_monthlypack_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,83}</string>
                <key>textureRect</key>
                <string>{{913,375},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{154,436},{55,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_CarouselPosi_Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1,493},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_CarouselPosi_Nromal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{21,493},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_balloon_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{213,436},{30,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_balloon_voice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{998,375},{30,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Mission_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,33}</string>
                <key>spriteSourceSize</key>
                <string>{126,33}</string>
                <key>textureRect</key>
                <string>{{625,193},{126,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multi_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,55}</string>
                <key>spriteSourceSize</key>
                <string>{151,55}</string>
                <key>textureRect</key>
                <string>{{1,436},{151,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,56}</string>
                <key>spriteSourceSize</key>
                <string>{141,56}</string>
                <key>textureRect</key>
                <string>{{310,363},{141,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_mypage.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f16d3925f1f8d82200381ecb046daeb:c77566aedd3aff780bd218c1f4c6ad4a:d1c10f1487b29df01b29c68dcba05a4b$</string>
            <key>textureFileName</key>
            <string>atls_mypage.png</string>
        </dict>
    </dict>
</plist>
