<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Multilobby_1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{1,261},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{1,521},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{1,781},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,70}</string>
                <key>spriteSourceSize</key>
                <string>{292,70}</string>
                <key>textureRect</key>
                <string>{{1,1300},{292,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,98}</string>
                <key>spriteSourceSize</key>
                <string>{310,98}</string>
                <key>textureRect</key>
                <string>{{313,1},{310,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,98}</string>
                <key>spriteSourceSize</key>
                <string>{310,98}</string>
                <key>textureRect</key>
                <string>{{313,313},{310,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,98}</string>
                <key>spriteSourceSize</key>
                <string>{310,98}</string>
                <key>textureRect</key>
                <string>{{313,625},{310,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_WaitPlayer_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{476,794},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_MultilobbyChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{417,1044},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MultilobbyChat_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{417,1138},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MultilobbyStanp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{417,1230},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,83}</string>
                <key>spriteSourceSize</key>
                <string>{203,83}</string>
                <key>textureRect</key>
                <string>{{1,1372},{203,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,83}</string>
                <key>spriteSourceSize</key>
                <string>{203,83}</string>
                <key>textureRect</key>
                <string>{{413,243},{203,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,76}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{413,448},{196,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendclaimed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,56}</string>
                <key>spriteSourceSize</key>
                <string>{108,56}</string>
                <key>textureRect</key>
                <string>{{413,828},{108,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,42}</string>
                <key>textureRect</key>
                <string>{{416,1326},{100,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendrequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,45}</string>
                <key>spriteSourceSize</key>
                <string>{103,45}</string>
                <key>textureRect</key>
                <string>{{310,1320},{103,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_multi_lobby_bugeffect_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,18}</string>
                <key>spriteSourceSize</key>
                <string>{77,18}</string>
                <key>textureRect</key>
                <string>{{491,528},{77,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_multi_lobby_bugeffect_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,18}</string>
                <key>spriteSourceSize</key>
                <string>{77,18}</string>
                <key>textureRect</key>
                <string>{{460,1322},{77,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,61}</string>
                <key>spriteSourceSize</key>
                <string>{180,61}</string>
                <key>textureRect</key>
                <string>{{413,646},{180,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,95}</string>
                <key>textureRect</key>
                <string>{{307,1057},{112,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_1Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,16}</string>
                <key>spriteSourceSize</key>
                <string>{72,16}</string>
                <key>textureRect</key>
                <string>{{345,1432},{72,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,96}</string>
                <key>spriteSourceSize</key>
                <string>{118,96}</string>
                <key>textureRect</key>
                <string>{{413,123},{118,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_2Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,16}</string>
                <key>spriteSourceSize</key>
                <string>{73,16}</string>
                <key>textureRect</key>
                <string>{{489,828},{73,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,97}</string>
                <key>spriteSourceSize</key>
                <string>{118,97}</string>
                <key>textureRect</key>
                <string>{{313,937},{118,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_3Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{74,16}</string>
                <key>textureRect</key>
                <string>{{480,1322},{74,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_3onlyquest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{153,48}</string>
                <key>spriteSourceSize</key>
                <string>{203,52}</string>
                <key>textureRect</key>
                <string>{{367,1171},{153,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{413,1},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_4Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{74,16}</string>
                <key>textureRect</key>
                <string>{{471,828},{74,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_ChatFlame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{460,1401},{51,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,58}</string>
                <key>spriteSourceSize</key>
                <string>{149,60}</string>
                <key>textureRect</key>
                <string>{{307,1171},{147,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_username.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{28,11}</string>
                <key>spriteSourceSize</key>
                <string>{28,13}</string>
                <key>textureRect</key>
                <string>{{498,243},{28,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Quest_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{206,1431},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,25}</string>
                <key>spriteSourceSize</key>
                <string>{77,27}</string>
                <key>textureRect</key>
                <string>{{268,1432},{75,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,26}</string>
                <key>spriteSourceSize</key>
                <string>{148,28}</string>
                <key>textureRect</key>
                <string>{{476,646},{146,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,57}</string>
                <key>spriteSourceSize</key>
                <string>{102,57}</string>
                <key>textureRect</key>
                <string>{{206,1372},{102,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_WaitPlayer_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{104,58}</string>
                <key>textureRect</key>
                <string>{{412,938},{104,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,57}</string>
                <key>spriteSourceSize</key>
                <string>{104,57}</string>
                <key>textureRect</key>
                <string>{{357,1326},{104,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,257}</string>
                <key>spriteSourceSize</key>
                <string>{304,257}</string>
                <key>textureRect</key>
                <string>{{1,1041},{304,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_friendrequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,18}</string>
                <key>spriteSourceSize</key>
                <string>{78,18}</string>
                <key>textureRect</key>
                <string>{{491,448},{78,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_MultiLobby.png</string>
            <key>size</key>
            <string>{510,1458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376e1edcd25faa57fea1b647554a8621:1e6891b313c889abb7998f94697ab7fa:f2af27487138b9e9899a793c4f9efedf$</string>
            <key>textureFileName</key>
            <string>atls_MultiLobby.png</string>
        </dict>
    </dict>
</plist>
