<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_logbo_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,960}</string>
                <key>spriteSourceSize</key>
                <string>{658,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{658,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,68}</string>
                <key>textureRect</key>
                <string>{{775,276},{84,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,108}</string>
                <key>spriteSourceSize</key>
                <string>{109,108}</string>
                <key>textureRect</key>
                <string>{{661,619},{109,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_square02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{775,175},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_squareFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{661,294},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_tapnext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,31}</string>
                <key>spriteSourceSize</key>
                <string>{145,31}</string>
                <key>textureRect</key>
                <string>{{596,1091},{145,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,172}</string>
                <key>spriteSourceSize</key>
                <string>{215,172}</string>
                <key>textureRect</key>
                <string>{{661,1},{215,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_logbo_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{661,407},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_logbo_get02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{661,513},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_logbo_get03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{661,175},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_logbo_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,126}</string>
                <key>spriteSourceSize</key>
                <string>{221,126}</string>
                <key>textureRect</key>
                <string>{{596,963},{221,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_logbo_text02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,171}</string>
                <key>spriteSourceSize</key>
                <string>{593,171}</string>
                <key>textureRect</key>
                <string>{{1,963},{593,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>logbo_page01.png</string>
            <key>size</key>
            <string>{877,1135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e28386de1bdd2aac9f6b2a9fe91d755e:4c665ebec40b7a8f1cde30f707512d61:f82bb1d62569e9d8365d9c712295203e$</string>
            <key>textureFileName</key>
            <string>logbo_page01.png</string>
        </dict>
    </dict>
</plist>
