<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_mk18_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{274,893},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,62}</string>
                <key>spriteSourceSize</key>
                <string>{33,62}</string>
                <key>textureRect</key>
                <string>{{120,987},{33,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,61}</string>
                <key>spriteSourceSize</key>
                <string>{46,61}</string>
                <key>textureRect</key>
                <string>{{311,308},{46,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_Fclef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{312,961},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_Gclef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{46,88}</string>
                <key>textureRect</key>
                <string>{{43,148},{46,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_excelentline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,44}</string>
                <key>spriteSourceSize</key>
                <string>{633,44}</string>
                <key>textureRect</key>
                <string>{{43,243},{633,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_fermata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{59,43}</string>
                <key>textureRect</key>
                <string>{{184,980},{59,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_flat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{38,66}</string>
                <key>textureRect</key>
                <string>{{436,308},{38,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_forte.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{89,363},{60,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_goodline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,266}</string>
                <key>spriteSourceSize</key>
                <string>{67,266}</string>
                <key>textureRect</key>
                <string>{{89,425},{67,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_panelline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,109}</string>
                <key>spriteSourceSize</key>
                <string>{615,109}</string>
                <key>textureRect</key>
                <string>{{163,363},{615,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_quarterrest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{33,64}</string>
                <key>textureRect</key>
                <string>{{54,987},{33,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_sharp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{374,308},{45,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_speaker_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,148}</string>
                <key>spriteSourceSize</key>
                <string>{151,148}</string>
                <key>textureRect</key>
                <string>{{312,410},{151,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{56,65}</string>
                <key>textureRect</key>
                <string>{{341,893},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{311,148},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_star3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{311,172},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_star_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{290,45}</string>
                <key>spriteSourceSize</key>
                <string>{292,45}</string>
                <key>textureRect</key>
                <string>{{54,34},{290,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_tachiline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,856}</string>
                <key>spriteSourceSize</key>
                <string>{40,856}</string>
                <key>textureRect</key>
                <string>{{1,34},{40,856}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_tapling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{312,560},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_tapptcl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{220,215}</string>
                <key>textureRect</key>
                <string>{{91,148},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,500}</string>
                <key>spriteSourceSize</key>
                <string>{31,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{31,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_timebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,122}</string>
                <key>spriteSourceSize</key>
                <string>{51,122}</string>
                <key>textureRect</key>
                <string>{{1,892},{51,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mk18_timeupbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,157}</string>
                <key>spriteSourceSize</key>
                <string>{139,157}</string>
                <key>textureRect</key>
                <string>{{343,102},{139,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_waveitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,180}</string>
                <key>spriteSourceSize</key>
                <string>{35,180}</string>
                <key>textureRect</key>
                <string>{{311,271},{35,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mk18_waveitem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{54,878},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mk18_combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,45}</string>
                <key>spriteSourceSize</key>
                <string>{203,45}</string>
                <key>textureRect</key>
                <string>{{274,363},{203,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mk18_cool.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,67}</string>
                <key>spriteSourceSize</key>
                <string>{153,67}</string>
                <key>textureRect</key>
                <string>{{89,693},{153,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mk18_excellent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,65}</string>
                <key>spriteSourceSize</key>
                <string>{287,65}</string>
                <key>textureRect</key>
                <string>{{54,81},{287,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mk18_good.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,66}</string>
                <key>spriteSourceSize</key>
                <string>{162,66}</string>
                <key>textureRect</key>
                <string>{{346,34},{162,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mk18_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,42}</string>
                <key>spriteSourceSize</key>
                <string>{65,42}</string>
                <key>textureRect</key>
                <string>{{245,980},{65,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mk18_timeup_EM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,75}</string>
                <key>spriteSourceSize</key>
                <string>{21,75}</string>
                <key>textureRect</key>
                <string>{{311,194},{21,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mk18_timeup_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,75}</string>
                <key>spriteSourceSize</key>
                <string>{54,75}</string>
                <key>textureRect</key>
                <string>{{312,837},{54,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mk18_timeup_i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,75}</string>
                <key>spriteSourceSize</key>
                <string>{21,75}</string>
                <key>textureRect</key>
                <string>{{334,243},{21,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mk18_timeup_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{390,712},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mk18_timeup_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{389,789},{57,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mk18_timeup_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{60,75}</string>
                <key>textureRect</key>
                <string>{{312,775},{60,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mk18_timeup_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,76}</string>
                <key>spriteSourceSize</key>
                <string>{61,76}</string>
                <key>textureRect</key>
                <string>{{312,712},{61,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mk18_fever.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56116607d3ee735b511c2501dd2d940a:afc4d890e898f70972ac3fbf1693aa97:db1103a386d4cab58d2c2e189fd570fa$</string>
            <key>textureFileName</key>
            <string>mk18_fever.png</string>
        </dict>
    </dict>
</plist>
