<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Traversal_Gift_Dialog_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-103}</string>
                <key>spriteSize</key>
                <string>{554,118}</string>
                <key>spriteSourceSize</key>
                <string>{640,456}</string>
                <key>textureRect</key>
                <string>{{970,249},{554,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Traversal_Gift_Dialog_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,133}</string>
                <key>spriteSourceSize</key>
                <string>{551,133}</string>
                <key>textureRect</key>
                <string>{{835,249},{551,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Traversal_Gift_Dialog_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,246}</string>
                <key>spriteSourceSize</key>
                <string>{480,246}</string>
                <key>textureRect</key>
                <string>{{643,1},{480,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Traversal_Gift_Dialog_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,228}</string>
                <key>spriteSourceSize</key>
                <string>{576,228}</string>
                <key>textureRect</key>
                <string>{{1,721},{576,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Traversal_Gift_Dialog_item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,73}</string>
                <key>spriteSourceSize</key>
                <string>{235,73}</string>
                <key>textureRect</key>
                <string>{{835,805},{235,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Traversal_Gift_Dialog_item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,80}</string>
                <key>spriteSourceSize</key>
                <string>{242,80}</string>
                <key>textureRect</key>
                <string>{{579,843},{242,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Traversal_Gift_Dialog_item7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,32}</string>
                <key>spriteSize</key>
                <string>{592,190}</string>
                <key>spriteSourceSize</key>
                <string>{640,456}</string>
                <key>textureRect</key>
                <string>{{643,249},{592,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Traversal_Open_Dialog_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,54}</string>
                <key>spriteSize</key>
                <string>{612,264}</string>
                <key>spriteSourceSize</key>
                <string>{640,456}</string>
                <key>textureRect</key>
                <string>{{1,455},{612,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Traversal_Open_Dialog_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{199,82}</string>
                <key>spriteSourceSize</key>
                <string>{237,84}</string>
                <key>textureRect</key>
                <string>{{823,880},{199,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnt_Traversal_Gift_Dialog_eff_grow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Traversal_Dialog.png</string>
            <key>size</key>
            <string>{1124,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2a1d9b93fbc265db55570c9deb15c1a:04f9892efb8f74ee1b0ad94eb101917e:8252a3c638b4eb52994b1584e66a6468$</string>
            <key>textureFileName</key>
            <string>Traversal_Dialog.png</string>
        </dict>
    </dict>
</plist>
