<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_circle_ Innes_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,541},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_ Tayler_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,685},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Benedict_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,829},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Dulkheim_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{145,541},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Necronomicon_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{145,685},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Ophiuchus_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{145,829},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Scorpion_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{277,157},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Sibalba_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{277,1},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Vikky_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{275,301},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbl4th_logo_base_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,274}</string>
                <key>spriteSourceSize</key>
                <string>{274,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbl4th_logo_hw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,21}</string>
                <key>spriteSize</key>
                <string>{272,262}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,277},{272,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgi_ui_system_gbl4th_hw.png</string>
            <key>size</key>
            <string>{420,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069b0e4662423ff5d50268bd13ad8c69:4238fc49216d98408604483960853151:3a2d2d9a8ddc3fc8034d9172657dc408$</string>
            <key>textureFileName</key>
            <string>bgi_ui_system_gbl4th_hw.png</string>
        </dict>
    </dict>
</plist>
