<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_b_wave_Flash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{512,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{324,727},{512,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_b_wave_colour.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,276}</string>
                <key>spriteSourceSize</key>
                <string>{321,276}</string>
                <key>textureRect</key>
                <string>{{1,727},{321,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_b_wave_flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,322}</string>
                <key>spriteSourceSize</key>
                <string>{490,322}</string>
                <key>textureRect</key>
                <string>{{838,618},{490,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_b_wave_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-76}</string>
                <key>spriteSize</key>
                <string>{724,601}</string>
                <key>spriteSourceSize</key>
                <string>{724,753}</string>
                <key>textureRect</key>
                <string>{{1,1},{724,601}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_b_wave_wave02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{615,373}</string>
                <key>spriteSourceSize</key>
                <string>{675,415}</string>
                <key>textureRect</key>
                <string>{{604,1},{615,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blue_wave.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9eaf2844f8c4e124094123579dea038:2a9a36e03697f0cbb844e9f140e51f5c:249d34f4877377ac775354b06223459c$</string>
            <key>textureFileName</key>
            <string>blue_wave.png</string>
        </dict>
    </dict>
</plist>
