<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_GL6th_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,283}</string>
                <key>spriteSourceSize</key>
                <string>{268,283}</string>
                <key>textureRect</key>
                <string>{{325,419},{268,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_GL6th_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,319}</string>
                <key>spriteSourceSize</key>
                <string>{322,319}</string>
                <key>textureRect</key>
                <string>{{1,419},{322,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_GL6th_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,361}</string>
                <key>spriteSourceSize</key>
                <string>{362,361}</string>
                <key>textureRect</key>
                <string>{{421,1},{362,361}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_GL6th_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,416}</string>
                <key>spriteSourceSize</key>
                <string>{418,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{418,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_GL6th_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{674,448},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_GL6th_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{674,525},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_GL6th_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{679,365},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_GL6th_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{595,448},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_GL6th_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{595,365},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_GL6th_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{595,527},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_GL6th_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{595,605},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DL_BG_GL6th.png</string>
            <key>size</key>
            <string>{783,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc6d19368080b60b63654d664e591de:32521881eb2837c4c7fad2b65ea3969f:6cbf9383e2e06e7dd386a5081850ffad$</string>
            <key>textureFileName</key>
            <string>DL_BG_GL6th.png</string>
        </dict>
    </dict>
</plist>
