<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_level_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{564,48},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_Beginner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{675,23},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_ChoDiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,27}</string>
                <key>spriteSourceSize</key>
                <string>{169,27}</string>
                <key>textureRect</key>
                <string>{{393,47},{169,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_ChoWiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{740,23},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_Diz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{870,23},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_KyokuWiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{169,45},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_Wiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{328,45},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_choZetsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{805,23},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_higher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{935,23},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_kyokuDiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,26}</string>
                <key>spriteSourceSize</key>
                <string>{166,26}</string>
                <key>textureRect</key>
                <string>{{1,44},{166,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_kyokuWiz02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,26}</string>
                <key>textureRect</key>
                <string>{{234,45},{45,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_kyouWiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,26}</string>
                <key>textureRect</key>
                <string>{{281,45},{45,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{567,23},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_off_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,23}</string>
                <key>spriteSourceSize</key>
                <string>{47,23}</string>
                <key>textureRect</key>
                <string>{{626,23},{47,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_level_base_omega.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,32}</string>
                <key>spriteSourceSize</key>
                <string>{544,32}</string>
                <key>textureRect</key>
                <string>{{1,76},{544,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quest_level_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{601,48},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quest_level_story.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,32}</string>
                <key>spriteSourceSize</key>
                <string>{544,32}</string>
                <key>textureRect</key>
                <string>{{1,110},{544,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{513,23},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_Beginner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{233,1},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_Beginner_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{285,1},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_ChoDiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{337,1},{114,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_ChoDiz_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{453,1},{114,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_ChoWiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{705,1},{74,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_ChoWiz_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{781,1},{74,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_ChouZetsu_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{637,1},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_Diz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{857,1},{74,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_Diz_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{933,1},{74,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_KyokuWiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{121,22},{70,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_KyokuWiz_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{193,23},{70,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_Wiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{389,23},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_Wiz_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{451,23},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_chouZetsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{569,1},{66,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_higher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{1,22},{58,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_higher_0ff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{61,22},{58,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_kyokuDiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,19}</string>
                <key>spriteSourceSize</key>
                <string>{114,19}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_kyokuDiz_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,19}</string>
                <key>spriteSourceSize</key>
                <string>{114,19}</string>
                <key>textureRect</key>
                <string>{{117,1},{114,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_kyouWiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{265,23},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_level_base_kyouWiz_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{327,23},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_level.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1623c40d3d08f67762e9b2aad9d4ced8:3cdb075df87f6e85088e6981396113b7:1dc76acfca350dc0b24a846e12ad74bd$</string>
            <key>textureFileName</key>
            <string>quest_level.png</string>
        </dict>
    </dict>
</plist>
