<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_usa_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_usa_ling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{137,141},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_usa_onp01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{128,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_usa_onp02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{128,71},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_usa_onp03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1,123},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_usa_onp04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{71,123},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_usa_onp05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{71,189},{51,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_usa_onp06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1,193},{51,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jukebox_usa.png</string>
            <key>size</key>
            <string>{197,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9870458b70e51c83e601ccb882b55ae3:0b7f10d009bce9b3a7fb4e2173aeedb3:95cdb32eeb3e4c81a5ed223901445116$</string>
            <key>textureFileName</key>
            <string>jukebox_usa.png</string>
        </dict>
    </dict>
</plist>
