<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tit_FtB_Gacha_rezero_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,109},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Gacha_rezero_ja2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,211},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Item_rezero_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,313},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Item_rezero_ja2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Quest_rezero_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{1,517},{69,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_FtB_Quest_rezero_ja2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{98,100}</string>
                <key>textureRect</key>
                <string>{{1,415},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>footer_collabo_rezero.png</string>
            <key>size</key>
            <string>{104,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:439f59df4ed1bde78ae74cda96d1916e:f38598f43ad423c78ef2cadb7ff00167:3175676b2fb4b15a87afe5f24cd492b7$</string>
            <key>textureFileName</key>
            <string>footer_collabo_rezero.png</string>
        </dict>
    </dict>
</plist>
