<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CAPTION</key>
<string>Accept Friends</string>
<key>LAST_LOGIN_MONTHS</key>
<string> mo ago</string>
<key>LAST_LOGIN_DAYS</key>
<string> d ago</string>
<key>LAST_LOGIN_HOURS</key>
<string> hr ago</string>
<key>LAST_LOGIN_MINUTES</key>
<string> min ago</string>
<key>LAST_LOGIN_SECONDS</key>
<string> sec ago</string>
<key>APPROVE_CONFIRM</key>
<string>Accept this friend request?</string>
<key>APPROVE_SUCCESS</key>
<string>Friend request accepted.</string>
<key>DENY_CONFIRM</key>
<string>Decline this friend request?</string>
<key>DENY_SUCCESS</key>
<string>Friend request declined.</string>
<key>MESSAGE_NO_ITEM</key>
<string>No pending requests.</string>
</dict>
</plist>