<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0">
<dict>
	<key>CAPTION</key>
	<string>Purchase</string>
	<key>ACT_ON_SETTLEMENT_TITLE</key>
	<string>Act on Settlement of Funds</string>
	<key>ACT_ON_SETTLEMENT_DESCRIPTION</key>
	<string>View details regarding Act on Settlement of Funds.</string>
	<key>SPECIAL_COMMERCIAL_TITLE</key>
	<string>Specified Commercial Transaction Act</string>
	<key>SPECIAL_COMMERCIAL_DESCRIPTION</key>
	<string>View details regarding Specified Commercial Transaction Act.</string>
</dict>
</plist> 