<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMPLATE_LINE</key>
	<string>%d Line(s) Complete</string>
	<key>CAPTION</key>
	<string>All Rewards</string>
	<key>ACHIEVED</key>
	<string>Achieved</string>
	<key>NOT_ACHIEVED</key>
	<string>Locked</string>
	<key>LINE_TEXT</key>
	<string>%d Line Reward</string>
</dict>
</plist>
