<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Plural_ItemExchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Plural_ItemExchange_Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1,147},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Plural_ItemExchange_Minus10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{127,147},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Plural_ItemExchange_Plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1,273},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Plural_ItemExchange_Plus10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{127,273},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Plural_ItemExchange.png</string>
            <key>size</key>
            <string>{252,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90c354deb3d5797bb4716e0787c1a228:72491af37798413df8c10d1af81b8abe:de886a83c7ec0ff5c0fb4d499703a200$</string>
            <key>textureFileName</key>
            <string>Plural_ItemExchange.png</string>
        </dict>
    </dict>
</plist>
