<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cutin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,137}</string>
                <key>spriteSourceSize</key>
                <string>{629,137}</string>
                <key>textureRect</key>
                <string>{{976,3},{629,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutin_tongue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{393,192},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rasen_rose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,111}</string>
                <key>spriteSourceSize</key>
                <string>{133,111}</string>
                <key>textureRect</key>
                <string>{{1608,3},{131,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ripples.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,95}</string>
                <key>spriteSourceSize</key>
                <string>{322,95}</string>
                <key>textureRect</key>
                <string>{{976,143},{322,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,186}</string>
                <key>spriteSourceSize</key>
                <string>{290,186}</string>
                <key>textureRect</key>
                <string>{{393,3},{290,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,155}</string>
                <key>spriteSourceSize</key>
                <string>{287,155}</string>
                <key>textureRect</key>
                <string>{{686,3},{287,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteptx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,241}</string>
                <key>spriteSourceSize</key>
                <string>{387,241}</string>
                <key>textureRect</key>
                <string>{{3,3},{387,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skl_oshinoshinobu.png</string>
            <key>size</key>
            <string>{1722,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea895eaf14b126bcf074cd375177863:cc78f2de88f5d8efd36e76a910a93630:79f453c2ec494ff4d65ac7e4ea7f8de3$</string>
            <key>textureFileName</key>
            <string>skl_oshinoshinobu.png</string>
        </dict>
    </dict>
</plist>
