<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_center_item1_tensura.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{132,393},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_item2_tensura.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,60}</string>
                <key>spriteSourceSize</key>
                <string>{95,60}</string>
                <key>textureRect</key>
                <string>{{71,425},{93,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_tensura.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_tensura1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,111}</string>
                <key>spriteSourceSize</key>
                <string>{112,111}</string>
                <key>textureRect</key>
                <string>{{132,279},{112,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_tensura2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{1,425},{69,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_tensura3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{228,102},{93,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_tensura4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,129}</string>
                <key>textureRect</key>
                <string>{{1,293},{130,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_tensura5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{108,159},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_tensura6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{196,1},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tensura1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,35}</string>
                <key>spriteSourceSize</key>
                <string>{102,35}</string>
                <key>textureRect</key>
                <string>{{166,393},{102,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_circle_tensura2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,35}</string>
                <key>spriteSourceSize</key>
                <string>{102,35}</string>
                <key>textureRect</key>
                <string>{{203,393},{102,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_circle_tensura3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,35}</string>
                <key>spriteSourceSize</key>
                <string>{102,35}</string>
                <key>textureRect</key>
                <string>{{240,393},{102,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_circle_tensura4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,35}</string>
                <key>spriteSourceSize</key>
                <string>{102,35}</string>
                <key>textureRect</key>
                <string>{{159,1},{102,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_item_tensura.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,105}</string>
                <key>spriteSourceSize</key>
                <string>{132,105}</string>
                <key>textureRect</key>
                <string>{{1,159},{132,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_tensura.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851e019d52724521918602cc1aa9d4f4:40b0ba90fdc6b2b45692af2f4045ed55:a93f1881ec8edd2b0af950eb9f2d3cc3$</string>
            <key>textureFileName</key>
            <string>atls_system_tensura.png</string>
        </dict>
    </dict>
</plist>
