<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Recommend_quest_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,99}</string>
                <key>spriteSourceSize</key>
                <string>{103,99}</string>
                <key>textureRect</key>
                <string>{{596,56},{103,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Recommend_quest_balloon_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,178}</string>
                <key>spriteSourceSize</key>
                <string>{593,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{593,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_BalloonClose_Recommend_quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{788,1},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Recommend Quest_Decorative_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,22}</string>
                <key>spriteSourceSize</key>
                <string>{142,22}</string>
                <key>textureRect</key>
                <string>{{596,157},{142,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Recommend_Quest_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,69}</string>
                <key>spriteSourceSize</key>
                <string>{55,69}</string>
                <key>textureRect</key>
                <string>{{785,56},{55,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Recommend_Quest_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{701,56},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Recommend_quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,53}</string>
                <key>spriteSourceSize</key>
                <string>{190,53}</string>
                <key>textureRect</key>
                <string>{{596,1},{190,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Recommend_Quest.png</string>
            <key>size</key>
            <string>{841,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f0be55e79bf4c998e6e173910d9fadb:8f2cb5fec084c61c00ad89594e82feb9:eb2c441f2e6ea5e404fcbaa1013d7508$</string>
            <key>textureFileName</key>
            <string>Recommend_Quest.png</string>
        </dict>
    </dict>
</plist>
