<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_HelpWindow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,670}</string>
                <key>spriteSourceSize</key>
                <string>{564,670}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,670}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_HelpWindow_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,94}</string>
                <key>spriteSourceSize</key>
                <string>{564,94}</string>
                <key>textureRect</key>
                <string>{{1,673},{564,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HelpWindow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{88,61}</string>
                <key>spriteSourceSize</key>
                <string>{88,69}</string>
                <key>textureRect</key>
                <string>{{98,769},{88,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_HelpWindow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,769},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HelpWindow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{149,51}</string>
                <key>spriteSourceSize</key>
                <string>{155,51}</string>
                <key>textureRect</key>
                <string>{{161,769},{149,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_HelpWindow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{161,822},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pfx_fireworks2.png</string>
            <key>size</key>
            <string>{566,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58d443561435f59cd736215a3a03ec0a:0a79a97487102e9a73c452d832642a57:00c1beaa82d30ef293ddaf20e073a75d$</string>
            <key>textureFileName</key>
            <string>pfx_fireworks2.png</string>
        </dict>
    </dict>
</plist>
