<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_alicefiction_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,465}</string>
                <key>spriteSourceSize</key>
                <string>{465,465}</string>
                <key>textureRect</key>
                <string>{{917,157},{465,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_alicefiction_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{1238,914},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_alicefiction_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{913,914}</string>
                <key>spriteSourceSize</key>
                <string>{913,914}</string>
                <key>textureRect</key>
                <string>{{1,157},{913,914}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_alicefiction_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{917,624},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_alicefiction_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1142,624},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_alicefiction_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1142,725},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_alicefiction_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1034,849},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_alicefiction_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1034,951},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_alicefiction_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1136,849},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_alicefiction_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1136,951},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_alicefiction_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1238,826},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_alicefiction_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1913,76}</string>
                <key>spriteSourceSize</key>
                <string>{1913,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{1913,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_alicefiction_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1913,76}</string>
                <key>spriteSourceSize</key>
                <string>{1913,76}</string>
                <key>textureRect</key>
                <string>{{1,79},{1913,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_alicefiction_bg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,115}</string>
                <key>spriteSourceSize</key>
                <string>{151,115}</string>
                <key>textureRect</key>
                <string>{{917,849},{151,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_alicefiction.png</string>
            <key>size</key>
            <string>{1915,1071}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b513bc7522ae51081c41ac989621102:afaa58cd2c9bdbf7085ccadb803eed3c:05e7e4c0158c8fb85c55a362b092c704$</string>
            <key>textureFileName</key>
            <string>atls_system_alicefiction.png</string>
        </dict>
    </dict>
</plist>
