<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_color_gauge_miku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,31}</string>
                <key>spriteSourceSize</key>
                <string>{571,31}</string>
                <key>textureRect</key>
                <string>{{906,1},{571,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_color_gauge_miku02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,67}</string>
                <key>spriteSourceSize</key>
                <string>{607,67}</string>
                <key>textureRect</key>
                <string>{{213,1106},{607,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mikufever_base01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,151}</string>
                <key>spriteSourceSize</key>
                <string>{607,151}</string>
                <key>textureRect</key>
                <string>{{1,339},{607,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mikufever_parts_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,11}</string>
                <key>spriteSourceSize</key>
                <string>{168,11}</string>
                <key>textureRect</key>
                <string>{{694,1029},{168,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mikufever_parts_gauge02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,23}</string>
                <key>spriteSourceSize</key>
                <string>{179,23}</string>
                <key>textureRect</key>
                <string>{{849,1},{179,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>color_gauge_miku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,31}</string>
                <key>spriteSourceSize</key>
                <string>{571,31}</string>
                <key>textureRect</key>
                <string>{{906,574},{571,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meter1_lv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,104}</string>
                <key>spriteSourceSize</key>
                <string>{609,104}</string>
                <key>textureRect</key>
                <string>{{482,492},{609,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meter1_lv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,104}</string>
                <key>spriteSourceSize</key>
                <string>{614,104}</string>
                <key>textureRect</key>
                <string>{{1,492},{614,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meter2_lv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,104}</string>
                <key>spriteSourceSize</key>
                <string>{612,104}</string>
                <key>textureRect</key>
                <string>{{588,492},{612,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meter2_lv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,104}</string>
                <key>spriteSourceSize</key>
                <string>{612,104}</string>
                <key>textureRect</key>
                <string>{{694,248},{612,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meter3_lv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,104}</string>
                <key>spriteSourceSize</key>
                <string>{613,104}</string>
                <key>textureRect</key>
                <string>{{107,492},{613,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meter3_lv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,104}</string>
                <key>spriteSourceSize</key>
                <string>{612,104}</string>
                <key>textureRect</key>
                <string>{{800,248},{612,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miku_meterbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,134}</string>
                <key>spriteSourceSize</key>
                <string>{581,134}</string>
                <key>textureRect</key>
                <string>{{346,492},{581,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miku_notes1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{610,457},{33,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miku_notes2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{44,1108},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_notes3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{742,1042},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_notes4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{639,248},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_notescircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,245}</string>
                <key>spriteSourceSize</key>
                <string>{222,245}</string>
                <key>textureRect</key>
                <string>{{625,1},{222,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_parts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{1,1108},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_parts1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{694,1042},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_parts2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{639,290},{37,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_parts3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{778,1042},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_parts4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{874,862},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku_partscircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,165}</string>
                <key>spriteSourceSize</key>
                <string>{178,165}</string>
                <key>textureRect</key>
                <string>{{694,862},{178,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rainbow base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,131}</string>
                <key>spriteSourceSize</key>
                <string>{586,131}</string>
                <key>textureRect</key>
                <string>{{213,492},{586,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rainbow base2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,167}</string>
                <key>spriteSourceSize</key>
                <string>{622,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{622,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,167}</string>
                <key>spriteSourceSize</key>
                <string>{622,167}</string>
                <key>textureRect</key>
                <string>{{1,170},{622,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_fever_level_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,13}</string>
                <key>spriteSourceSize</key>
                <string>{124,13}</string>
                <key>textureRect</key>
                <string>{{213,1080},{124,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_fever_power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,13}</string>
                <key>spriteSourceSize</key>
                <string>{116,13}</string>
                <key>textureRect</key>
                <string>{{610,339},{116,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_fever_remain_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,12}</string>
                <key>spriteSourceSize</key>
                <string>{115,12}</string>
                <key>textureRect</key>
                <string>{{625,248},{115,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miku_fever.png</string>
            <key>size</key>
            <string>{938,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95fafcbb721ebcdd30a42d98917fa302:052bcd5a0af9ec3097216fd9c8930e50:162c4c6926f443f875103aafe7cb4ec2$</string>
            <key>textureFileName</key>
            <string>miku_fever.png</string>
        </dict>
    </dict>
</plist>
