<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_circle_ Innes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{145,260},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_ Tayler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{259,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Benedict.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{289,145},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Dulkheim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{403,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Necronomicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{289,289},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Ophiuchus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{433,145},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Scorpion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{547,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Sibalba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,260},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_Vikky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{433,289},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbl4th_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgi_ui_system_gbl4th.png</string>
            <key>size</key>
            <string>{690,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed2dd154f997314f06fcd9620049005e:1f950ec53d5a645f9fd90ed3b689fce6:3c4d45d057e6f68412fb08f88f6ecef2$</string>
            <key>textureFileName</key>
            <string>bgi_ui_system_gbl4th.png</string>
        </dict>
    </dict>
</plist>
