<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ag_p1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{370,882},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,108}</string>
                <key>spriteSourceSize</key>
                <string>{107,108}</string>
                <key>textureRect</key>
                <string>{{910,111},{107,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ag_p1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{480,882},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{882,220},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{590,882},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{910,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,918},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,918},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{125,918},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ag_p1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{187,918},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,208}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{700,1},{202,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>center_ag_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,666},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_ag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{210,214}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{469,666},{210,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_ag_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{154,180}</string>
                <key>spriteSourceSize</key>
                <string>{198,198}</string>
                <key>textureRect</key>
                <string>{{700,205},{154,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>center_ag_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{253,666},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ling_ag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,663}</string>
                <key>spriteSourceSize</key>
                <string>{663,663}</string>
                <key>textureRect</key>
                <string>{{1,1},{663,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ling_ag_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{253,882},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DL_Bg_ag01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6237480166ee80696f42716fe37a1d21:a47a107be8d1f107058dec13df47ce28:9ef3203b8614db8b55d9a88e8dbddfca$</string>
            <key>textureFileName</key>
            <string>DL_Bg_ag01.png</string>
        </dict>
    </dict>
</plist>
