<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_bosslevel_aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1320,1},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslevel_elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1447,1},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslevel_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1320,116},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslevel_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1447,116},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bossname_aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{390,99},{155,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bossname_elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{547,99},{155,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bossname_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{704,91},{155,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bossname_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{861,91},{155,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidboss_appearance_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{978,1},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidboss_appearance_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,14}</string>
                <key>spriteSourceSize</key>
                <string>{27,14}</string>
                <key>textureRect</key>
                <string>{{271,199},{27,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidboss_appearance_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,165}</string>
                <key>spriteSourceSize</key>
                <string>{300,165}</string>
                <key>textureRect</key>
                <string>{{1018,52},{300,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidboss_appearance_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,93}</string>
                <key>textureRect</key>
                <string>{{580,1},{105,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raidbossappearance_multi_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{687,1},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raidbossappearance_solo_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{784,1},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raidbossappearance_solo_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{881,1},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_raidboss_appearance1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,96}</string>
                <key>spriteSourceSize</key>
                <string>{577,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{577,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_raidboss_appearance2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,98}</string>
                <key>spriteSourceSize</key>
                <string>{387,98}</string>
                <key>textureRect</key>
                <string>{{1,99},{387,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_raidbossappearance_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{159,199},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_raidbossappearance_solo_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,33}</string>
                <key>spriteSourceSize</key>
                <string>{156,33}</string>
                <key>textureRect</key>
                <string>{{1,199},{156,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raidboss_appearance.png</string>
            <key>size</key>
            <string>{1573,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:709fe6bd0e80269a87ce658b10519b71:c0e4aa2ceb20d227d531c7160212fdf7:bafbc3ca753f945f075a646a96c5f7d1$</string>
            <key>textureFileName</key>
            <string>raidboss_appearance.png</string>
        </dict>
    </dict>
</plist>
