<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_haru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,227}</string>
                <key>spriteSourceSize</key>
                <string>{227,227}</string>
                <key>textureRect</key>
                <string>{{1,895},{227,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_ny2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{297,1231},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_nyblue2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,1124},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_nygreen2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{113,1124},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_nyhana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{297,895},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_nyusagi2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{297,1007},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_nyyellow2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{112,1236},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_nyyorokobu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{297,1119},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleitem_ny2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,97}</string>
                <key>spriteSourceSize</key>
                <string>{109,97}</string>
                <key>textureRect</key>
                <string>{{1,1236},{109,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_kumo_ny2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,65}</string>
                <key>textureRect</key>
                <string>{{230,895},{355,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_systembg_ny2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,892}</string>
                <key>spriteSourceSize</key>
                <string>{432,892}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,892}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_system_ny2019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{174,1236},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_NY2019.png</string>
            <key>size</key>
            <string>{434,1339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c44b797d988aaf99d3a94267d0a09b1:a8c711f1c1b058e4e230c9c472637dc4:cbf32333a32212f11b3c39ff6505158c$</string>
            <key>textureFileName</key>
            <string>system_NY2019.png</string>
        </dict>
    </dict>
</plist>
