<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_UnitNewDetail_Up_Aqua_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,65}</string>
                <key>spriteSourceSize</key>
                <string>{425,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{425,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Up_Aqua_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,45}</string>
                <key>spriteSourceSize</key>
                <string>{226,45}</string>
                <key>textureRect</key>
                <string>{{1,269},{226,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Up_Elec_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,65}</string>
                <key>spriteSourceSize</key>
                <string>{425,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{425,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Up_Elec_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,45}</string>
                <key>spriteSourceSize</key>
                <string>{226,45}</string>
                <key>textureRect</key>
                <string>{{229,269},{226,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Up_Fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,65}</string>
                <key>spriteSourceSize</key>
                <string>{425,65}</string>
                <key>textureRect</key>
                <string>{{1,135},{425,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Up_Fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,45}</string>
                <key>spriteSourceSize</key>
                <string>{226,45}</string>
                <key>textureRect</key>
                <string>{{1,316},{226,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Up_Wood_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,65}</string>
                <key>spriteSourceSize</key>
                <string>{425,65}</string>
                <key>textureRect</key>
                <string>{{1,202},{425,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Up_Wood_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,45}</string>
                <key>spriteSourceSize</key>
                <string>{226,45}</string>
                <key>textureRect</key>
                <string>{{229,316},{226,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unit_animeoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{1,363},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unit_animeon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{61,363},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unit_highquality.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{121,363},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unit_nomal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{180,363},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unit_voice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{239,363},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_unit_zoomup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{298,363},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UnitNewDetail_02.png</string>
            <key>size</key>
            <string>{456,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bf7f285320ac4d15e31fc273c52b050:255e01b6984b648a8b2744f720527ad3:92727fb183412daf5ac33dc314f90609$</string>
            <key>textureFileName</key>
            <string>UnitNewDetail_02.png</string>
        </dict>
    </dict>
</plist>
