<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_frgp2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1397,1199},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_frgp2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,352}</string>
                <key>spriteSourceSize</key>
                <string>{352,352}</string>
                <key>textureRect</key>
                <string>{{1397,845},{352,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_frgp2023_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,220}</string>
                <key>spriteSourceSize</key>
                <string>{355,220}</string>
                <key>textureRect</key>
                <string>{{712,1247},{355,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_frgp2023_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,269}</string>
                <key>spriteSourceSize</key>
                <string>{533,269}</string>
                <key>textureRect</key>
                <string>{{1126,828},{533,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_frgp2023_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,130}</string>
                <key>spriteSourceSize</key>
                <string>{383,130}</string>
                <key>textureRect</key>
                <string>{{1667,1},{383,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_frgp2023_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-7}</string>
                <key>spriteSize</key>
                <string>{808,431}</string>
                <key>spriteSourceSize</key>
                <string>{968,445}</string>
                <key>textureRect</key>
                <string>{{857,1},{808,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_frgp2023_bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{709,708}</string>
                <key>spriteSourceSize</key>
                <string>{737,708}</string>
                <key>textureRect</key>
                <string>{{1,707},{709,708}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_frgp2023_bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{854,704}</string>
                <key>spriteSourceSize</key>
                <string>{854,704}</string>
                <key>textureRect</key>
                <string>{{1,1},{854,704}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_frgp2023_bg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,427}</string>
                <key>spriteSourceSize</key>
                <string>{409,427}</string>
                <key>textureRect</key>
                <string>{{1407,434},{409,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_frgp2023_bg_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,392}</string>
                <key>spriteSourceSize</key>
                <string>{548,392}</string>
                <key>textureRect</key>
                <string>{{857,434},{548,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_frgp2023_bg_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,417}</string>
                <key>spriteSourceSize</key>
                <string>{412,419}</string>
                <key>textureRect</key>
                <string>{{712,828},{412,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_frgp2023.png</string>
            <key>size</key>
            <string>{1835,1468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae69fafe8a71c411ca3485384f7b69ba:d4189b7a817e861f61951ab86fa7bd6e:06d8d4a3eff41dc5d36dd4b07987258a$</string>
            <key>textureFileName</key>
            <string>atls_system_frgp2023.png</string>
        </dict>
    </dict>
</plist>
