<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tit_title_optext_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{399,72}</string>
                <key>spriteSourceSize</key>
                <string>{399,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{399,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-2}</string>
                <key>spriteSize</key>
                <string>{349,66}</string>
                <key>spriteSourceSize</key>
                <string>{399,122}</string>
                <key>textureRect</key>
                <string>{{794,2},{349,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-5}</string>
                <key>spriteSize</key>
                <string>{283,72}</string>
                <key>spriteSourceSize</key>
                <string>{399,122}</string>
                <key>textureRect</key>
                <string>{{1145,2},{283,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{389,66}</string>
                <key>spriteSourceSize</key>
                <string>{399,122}</string>
                <key>textureRect</key>
                <string>{{403,2},{389,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-1}</string>
                <key>spriteSize</key>
                <string>{283,30}</string>
                <key>spriteSourceSize</key>
                <string>{399,122}</string>
                <key>textureRect</key>
                <string>{{1430,2},{283,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-4}</string>
                <key>spriteSize</key>
                <string>{225,72}</string>
                <key>spriteSourceSize</key>
                <string>{399,122}</string>
                <key>textureRect</key>
                <string>{{1715,2},{225,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tit_title_optext.png</string>
            <key>size</key>
            <string>{1942,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f54b4aa18fdfd9fa4c2d07cde92938:7a33cdc8af1f4e83f61355818c71c60f:8d0b816e59dc4e1ea242fdebe54006e7$</string>
            <key>textureFileName</key>
            <string>tit_title_optext.png</string>
        </dict>
    </dict>
</plist>
