<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{354,216}</string>
                <key>spriteSourceSize</key>
                <string>{372,258}</string>
                <key>textureRect</key>
                <string>{{575,355},{354,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{278,264}</string>
                <key>spriteSourceSize</key>
                <string>{308,276}</string>
                <key>textureRect</key>
                <string>{{1281,287},{278,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{352,220}</string>
                <key>spriteSourceSize</key>
                <string>{372,258}</string>
                <key>textureRect</key>
                <string>{{575,1},{352,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{284,264}</string>
                <key>spriteSourceSize</key>
                <string>{308,276}</string>
                <key>textureRect</key>
                <string>{{1065,1},{284,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{346,218}</string>
                <key>spriteSourceSize</key>
                <string>{372,258}</string>
                <key>textureRect</key>
                <string>{{1123,785},{346,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{284,266}</string>
                <key>spriteSourceSize</key>
                <string>{308,276}</string>
                <key>textureRect</key>
                <string>{{797,1},{284,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{348,218}</string>
                <key>spriteSourceSize</key>
                <string>{372,258}</string>
                <key>textureRect</key>
                <string>{{793,355},{348,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{284,266}</string>
                <key>spriteSourceSize</key>
                <string>{308,276}</string>
                <key>textureRect</key>
                <string>{{1013,287},{284,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_MC_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1365,567},{204,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_MC_in_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1157,573},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_MC_inside_noise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{737,711},{111,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_MC_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1331,1},{260,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_MC_out_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1547,263},{260,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_MC_outside_noise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,130}</string>
                <key>textureRect</key>
                <string>{{831,824},{136,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_barrier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{203,851},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_barrier_kirari00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,15}</string>
                <key>spriteSourceSize</key>
                <string>{40,15}</string>
                <key>textureRect</key>
                <string>{{387,982},{40,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_barrier_kirari01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,30}</string>
                <key>spriteSourceSize</key>
                <string>{82,30}</string>
                <key>textureRect</key>
                <string>{{303,982},{82,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_barrier_kirari02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{98,46}</string>
                <key>textureRect</key>
                <string>{{917,962},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_barrier_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{405,851},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_butterflies00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,175}</string>
                <key>spriteSourceSize</key>
                <string>{222,175}</string>
                <key>textureRect</key>
                <string>{{607,841},{222,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_butterflies01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{200,169}</string>
                <key>spriteSourceSize</key>
                <string>{222,175}</string>
                <key>textureRect</key>
                <string>{{1,851},{200,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_cube00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{839,705},{106,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_cube00_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{945,705},{106,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_cube01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{963,813},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_cube01_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{1017,919},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_cube02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{1013,573},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_cube02_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{1051,679},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_cube_left_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,91}</string>
                <key>textureRect</key>
                <string>{{797,287},{50,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_cube_right_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,92}</string>
                <key>textureRect</key>
                <string>{{831,962},{54,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_cube_up_nova.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,32}</string>
                <key>spriteSourceSize</key>
                <string>{106,40}</string>
                <key>textureRect</key>
                <string>{{203,982},{98,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-this_cutin00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-11}</string>
                <key>spriteSize</key>
                <string>{848,572}</string>
                <key>spriteSourceSize</key>
                <string>{1240,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{848,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e-this_cutin00_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{575,711},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Edith.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957f077ea2b086aad686885d67356fe9:e9034c7e759de2adc63c73296c855385:a6341cc656b3e5f32a5da9bdb4e3fbce$</string>
            <key>textureFileName</key>
            <string>Edith.png</string>
        </dict>
    </dict>
</plist>
