<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_charge_panel_enemy_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{639,1},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_charge_panel_enemy_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{143,1},{24,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_charge_panel_enemy_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{189,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_charge_panel_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{693,1},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_charge_panel_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{215,1},{24,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_charge_panel_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,169}</string>
                <key>spriteSourceSize</key>
                <string>{170,169}</string>
                <key>textureRect</key>
                <string>{{641,333},{170,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_charge_panel_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{261,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biribiri-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{483,504},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biribiri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{229,410},{234,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biribiri_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{325,1},{28,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biribiri_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{741,504},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{379,1},{128,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain_line_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{509,1},{128,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{786,67},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charge_panel_all_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{874,69},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charge_panel_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{278,81},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_blue_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{365,81},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_gpink_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{452,103},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{539,103},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{626,103},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_green_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{713,153},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{800,155},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_red_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{887,155},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_tern_infinity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{107,1},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1,163},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_panel_yellow_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{88,163},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_panel_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{175,163},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_panel_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{897,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_panel_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,250},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_panel_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{265,168},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elm_circular_type1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{115,253},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elm_circular_type1_003_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{245,280},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elm_glw_flare_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{375,280},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elm_glw_flare_001_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{852,242},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elm_laser_006_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{48,508}</string>
                <key>spriteSourceSize</key>
                <string>{64,512}</string>
                <key>textureRect</key>
                <string>{{1,31},{48,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_charge_panel_enemy_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{789,1},{34,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_charge_panel_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{287,1},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_charge_panel_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{747,1},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{104,14}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shock_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{221,226}</string>
                <key>spriteSourceSize</key>
                <string>{249,256}</string>
                <key>textureRect</key>
                <string>{{1,381},{221,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skl_ball_0201_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{505,333},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{831,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiiti_charge_panel1_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{275,80}</string>
                <key>spriteSourceSize</key>
                <string>{299,86}</string>
                <key>textureRect</key>
                <string>{{1,81},{275,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiiti_charge_panel2_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,88}</string>
                <key>spriteSourceSize</key>
                <string>{245,88}</string>
                <key>textureRect</key>
                <string>{{363,190},{241,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_charge_panel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,68}</string>
                <key>spriteSourceSize</key>
                <string>{299,86}</string>
                <key>textureRect</key>
                <string>{{511,33},{273,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_charge_panel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,89}</string>
                <key>spriteSourceSize</key>
                <string>{246,89}</string>
                <key>textureRect</key>
                <string>{{606,242},{244,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>charge_panel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ba3de26a95d2ecab417e64939f2d817:fbe3d7736357eee0128df869d174f160:eb45dcd308aa9dd5ba1ea0221c77fa8b$</string>
            <key>textureFileName</key>
            <string>charge_panel.png</string>
        </dict>
    </dict>
</plist>
