<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_aktk00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,258}</string>
                <key>spriteSourceSize</key>
                <string>{254,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_aktk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{667,76},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{592,1},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{261,114},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{371,114},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{591,110},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{373,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{481,111},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{667,1},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_aktk09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{483,1},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>うさぎ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{261,1},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_aktk_ui_pic.png</string>
            <key>size</key>
            <string>{741,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de22dddece871c5eeed721f68721e70d:f24213f4652fdef7ca415b9aa636d132:95b7129192bb8671f75c35d68602404c$</string>
            <key>textureFileName</key>
            <string>atls_dgi_aktk_ui_pic.png</string>
        </dict>
    </dict>
</plist>
