<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_accessorSet_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,418}</string>
                <key>spriteSourceSize</key>
                <string>{57,418}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorSet_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,120}</string>
                <key>spriteSourceSize</key>
                <string>{302,120}</string>
                <key>textureRect</key>
                <string>{{1,164},{302,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,48}</string>
                <key>spriteSourceSize</key>
                <string>{43,48}</string>
                <key>textureRect</key>
                <string>{{66,738},{43,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_activeslot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,120}</string>
                <key>spriteSourceSize</key>
                <string>{116,120}</string>
                <key>textureRect</key>
                <string>{{180,405},{116,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_awakegauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,3}</string>
                <key>spriteSourceSize</key>
                <string>{167,3}</string>
                <key>textureRect</key>
                <string>{{414,60},{167,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_awakegauge_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,11}</string>
                <key>spriteSourceSize</key>
                <string>{173,11}</string>
                <key>textureRect</key>
                <string>{{492,284},{173,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,102}</string>
                <key>spriteSourceSize</key>
                <string>{304,102}</string>
                <key>textureRect</key>
                <string>{{1,60},{304,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_dialog_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,143}</string>
                <key>spriteSourceSize</key>
                <string>{147,143}</string>
                <key>textureRect</key>
                <string>{{164,694},{147,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,120}</string>
                <key>spriteSourceSize</key>
                <string>{116,120}</string>
                <key>textureRect</key>
                <string>{{164,523},{116,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{371,526},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_item_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{63,69}</string>
                <key>textureRect</key>
                <string>{{302,421},{63,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_lockicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{302,486},{59,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_nonactiveslot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,161}</string>
                <key>spriteSourceSize</key>
                <string>{154,161}</string>
                <key>textureRect</key>
                <string>{{1,426},{154,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_slot_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,145}</string>
                <key>spriteSourceSize</key>
                <string>{64,145}</string>
                <key>textureRect</key>
                <string>{{286,547},{64,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_slotnone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,120}</string>
                <key>textureRect</key>
                <string>{{180,286},{117,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_slotnone_old.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,152}</string>
                <key>spriteSourceSize</key>
                <string>{147,152}</string>
                <key>textureRect</key>
                <string>{{352,646},{147,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_status.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{307,107},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_status02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,105}</string>
                <key>spriteSourceSize</key>
                <string>{45,105}</string>
                <key>textureRect</key>
                <string>{{307,60},{45,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_status03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,24}</string>
                <key>spriteSourceSize</key>
                <string>{31,24}</string>
                <key>textureRect</key>
                <string>{{381,271},{31,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_status_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{492,255},{27,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_accessorUI_thumbnail_small_base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,68}</string>
                <key>spriteSourceSize</key>
                <string>{177,68}</string>
                <key>textureRect</key>
                <string>{{1,286},{177,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_thumbnail_small_base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,68}</string>
                <key>spriteSourceSize</key>
                <string>{177,68}</string>
                <key>textureRect</key>
                <string>{{1,356},{177,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUI_thumbnail_small_slotbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{371,492},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_accessorUIactiveslot_old.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,161}</string>
                <key>spriteSourceSize</key>
                <string>{154,161}</string>
                <key>textureRect</key>
                <string>{{1,582},{154,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_accessorUI_accessordialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{305,271},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accessorUI_accessordialog_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{1,738},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accessorUI_accessordialog_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{302,346},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accessorUI_accessordialog_open_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{419,83},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accessorUI_awake_comp_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{92,77}</string>
                <key>textureRect</key>
                <string>{{419,176},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accessorUI_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,82}</string>
                <key>spriteSourceSize</key>
                <string>{101,82}</string>
                <key>textureRect</key>
                <string>{{305,187},{101,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_accessorUI_base_comp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,80}</string>
                <key>spriteSourceSize</key>
                <string>{89,80}</string>
                <key>textureRect</key>
                <string>{{421,1},{89,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_accessorUI_awake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,27}</string>
                <key>spriteSourceSize</key>
                <string>{144,27}</string>
                <key>textureRect</key>
                <string>{{378,346},{144,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_accessorUI_awake_comp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,27}</string>
                <key>spriteSourceSize</key>
                <string>{118,27}</string>
                <key>textureRect</key>
                <string>{{164,641},{118,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_accessorUI_awake_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,82}</string>
                <key>spriteSourceSize</key>
                <string>{261,82}</string>
                <key>textureRect</key>
                <string>{{408,255},{261,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>accessorUI_unit_dialog.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2870279bc9761ebf0bde555e3036988:b6ff40fbabe9c5e712910698a280ea29:69e335a78cba00e10b333844d91884d3$</string>
            <key>textureFileName</key>
            <string>accessorUI_unit_dialog.png</string>
        </dict>
    </dict>
</plist>
