<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_PotentialAbility_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,366}</string>
                <key>spriteSourceSize</key>
                <string>{25,366}</string>
                <key>textureRect</key>
                <string>{{255,1},{25,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PotentialAbility_Flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1,308},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PotentialAbility_dialog_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{286,252}</string>
                <key>spriteSourceSize</key>
                <string>{288,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_PotentialAbility_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{88,28}</string>
                <key>textureRect</key>
                <string>{{282,262},{88,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_PotentialAbility_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{69,289},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_PotentialAbility_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{135,289},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_deeplog_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{201,289},{32,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_PotentialAbility_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,30}</string>
                <key>spriteSourceSize</key>
                <string>{259,30}</string>
                <key>textureRect</key>
                <string>{{282,1},{259,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_PotentialAbility_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,17}</string>
                <key>spriteSourceSize</key>
                <string>{66,17}</string>
                <key>textureRect</key>
                <string>{{1,289},{66,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Unit_PotentialAbility.png</string>
            <key>size</key>
            <string>{313,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2907b62a02d5610fcdfdab643fd026e:a16982a7b001c1d02040d2fb09d96560:4727c43b2f05ca4097dba8cbdc51621f$</string>
            <key>textureFileName</key>
            <string>Unit_PotentialAbility.png</string>
        </dict>
    </dict>
</plist>
