<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panel_Saibo_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,83}</string>
                <key>textureRect</key>
                <string>{{509,2},{87,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_Saibo_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{85,79}</string>
                <key>textureRect</key>
                <string>{{158,2},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_Saibo_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{763,2},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_Saibo_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{2,178},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_Saibo_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{376,178},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Aqua01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{78,91}</string>
                <key>textureRect</key>
                <string>{{186,178},{78,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Aqua02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{130,140}</string>
                <key>textureRect</key>
                <string>{{2,641},{130,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Elec01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{245,2},{84,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Elec02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{762,501},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Fire01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{2,274},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Fire02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{418,641},{150,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Heart01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{598,2},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Heart02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{134,641},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Wood01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{851,2},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPanel_Wood02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{274,641},{142,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Bomb_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{471,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Bomb_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{553,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Bomb_Fever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,104}</string>
                <key>spriteSourceSize</key>
                <string>{89,104}</string>
                <key>textureRect</key>
                <string>{{923,274},{89,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Bomb_Fever02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{188,196}</string>
                <key>textureRect</key>
                <string>{{731,641},{188,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Bomb_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{635,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Bomb_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{717,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Bomb_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{799,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_blue_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{2,501},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_blue_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{500,380},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_choco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,82}</string>
                <key>textureRect</key>
                <string>{{417,2},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_green_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{127,501},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_green_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{621,380},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_red_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{252,501},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_red_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{742,380},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{377,501},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_yellow_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{502,501},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_yellow_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{863,380},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SpecialPanel_yellow_under_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{570,641},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_paintpanel_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,380},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_timebomb_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{939,2},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_timebomb_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{2,90},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_timebomb_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{82,90},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_timebomb_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{162,90},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_timebomb_White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,115}</string>
                <key>spriteSourceSize</key>
                <string>{108,115}</string>
                <key>textureRect</key>
                <string>{{390,380},{108,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_timebomb_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{242,90},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{86,99}</string>
                <key>spriteSourceSize</key>
                <string>{86,109}</string>
                <key>textureRect</key>
                <string>{{276,274},{86,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{322,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,96}</string>
                <key>textureRect</key>
                <string>{{881,178},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{331,2},{84,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,84}</string>
                <key>spriteSourceSize</key>
                <string>{81,84}</string>
                <key>textureRect</key>
                <string>{{680,2},{81,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_jamming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{410,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_jamming_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{498,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_jamming_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{586,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_jamming_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{674,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_jamming_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{762,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_jamming_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{850,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{635,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{799,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{471,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{553,178},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candyblock_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{364,274},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candyblock_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{454,274},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candyblock_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{188,274},{86,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candyblock_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{544,274},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candyblock_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{634,274},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_black_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,104}</string>
                <key>textureRect</key>
                <string>{{104,380},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_block_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{96,113}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{292,380},{96,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_block_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{90,274},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_block_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,106}</string>
                <key>spriteSourceSize</key>
                <string>{88,106}</string>
                <key>textureRect</key>
                <string>{{202,380},{88,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_block_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,90}</string>
                <key>textureRect</key>
                <string>{{90,178},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_block_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,106}</string>
                <key>textureRect</key>
                <string>{{822,274},{99,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_crash_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{627,501},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_panel_slime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{108,91}</string>
                <key>textureRect</key>
                <string>{{266,178},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_timebomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{724,274},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_slime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,73}</string>
                <key>spriteSourceSize</key>
                <string>{90,73}</string>
                <key>textureRect</key>
                <string>{{66,2},{90,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panels.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b6e59022d9db299d06ea7b1b41b77c1:6996dbc49439c27bf4ef828e708ed22b:2c276546641a88c0ad916f0eb2df467c$</string>
            <key>textureFileName</key>
            <string>panels.png</string>
        </dict>
    </dict>
</plist>
