<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_EXBattle_Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,192}</string>
                <key>spriteSourceSize</key>
                <string>{193,192}</string>
                <key>textureRect</key>
                <string>{{187,378},{193,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Message_Hukidashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,227}</string>
                <key>spriteSourceSize</key>
                <string>{362,227}</string>
                <key>textureRect</key>
                <string>{{643,1},{362,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,31}</string>
                <key>spriteSourceSize</key>
                <string>{195,31}</string>
                <key>textureRect</key>
                <string>{{381,383},{195,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidPeriod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,69}</string>
                <key>spriteSourceSize</key>
                <string>{640,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQUest_Participation_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{627,366},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQuiest_Participation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{1,651},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQuist_Description.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,72}</string>
                <key>spriteSourceSize</key>
                <string>{413,72}</string>
                <key>textureRect</key>
                <string>{{1,72},{413,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidQuist_Description_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,72}</string>
                <key>spriteSourceSize</key>
                <string>{413,72}</string>
                <key>textureRect</key>
                <string>{{1,146},{413,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidStore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{269,573},{100,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Undeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,16}</string>
                <key>spriteSourceSize</key>
                <string>{216,16}</string>
                <key>textureRect</key>
                <string>{{1007,1},{216,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_View_RaidPresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,91}</string>
                <key>spriteSourceSize</key>
                <string>{189,91}</string>
                <key>textureRect</key>
                <string>{{1,383},{189,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_View_RaidRanking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,91}</string>
                <key>spriteSourceSize</key>
                <string>{189,91}</string>
                <key>textureRect</key>
                <string>{{94,383},{189,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_lockmar_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{381,416},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lockmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{73,81}</string>
                <key>textureRect</key>
                <string>{{1,574},{73,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_lockmarl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,212}</string>
                <key>spriteSourceSize</key>
                <string>{214,212}</string>
                <key>textureRect</key>
                <string>{{416,72},{214,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raid_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,124}</string>
                <key>spriteSourceSize</key>
                <string>{111,124}</string>
                <key>textureRect</key>
                <string>{{892,230},{111,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_rankopen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,95}</string>
                <key>spriteSourceSize</key>
                <string>{166,95}</string>
                <key>textureRect</key>
                <string>{{835,472},{166,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raid_itemstore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,102}</string>
                <key>spriteSourceSize</key>
                <string>{392,102}</string>
                <key>textureRect</key>
                <string>{{1,220},{392,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,79}</string>
                <key>spriteSourceSize</key>
                <string>{38,79}</string>
                <key>textureRect</key>
                <string>{{880,431},{38,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Hukidashi_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{84,574},{70,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_RaidCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1003,431},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_RaidQuest_about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,74}</string>
                <key>spriteSourceSize</key>
                <string>{258,76}</string>
                <key>textureRect</key>
                <string>{{627,290},{256,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_UsagichanClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,68}</string>
                <key>spriteSourceSize</key>
                <string>{118,72}</string>
                <key>textureRect</key>
                <string>{{153,574},{114,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Aggregating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,58}</string>
                <key>spriteSourceSize</key>
                <string>{258,58}</string>
                <key>textureRect</key>
                <string>{{632,230},{258,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Countdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{123,28}</string>
                <key>spriteSourceSize</key>
                <string>{123,30}</string>
                <key>textureRect</key>
                <string>{{880,401},{123,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_EXBatlte_Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,95}</string>
                <key>spriteSourceSize</key>
                <string>{230,95}</string>
                <key>textureRect</key>
                <string>{{395,286},{230,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_EXBattle_Participation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{1,859},{100,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_EXBattle_Remaining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{78,28}</string>
                <key>textureRect</key>
                <string>{{211,352},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,26}</string>
                <key>spriteSourceSize</key>
                <string>{109,26}</string>
                <key>textureRect</key>
                <string>{{211,324},{109,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Participatiion_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,56}</string>
                <key>spriteSourceSize</key>
                <string>{132,56}</string>
                <key>textureRect</key>
                <string>{{885,343},{132,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Participation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,80}</string>
                <key>spriteSourceSize</key>
                <string>{163,80}</string>
                <key>textureRect</key>
                <string>{{835,569},{163,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Remaining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,43}</string>
                <key>spriteSourceSize</key>
                <string>{104,47}</string>
                <key>textureRect</key>
                <string>{{835,366},{104,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_View_RaidPresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{105,52}</string>
                <key>spriteSourceSize</key>
                <string>{105,56}</string>
                <key>textureRect</key>
                <string>{{104,324},{105,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_View_RaidRanking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{101,55}</string>
                <key>spriteSourceSize</key>
                <string>{127,57}</string>
                <key>textureRect</key>
                <string>{{1,324},{101,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RaidQuest.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7340faeb35e178b938c280d1cd3c6989:e7d2e870ca3c87ad913eabff40a59d86:617081397a703663056f0e125a24ca9e$</string>
            <key>textureFileName</key>
            <string>RaidQuest.png</string>
        </dict>
    </dict>
</plist>
