<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_EVO2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1044,805}</string>
                <key>spriteSourceSize</key>
                <string>{1044,805}</string>
                <key>textureRect</key>
                <string>{{171,530},{1044,805}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_EVO2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,316}</string>
                <key>spriteSourceSize</key>
                <string>{337,316}</string>
                <key>textureRect</key>
                <string>{{171,1576},{337,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_EVO2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,326}</string>
                <key>spriteSourceSize</key>
                <string>{363,326}</string>
                <key>textureRect</key>
                <string>{{823,1576},{363,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_EVO2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,1920}</string>
                <key>spriteSourceSize</key>
                <string>{124,1920}</string>
                <key>textureRect</key>
                <string>{{1,1923},{124,1920}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_EVO2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,1920}</string>
                <key>spriteSourceSize</key>
                <string>{168,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{878,385},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1923,390},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1923,132},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,142}</string>
                <key>spriteSourceSize</key>
                <string>{127,142}</string>
                <key>textureRect</key>
                <string>{{616,385},{127,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{745,385},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{1923,1},{115,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_c0_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1923,478},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,274}</string>
                <key>spriteSourceSize</key>
                <string>{273,274}</string>
                <key>textureRect</key>
                <string>{{1320,1},{273,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_EVO2_c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{998,1},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{333,332}</string>
                <key>spriteSourceSize</key>
                <string>{333,334}</string>
                <key>textureRect</key>
                <string>{{489,1576},{333,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_EVO2_c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,382}</string>
                <key>spriteSourceSize</key>
                <string>{380,382}</string>
                <key>textureRect</key>
                <string>{{616,1},{380,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_c5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,443}</string>
                <key>spriteSourceSize</key>
                <string>{443,443}</string>
                <key>textureRect</key>
                <string>{{171,1},{443,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_EVO2_c6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,129}</string>
                <key>spriteSize</key>
                <string>{255,258}</string>
                <key>spriteSourceSize</key>
                <string>{515,516}</string>
                <key>textureRect</key>
                <string>{{1596,1},{255,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_EVO2_sen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,70}</string>
                <key>spriteSize</key>
                <string>{106,146}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{1923,242},{106,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_EVO2_ui_pic.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f479345e02cc5b0a106c076550db5423:d65106c887db6e0eb4da1830e71c663a:008b63e0b830de2aae9cf84b5a91129b$</string>
            <key>textureFileName</key>
            <string>atls_dgi_EVO2_ui_pic.png</string>
        </dict>
    </dict>
</plist>
