<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_hackef_digital_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,32}</string>
                <key>spriteSourceSize</key>
                <string>{82,32}</string>
                <key>textureRect</key>
                <string>{{180,72},{82,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_hackef_digital_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,32}</string>
                <key>spriteSourceSize</key>
                <string>{82,32}</string>
                <key>textureRect</key>
                <string>{{180,156},{82,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_hackef_digital_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,26}</string>
                <key>spriteSourceSize</key>
                <string>{462,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{462,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_hackef_digital_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,32}</string>
                <key>spriteSourceSize</key>
                <string>{71,32}</string>
                <key>textureRect</key>
                <string>{{39,336},{71,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{61,430},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_flame_none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{229,1},{48,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_hackef_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{229,51},{14,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_hackef_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{122,90}</string>
                <key>textureRect</key>
                <string>{{39,175},{122,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,101}</string>
                <key>spriteSourceSize</key>
                <string>{139,101}</string>
                <key>textureRect</key>
                <string>{{39,72},{139,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,54}</string>
                <key>spriteSourceSize</key>
                <string>{188,54}</string>
                <key>textureRect</key>
                <string>{{39,1},{188,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{39,267},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{59,52}</string>
                <key>textureRect</key>
                <string>{{187,372},{59,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{204,319},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_item7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{39,370},{58,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_hackef_lingitem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{39,463},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_lingitem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{29,430},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_hackef_lingitem3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{154,347},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{1,465},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_hackef_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{118,267},{34,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{112,338},{31,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{207,248},{35,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{214,213},{33,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_I.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,41}</string>
                <key>spriteSourceSize</key>
                <string>{15,41}</string>
                <key>textureRect</key>
                <string>{{229,67},{15,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_hackef_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{162,278},{33,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{118,303},{33,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{163,240},{36,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{205,285},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{161,313},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_txt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,13}</string>
                <key>spriteSourceSize</key>
                <string>{154,13}</string>
                <key>textureRect</key>
                <string>{{214,57},{154,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_hackef_txt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,13}</string>
                <key>spriteSourceSize</key>
                <string>{173,13}</string>
                <key>textureRect</key>
                <string>{{39,57},{173,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_hackef_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,13}</string>
                <key>spriteSourceSize</key>
                <string>{29,13}</string>
                <key>textureRect</key>
                <string>{{229,110},{29,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plist_hack.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9aeba8148be2e29c7f958c682ddc62a:041b2fc4aee46672a180e15842b1c1c0:e6adda7ae551d6f371192fc732705a49$</string>
            <key>textureFileName</key>
            <string>plist_hack.png</string>
        </dict>
    </dict>
</plist>
