<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_topcity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,233}</string>
                <key>spriteSourceSize</key>
                <string>{174,233}</string>
                <key>textureRect</key>
                <string>{{261,1839},{174,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,342}</string>
                <key>spriteSourceSize</key>
                <string>{487,342}</string>
                <key>textureRect</key>
                <string>{{1,1495},{487,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_undercity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,434}</string>
                <key>spriteSourceSize</key>
                <string>{391,434}</string>
                <key>textureRect</key>
                <string>{{1049,1512},{391,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,993},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_cutin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,0}</string>
                <key>spriteSize</key>
                <string>{706,190}</string>
                <key>spriteSourceSize</key>
                <string>{786,190}</string>
                <key>textureRect</key>
                <string>{{503,1320},{706,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_efcutin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-9}</string>
                <key>spriteSize</key>
                <string>{1375,964}</string>
                <key>spriteSourceSize</key>
                <string>{1429,982}</string>
                <key>textureRect</key>
                <string>{{1,1},{1375,964}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_flash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,557}</string>
                <key>spriteSourceSize</key>
                <string>{310,557}</string>
                <key>textureRect</key>
                <string>{{490,1512},{310,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatelin_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,404}</string>
                <key>spriteSourceSize</key>
                <string>{277,404}</string>
                <key>textureRect</key>
                <string>{{1378,632},{277,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{257,243}</string>
                <key>spriteSourceSize</key>
                <string>{321,285}</string>
                <key>textureRect</key>
                <string>{{1442,1503},{257,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chess_bishop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,271}</string>
                <key>spriteSourceSize</key>
                <string>{116,271}</string>
                <key>textureRect</key>
                <string>{{756,1824},{116,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chess_bishop_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,271}</string>
                <key>spriteSourceSize</key>
                <string>{116,271}</string>
                <key>textureRect</key>
                <string>{{1113,993},{116,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chess_knight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,258}</string>
                <key>spriteSourceSize</key>
                <string>{153,258}</string>
                <key>textureRect</key>
                <string>{{1,1839},{153,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chess_knight_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,258}</string>
                <key>spriteSourceSize</key>
                <string>{153,258}</string>
                <key>textureRect</key>
                <string>{{496,1824},{153,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chess_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,1174}</string>
                <key>spriteSourceSize</key>
                <string>{24,1174}</string>
                <key>textureRect</key>
                <string>{{1,967},{24,1174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chess_loop_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{1571,1762},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chess_loop_S_fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{1442,1762},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chess_pawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,231}</string>
                <key>spriteSourceSize</key>
                <string>{129,231}</string>
                <key>textureRect</key>
                <string>{{1211,1372},{129,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chess_pawn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,231}</string>
                <key>spriteSourceSize</key>
                <string>{129,231}</string>
                <key>textureRect</key>
                <string>{{1444,1372},{129,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-123}</string>
                <key>spriteSize</key>
                <string>{608,325}</string>
                <key>spriteSourceSize</key>
                <string>{650,571}</string>
                <key>textureRect</key>
                <string>{{503,993},{608,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,332}</string>
                <key>spriteSourceSize</key>
                <string>{332,332}</string>
                <key>textureRect</key>
                <string>{{1231,1038},{332,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,629}</string>
                <key>spriteSourceSize</key>
                <string>{285,629}</string>
                <key>textureRect</key>
                <string>{{1378,1},{285,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rook_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,172}</string>
                <key>spriteSourceSize</key>
                <string>{109,172}</string>
                <key>textureRect</key>
                <string>{{1565,1038},{109,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rook_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,89}</string>
                <key>spriteSourceSize</key>
                <string>{144,89}</string>
                <key>textureRect</key>
                <string>{{1565,1212},{144,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rook_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,91}</string>
                <key>spriteSourceSize</key>
                <string>{103,91}</string>
                <key>textureRect</key>
                <string>{{1442,1891},{103,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainskill_chatelin.png</string>
            <key>size</key>
            <string>{1686,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78c01de8f25dfcf47b3e6890e262b089:c127ef20d6f02f40e3c42e207b24e432:ddadd4f5250d379b41d197c8a95955c8$</string>
            <key>textureFileName</key>
            <string>mainskill_chatelin.png</string>
        </dict>
    </dict>
</plist>
