<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{56,100}</string>
                <key>textureRect</key>
                <string>{{694,326},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_backsnow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-57}</string>
                <key>spriteSize</key>
                <string>{801,158}</string>
                <key>spriteSourceSize</key>
                <string>{801,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{801,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_backsnow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{309,163}</string>
                <key>spriteSourceSize</key>
                <string>{309,199}</string>
                <key>textureRect</key>
                <string>{{443,161},{309,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_backstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{399,367}</string>
                <key>spriteSourceSize</key>
                <string>{405,367}</string>
                <key>textureRect</key>
                <string>{{1,199},{399,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_backtree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,106}</string>
                <key>textureRect</key>
                <string>{{943,218},{80,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_backtree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,134}</string>
                <key>textureRect</key>
                <string>{{900,326},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,143}</string>
                <key>spriteSourceSize</key>
                <string>{144,143}</string>
                <key>textureRect</key>
                <string>{{402,326},{144,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_centerstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,139}</string>
                <key>spriteSourceSize</key>
                <string>{144,139}</string>
                <key>textureRect</key>
                <string>{{840,462},{144,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_colorfilter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,440}</string>
                <key>spriteSourceSize</key>
                <string>{36,440}</string>
                <key>textureRect</key>
                <string>{{1,161},{36,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_cookieman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{645,592},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ornament1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{547,471},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_present.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,143}</string>
                <key>spriteSourceSize</key>
                <string>{144,143}</string>
                <key>textureRect</key>
                <string>{{548,326},{144,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_rousoku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{547,569},{95,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_santaUsagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{754,301},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_santajo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,81}</string>
                <key>spriteSourceSize</key>
                <string>{187,81}</string>
                <key>textureRect</key>
                <string>{{754,218},{187,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_shoes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,143}</string>
                <key>spriteSourceSize</key>
                <string>{144,143}</string>
                <key>textureRect</key>
                <string>{{694,447},{144,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{837,603},{93,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_snowman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,698},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_starlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{804,1},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{402,471},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{741,592},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_Xmas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0abc484808b9e7fd55f358c297689d8e:70253c5216290a54e92ed2905bbaf15d:5bd0a58977435e8633dcbdc635f4af94$</string>
            <key>textureFileName</key>
            <string>system_Xmas.png</string>
        </dict>
    </dict>
</plist>
