<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Happykuji_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{490,335}</string>
                <key>spriteSourceSize</key>
                <string>{526,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Happykuji_itembase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,336}</string>
                <key>spriteSourceSize</key>
                <string>{118,336}</string>
                <key>textureRect</key>
                <string>{{338,1},{118,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Happykuji_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,39}</string>
                <key>spriteSourceSize</key>
                <string>{58,39}</string>
                <key>textureRect</key>
                <string>{{363,487},{58,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Happykuji_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,67}</string>
                <key>spriteSourceSize</key>
                <string>{246,67}</string>
                <key>textureRect</key>
                <string>{{1,562},{246,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Happykuji_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{360,67}</string>
                <key>spriteSourceSize</key>
                <string>{372,73}</string>
                <key>textureRect</key>
                <string>{{1,493},{360,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Happykujibox_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{458,160},{29,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Happykujibox_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{338,339},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Happykujibox_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{338,417},{68,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Happykujibox_Purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{408,339},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Happykujibox_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{416,417},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Happykujibox_Yerrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{410,495},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Happykuji_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,25}</string>
                <key>spriteSourceSize</key>
                <string>{157,25}</string>
                <key>textureRect</key>
                <string>{{458,1},{157,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_kuji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,54}</string>
                <key>spriteSourceSize</key>
                <string>{159,54}</string>
                <key>textureRect</key>
                <string>{{249,562},{159,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_Happykuji.png</string>
            <key>size</key>
            <string>{486,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d7a3a96e55b806478b9a603ef0d10be:1888a924c36039b3179c757c886cedda:7db899ed3cba955610c1b65ddf1f892e$</string>
            <key>textureFileName</key>
            <string>atls_Happykuji.png</string>
        </dict>
    </dict>
</plist>
