<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_8thanniv_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,394}</string>
                <key>spriteSourceSize</key>
                <string>{374,394}</string>
                <key>textureRect</key>
                <string>{{1,1352},{374,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_8thanniv_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,438}</string>
                <key>spriteSourceSize</key>
                <string>{444,438}</string>
                <key>textureRect</key>
                <string>{{752,1},{444,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_8thanniv_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,252}</string>
                <key>spriteSourceSize</key>
                <string>{253,252}</string>
                <key>textureRect</key>
                <string>{{1036,1469},{253,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_8thanniv_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,295}</string>
                <key>spriteSourceSize</key>
                <string>{295,295}</string>
                <key>textureRect</key>
                <string>{{1037,1172},{295,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_8thanniv_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,348}</string>
                <key>spriteSourceSize</key>
                <string>{348,348}</string>
                <key>textureRect</key>
                <string>{{377,1352},{348,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_8thanniv_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1198,381},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_8thanniv_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{1177,633},{98,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_8thanniv_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,84}</string>
                <key>spriteSourceSize</key>
                <string>{97,84}</string>
                <key>textureRect</key>
                <string>{{1177,724},{97,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_8thanniv_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1198,177},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_8thanniv_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,101}</string>
                <key>spriteSourceSize</key>
                <string>{93,101}</string>
                <key>textureRect</key>
                <string>{{1198,82},{93,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_8thanniv_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1198,279},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_8thanniv_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1177,810},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_8thanniv_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,749}</string>
                <key>spriteSourceSize</key>
                <string>{719,749}</string>
                <key>textureRect</key>
                <string>{{1,1},{719,749}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_8thanniv_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,628}</string>
                <key>spriteSourceSize</key>
                <string>{640,628}</string>
                <key>textureRect</key>
                <string>{{1,722},{640,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_8thanniv_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,318}</string>
                <key>spriteSourceSize</key>
                <string>{258,318}</string>
                <key>textureRect</key>
                <string>{{727,864},{258,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_8thanniv_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,291}</string>
                <key>spriteSourceSize</key>
                <string>{307,291}</string>
                <key>textureRect</key>
                <string>{{727,1387},{307,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_8thanniv_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,423}</string>
                <key>spriteSourceSize</key>
                <string>{421,423}</string>
                <key>textureRect</key>
                <string>{{752,441},{421,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_8thanniv_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,79}</string>
                <key>spriteSourceSize</key>
                <string>{117,79}</string>
                <key>textureRect</key>
                <string>{{1198,1},{117,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_8thanniv_item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,308}</string>
                <key>spriteSourceSize</key>
                <string>{261,308}</string>
                <key>textureRect</key>
                <string>{{727,1124},{261,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_8thanniv_item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,276}</string>
                <key>spriteSourceSize</key>
                <string>{272,276}</string>
                <key>textureRect</key>
                <string>{{1047,898},{272,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_8thanniv_item8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,168}</string>
                <key>spriteSourceSize</key>
                <string>{154,168}</string>
                <key>textureRect</key>
                <string>{{1177,463},{154,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_8thanniv.png</string>
            <key>size</key>
            <string>{1333,1747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b4fe2715e890985339bd73fe7d04bde:4bfe2a11260f2a7074b3ec7a98d37891:dbc9deadf394821b45849ecb7ff801d7$</string>
            <key>textureFileName</key>
            <string>atls_system_8thanniv.png</string>
        </dict>
    </dict>
</plist>
