<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Beginnerlogbo_badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,166}</string>
                <key>spriteSourceSize</key>
                <string>{457,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{457,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Beginnerlogbo_squareFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{1,327},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_Beginnerlogbo_putimebius.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{156,129}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{1,169},{156,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Poly50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,440},{70,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Beginnerlogbo.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c68ba7ff51c3ee40322fd389e19b99d6:de5715610154a7457b350e67177335e2:7935a3d9ea648105f28a34a6125e7bb3$</string>
            <key>textureFileName</key>
            <string>Beginnerlogbo.png</string>
        </dict>
    </dict>
</plist>
