<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_unit_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_auto_quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{22,61},{40,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_namechange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{22,102},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_namechange_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,2}</string>
                <key>spriteSourceSize</key>
                <string>{8,2}</string>
                <key>textureRect</key>
                <string>{{1,109},{8,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_partychange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{58,61},{33,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_common_new_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,20}</string>
                <key>spriteSourceSize</key>
                <string>{47,20}</string>
                <key>textureRect</key>
                <string>{{1,61},{47,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>00_common_atlas.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9c0f3c8a7fe6b3cbb0e85dee5246d6c:5aafa94ec9dc2b81f7b6cafc9786c18a:5338bcd70f395fc6c90f5fa6892a8865$</string>
            <key>textureFileName</key>
            <string>00_common_atlas.png</string>
        </dict>
    </dict>
</plist>
