<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_lp_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,49}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1,472},{62,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_circle_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_door_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1,260},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_door_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{44,137},{76,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,100}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,370},{91,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{137,72},{62,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_lp_num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{94,320},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{149,210},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{184,136},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{208,72},{61,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_lp_num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{266,1},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{202,1},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{94,391},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_lp_num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{329,1},{61,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_lp_num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{400,1},{61,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_lp_numX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{63,69}</string>
                <key>textureRect</key>
                <string>{{137,1},{63,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_lp_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{60,71}</string>
                <key>textureRect</key>
                <string>{{122,137},{60,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_lp_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{329,64},{61,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_lp_E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{400,123},{54,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_lp_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,69}</string>
                <key>spriteSourceSize</key>
                <string>{57,69}</string>
                <key>textureRect</key>
                <string>{{400,64},{57,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_lp_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{279,127},{51,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_lp_O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{83,247},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_lp_processing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,41}</string>
                <key>spriteSourceSize</key>
                <string>{121,41}</string>
                <key>textureRect</key>
                <string>{{1,137},{121,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lockpanel_effect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6358e97507db7e82771fca76ae82d614:a9d3b55d9a2b1abacacd1902d8159daf:4661216b46e96aab4467bc014bc94c83$</string>
            <key>textureFileName</key>
            <string>lockpanel_effect.png</string>
        </dict>
    </dict>
</plist>
