<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_SkillDetailStage_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,57}</string>
                <key>spriteSourceSize</key>
                <string>{117,57}</string>
                <key>textureRect</key>
                <string>{{435,1},{117,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_SkillDetail_NoTab_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{432,23}</string>
                <key>spriteSourceSize</key>
                <string>{432,51}</string>
                <key>textureRect</key>
                <string>{{1,213},{432,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetail_Tab1_Active_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,51}</string>
                <key>spriteSourceSize</key>
                <string>{432,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetail_Tab2_Active_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,51}</string>
                <key>spriteSourceSize</key>
                <string>{432,51}</string>
                <key>textureRect</key>
                <string>{{1,54},{432,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetail_Tab3_Active_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,51}</string>
                <key>spriteSourceSize</key>
                <string>{432,51}</string>
                <key>textureRect</key>
                <string>{{1,107},{432,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_SkillDetail_Tab4_Active_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,51}</string>
                <key>spriteSourceSize</key>
                <string>{432,51}</string>
                <key>textureRect</key>
                <string>{{1,160},{432,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Unit_detail_tab.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7fa1571ee4348d91f003fed6d8d8f6b:85931212ec4e1b0160428c40b0fb8352:ec4f4f4f41fb76d3c8df5ca0c5dad3ce$</string>
            <key>textureFileName</key>
            <string>Unit_detail_tab.png</string>
        </dict>
    </dict>
</plist>
