<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_lock_ex_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{212,30},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_lock_ex_bword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,27}</string>
                <key>spriteSourceSize</key>
                <string>{393,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{393,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_lock_ex_cho_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{294,30},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_lock_ex_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,149}</string>
                <key>spriteSourceSize</key>
                <string>{165,149}</string>
                <key>textureRect</key>
                <string>{{1,30},{165,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_lock_ex_nbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{168,30},{132,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_lock_ex_syojisu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,18}</string>
                <key>spriteSourceSize</key>
                <string>{51,18}</string>
                <key>textureRect</key>
                <string>{{212,118},{51,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgi_lock_ex_list.png</string>
            <key>size</key>
            <string>{395,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06c154760715743dea87fddaccfb529f:f6e8b13fed33abfb71ef96e4f5d0bdef:36d0806dc846ab59ec8053a9beaf85b9$</string>
            <key>textureFileName</key>
            <string>bgi_lock_ex_list.png</string>
        </dict>
    </dict>
</plist>
