<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_accessor_p01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,95}</string>
                <key>spriteSourceSize</key>
                <string>{116,95}</string>
                <key>textureRect</key>
                <string>{{715,158},{116,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,95}</string>
                <key>spriteSourceSize</key>
                <string>{116,95}</string>
                <key>textureRect</key>
                <string>{{833,158},{116,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,155}</string>
                <key>spriteSourceSize</key>
                <string>{260,155}</string>
                <key>textureRect</key>
                <string>{{702,1},{260,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_excm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{529,214},{41,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_accessor_p_excm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,45}</string>
                <key>spriteSourceSize</key>
                <string>{17,45}</string>
                <key>textureRect</key>
                <string>{{1196,237},{17,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_accessor_p_eye.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{1,243},{11,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_accessor_p_face.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{87,95}</string>
                <key>textureRect</key>
                <string>{{951,158},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_hat00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,72}</string>
                <key>textureRect</key>
                <string>{{1313,158},{116,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_hat01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,64}</string>
                <key>spriteSourceSize</key>
                <string>{108,64}</string>
                <key>textureRect</key>
                <string>{{605,191},{108,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_hat02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,64}</string>
                <key>spriteSourceSize</key>
                <string>{107,64}</string>
                <key>textureRect</key>
                <string>{{1431,158},{107,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{656,174},{14,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_accessor_p_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{568,214},{36,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_accessor_p_window_item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,5}</string>
                <key>spriteSourceSize</key>
                <string>{33,5}</string>
                <key>textureRect</key>
                <string>{{32,243},{33,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_accessor_p_window_item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{576,191},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_comingsoon_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,155}</string>
                <key>spriteSourceSize</key>
                <string>{260,155}</string>
                <key>textureRect</key>
                <string>{{964,1},{260,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_comingsoon_p_safetycone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{1040,158},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_comingsoon_p_safetyusagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,122}</string>
                <key>spriteSourceSize</key>
                <string>{103,122}</string>
                <key>textureRect</key>
                <string>{{1488,1},{103,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_construction_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,155}</string>
                <key>spriteSourceSize</key>
                <string>{260,155}</string>
                <key>textureRect</key>
                <string>{{1226,1},{260,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_construction_p_safetycone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{1118,158},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fukidasi_accessor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{188,78}</string>
                <key>textureRect</key>
                <string>{{576,1},{188,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_accessor_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{262,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{262,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_accessor_off .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{262,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{265,1},{262,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_accessor_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,77}</string>
                <key>spriteSourceSize</key>
                <string>{115,77}</string>
                <key>textureRect</key>
                <string>{{1196,158},{115,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_comingsoon_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,44}</string>
                <key>spriteSourceSize</key>
                <string>{171,44}</string>
                <key>textureRect</key>
                <string>{{656,1},{171,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_construction_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,45}</string>
                <key>spriteSourceSize</key>
                <string>{211,45}</string>
                <key>textureRect</key>
                <string>{{529,1},{211,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_questtype2.png</string>
            <key>size</key>
            <string>{1592,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:418bfba8f27c27af732b22fe5abd8734:f496bdaa7e991f84d7a74ba08baed8e1:828a65cd27c65993690e058a1d44616c$</string>
            <key>textureFileName</key>
            <string>quest_questtype2.png</string>
        </dict>
    </dict>
</plist>
