<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_round_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{140,164},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_shop_btnbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,127}</string>
                <key>spriteSourceSize</key>
                <string>{14,127}</string>
                <key>textureRect</key>
                <string>{{1,279},{14,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_shop_btnbase_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,127}</string>
                <key>spriteSourceSize</key>
                <string>{14,127}</string>
                <key>textureRect</key>
                <string>{{17,279},{14,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,137}</string>
                <key>spriteSourceSize</key>
                <string>{138,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1,140},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_ShopFolderPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{179,304},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_ShopFriendSlotPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{82,279},{56,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_ShopStamina.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{179,356},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_button_shop_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{116,47}</string>
                <key>spriteSourceSize</key>
                <string>{118,49}</string>
                <key>textureRect</key>
                <string>{{33,279},{116,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_item_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,98}</string>
                <key>textureRect</key>
                <string>{{141,84},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_polygon_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{81,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,98}</string>
                <key>textureRect</key>
                <string>{{141,1},{81,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_ShopFolderPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,49}</string>
                <key>spriteSourceSize</key>
                <string>{84,49}</string>
                <key>textureRect</key>
                <string>{{82,327},{72,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_ShopFriendSlotPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,44}</string>
                <key>spriteSourceSize</key>
                <string>{96,44}</string>
                <key>textureRect</key>
                <string>{{133,327},{68,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_ShopStamina.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,42}</string>
                <key>spriteSourceSize</key>
                <string>{77,42}</string>
                <key>textureRect</key>
                <string>{{140,260},{77,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_shop_top.png</string>
            <key>size</key>
            <string>{234,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85e098f4e833bb3409bddb293310a519:5fcc4810f36baae60c83f076025b8ad9:8886a2e7857388374a90808ec1846b13$</string>
            <key>textureFileName</key>
            <string>atls_shop_top.png</string>
        </dict>
    </dict>
</plist>
