<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_7th_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,242}</string>
                <key>spriteSourceSize</key>
                <string>{289,242}</string>
                <key>textureRect</key>
                <string>{{741,1122},{289,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_7th_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,231}</string>
                <key>spriteSourceSize</key>
                <string>{226,231}</string>
                <key>textureRect</key>
                <string>{{741,1413},{226,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_7th_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1573,1298},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_7th_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1573,1491},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_7th_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,97}</string>
                <key>spriteSourceSize</key>
                <string>{101,97}</string>
                <key>textureRect</key>
                <string>{{1573,1100},{101,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_7th_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{1573,1396},{93,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_7th_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1594,317},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_7th_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,97}</string>
                <key>spriteSourceSize</key>
                <string>{98,97}</string>
                <key>textureRect</key>
                <string>{{1573,1199},{98,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_7tht_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,79}</string>
                <key>spriteSourceSize</key>
                <string>{69,79}</string>
                <key>textureRect</key>
                <string>{{1594,401},{69,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_7th_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{891,324}</string>
                <key>spriteSourceSize</key>
                <string>{895,326}</string>
                <key>textureRect</key>
                <string>{{1,796},{891,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_7th_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1668,182}</string>
                <key>spriteSourceSize</key>
                <string>{1670,182}</string>
                <key>textureRect</key>
                <string>{{1681,1},{1668,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_7th_bg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,179}</string>
                <key>spriteSourceSize</key>
                <string>{798,179}</string>
                <key>textureRect</key>
                <string>{{197,1671},{798,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_7th_bg_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,39}</string>
                <key>spriteSize</key>
                <string>{962,477}</string>
                <key>spriteSourceSize</key>
                <string>{1296,555}</string>
                <key>textureRect</key>
                <string>{{1,317},{962,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_7th_bg_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1678,314}</string>
                <key>spriteSourceSize</key>
                <string>{1678,314}</string>
                <key>textureRect</key>
                <string>{{1,1},{1678,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_7th_bg_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{738,522}</string>
                <key>spriteSourceSize</key>
                <string>{738,522}</string>
                <key>textureRect</key>
                <string>{{1,1122},{738,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_7th_bg_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{781,595}</string>
                <key>spriteSourceSize</key>
                <string>{781,595}</string>
                <key>textureRect</key>
                <string>{{997,317},{781,595}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_7th_bg_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{751,574}</string>
                <key>spriteSourceSize</key>
                <string>{751,574}</string>
                <key>textureRect</key>
                <string>{{997,1100},{751,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_7th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,194}</string>
                <key>spriteSourceSize</key>
                <string>{190,194}</string>
                <key>textureRect</key>
                <string>{{1,1671},{190,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_7th_ui_pic.png</string>
            <key>size</key>
            <string>{1864,1862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf3b6eb2930399b7adb49ab36dd86b19:1e50b6699e3682ddd8cddc4c95ac2c4a:e649e46c772d285a63f9158b13bde873$</string>
            <key>textureFileName</key>
            <string>atls_dgi_7th_ui_pic.png</string>
        </dict>
    </dict>
</plist>
