<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,279}</string>
                <key>spriteSourceSize</key>
                <string>{279,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{162,394},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_Yvector_slash_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{252,120}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{259,286},{252,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_elm_ring_fire_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{238,408},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_vector_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{172,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{282,112},{172,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_vertical_Flash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{256,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,282},{256,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_paneldamage1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,109}</string>
                <key>spriteSourceSize</key>
                <string>{204,109}</string>
                <key>textureRect</key>
                <string>{{282,1},{204,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_paneldamageup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,107}</string>
                <key>spriteSourceSize</key>
                <string>{159,107}</string>
                <key>textureRect</key>
                <string>{{1,394},{159,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_paneldamageup_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{162,469},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PanelDamageUP.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88514790d857180b11b61c6461309959:3ea9fa893c029e601027e2ed9d0ec378:62a97ca7af683e9395cc691a695da74a$</string>
            <key>textureFileName</key>
            <string>PanelDamageUP.png</string>
        </dict>
    </dict>
</plist>
