<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_musyoku_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,238}</string>
                <key>spriteSourceSize</key>
                <string>{238,238}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_musyoku_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{86,90}</string>
                <key>textureRect</key>
                <string>{{241,93},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_musyoku_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{420,1},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_musyoku_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,86}</string>
                <key>textureRect</key>
                <string>{{329,93},{89,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_musyoku_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{332,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_musyoku_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{241,1},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_musyoku_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{417,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_musyoku_ui_pic.png</string>
            <key>size</key>
            <string>{505,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009a1d53697f77e158c318575f9245fe:cd0e015edb4793bb93f33d3a2dc74c80:c689a7172de3ba87634a74671cb35b8e$</string>
            <key>textureFileName</key>
            <string>atls_dgi_musyoku_ui_pic.png</string>
        </dict>
    </dict>
</plist>
