<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_center_hwmoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_hwmoonbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1,405},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcandy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{222,144},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcandy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{254,218},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwcap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{99,405},{95,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_hwhk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{139,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{113,222},{139,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwjery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{195,367},{141,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwkoumori.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{338,360},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwkumo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{396,144},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwmoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{222,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwobake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{396,237},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_hwpumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{338,1},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_hwjery_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,110}</string>
                <key>spriteSourceSize</key>
                <string>{181,110}</string>
                <key>textureRect</key>
                <string>{{1,222},{181,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_hw.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ae4229629c8c94fd87ac2458aecb864:0dc97bd40ef4608fca190d093e41d1af:3b5b4c70f6a6f101110c332d21d89822$</string>
            <key>textureFileName</key>
            <string>system_hw.png</string>
        </dict>
    </dict>
</plist>
