<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spofes_jelly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{82,53}</string>
                <key>spriteSourceSize</key>
                <string>{150,71}</string>
                <key>textureRect</key>
                <string>{{155,4},{82,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spofes_ponpon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{150,61}</string>
                <key>spriteSourceSize</key>
                <string>{150,71}</string>
                <key>textureRect</key>
                <string>{{4,4},{150,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_counter_spofes.png</string>
            <key>size</key>
            <string>{241,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e24715b3c01ac08289c52919f1f2008e:9dd53ba598c635a74933a4245f9048a7:19fe7fe050ec23aef55d1d0b8bef11ec$</string>
            <key>textureFileName</key>
            <string>m_counter_spofes.png</string>
        </dict>
    </dict>
</plist>
