<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GuideMissioon_Gift_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{592,428}</string>
                <key>spriteSourceSize</key>
                <string>{640,456}</string>
                <key>textureRect</key>
                <string>{{643,1},{592,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GuideMissioon_Gift_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,121}</string>
                <key>spriteSourceSize</key>
                <string>{551,121}</string>
                <key>textureRect</key>
                <string>{{1073,1},{551,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GuideMissioon_Gift_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{1073,554},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuideMissioon_Gift_item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,152}</string>
                <key>spriteSourceSize</key>
                <string>{457,152}</string>
                <key>textureRect</key>
                <string>{{464,474},{457,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GuideMissioon_Gift_item7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{347,84}</string>
                <key>spriteSourceSize</key>
                <string>{353,88}</string>
                <key>textureRect</key>
                <string>{{1206,554},{347,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GuideMissioon_Open_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,471}</string>
                <key>spriteSourceSize</key>
                <string>{640,471}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,471}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuideMissioon_Open_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,113}</string>
                <key>spriteSourceSize</key>
                <string>{551,113}</string>
                <key>textureRect</key>
                <string>{{1196,1},{551,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GuideMissioon_Open_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{222,104}</string>
                <key>spriteSourceSize</key>
                <string>{246,104}</string>
                <key>textureRect</key>
                <string>{{1292,554},{222,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GuideMissioon_Open_item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1,474},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuideMissioon_Open_item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,34}</string>
                <key>spriteSize</key>
                <string>{586,273}</string>
                <key>spriteSourceSize</key>
                <string>{640,353}</string>
                <key>textureRect</key>
                <string>{{618,595},{586,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuideMission_Dialoga.png</string>
            <key>size</key>
            <string>{1536,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd62d3708d0fc9bcd17391d8743d0676:2e21f811a0a4c700421eac41f00e2d7b:640386697bafc2909de17dc29f227eb6$</string>
            <key>textureFileName</key>
            <string>GuideMission_Dialoga.png</string>
        </dict>
    </dict>
</plist>
