<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_1400dl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1215,1},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_1400dl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,379}</string>
                <key>spriteSourceSize</key>
                <string>{379,379}</string>
                <key>textureRect</key>
                <string>{{834,1},{379,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_item_1400dl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,502}</string>
                <key>spriteSourceSize</key>
                <string>{831,502}</string>
                <key>textureRect</key>
                <string>{{1,1},{831,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_1400dl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{834,382},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_1400dl_ui_pic.png</string>
            <key>size</key>
            <string>{1357,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a61705376a3cbd0e47c495d1361aff:a2c894706b948471ee528621bfc7071b:a905609293f0390211dd83f28b23ac5f$</string>
            <key>textureFileName</key>
            <string>atls_dgi_1400dl_ui_pic.png</string>
        </dict>
    </dict>
</plist>
