<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_PanelStateChangeFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{503,1},{73,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_PanelStatus_undeLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,29}</string>
                <key>spriteSourceSize</key>
                <string>{263,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{263,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PanelStatus_undeLine_grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,29}</string>
                <key>spriteSourceSize</key>
                <string>{262,29}</string>
                <key>textureRect</key>
                <string>{{1,32},{262,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PanlStatus_DetailFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{238,63},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNameLabel_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,26}</string>
                <key>spriteSourceSize</key>
                <string>{235,26}</string>
                <key>textureRect</key>
                <string>{{266,1},{235,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNameLabel_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,26}</string>
                <key>spriteSourceSize</key>
                <string>{235,26}</string>
                <key>textureRect</key>
                <string>{{1,63},{235,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNameLabel_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,26}</string>
                <key>spriteSourceSize</key>
                <string>{235,26}</string>
                <key>textureRect</key>
                <string>{{266,29},{235,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNameLabel_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,26}</string>
                <key>spriteSourceSize</key>
                <string>{235,26}</string>
                <key>textureRect</key>
                <string>{{265,57},{235,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_PanelstatusDialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{76,32}</string>
                <key>textureRect</key>
                <string>{{502,76},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PanelStatus.png</string>
            <key>size</key>
            <string>{579,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7ab738a25f6a7310cc682e65c5e94e:31db3fda5147adeb20972e0b9ebaaa3f:cadf38830105a3ff39165fb7612abc91$</string>
            <key>textureFileName</key>
            <string>PanelStatus.png</string>
        </dict>
    </dict>
</plist>
