<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Multilobby_1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{313,1},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{625,1},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{310,258}</string>
                <key>textureRect</key>
                <string>{{1,411},{310,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,70}</string>
                <key>spriteSourceSize</key>
                <string>{292,70}</string>
                <key>textureRect</key>
                <string>{{1,723},{292,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,98}</string>
                <key>spriteSourceSize</key>
                <string>{310,98}</string>
                <key>textureRect</key>
                <string>{{261,411},{310,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,98}</string>
                <key>spriteSourceSize</key>
                <string>{310,98}</string>
                <key>textureRect</key>
                <string>{{361,411},{310,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,98}</string>
                <key>spriteSourceSize</key>
                <string>{310,98}</string>
                <key>textureRect</key>
                <string>{{461,411},{310,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_WaitPlayer_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{510,375},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_MultilobbyChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{654,261},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MultilobbyStanp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{748,261},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,83}</string>
                <key>spriteSourceSize</key>
                <string>{203,83}</string>
                <key>textureRect</key>
                <string>{{937,1},{203,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,83}</string>
                <key>spriteSourceSize</key>
                <string>{203,83}</string>
                <key>textureRect</key>
                <string>{{937,206},{203,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,76}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{379,723},{196,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_changeUnit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,56}</string>
                <key>spriteSourceSize</key>
                <string>{101,56}</string>
                <key>textureRect</key>
                <string>{{445,921},{101,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendclaimed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,56}</string>
                <key>spriteSourceSize</key>
                <string>{108,56}</string>
                <key>textureRect</key>
                <string>{{532,261},{108,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,42}</string>
                <key>textureRect</key>
                <string>{{610,882},{100,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendrequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,45}</string>
                <key>spriteSourceSize</key>
                <string>{103,45}</string>
                <key>textureRect</key>
                <string>{{563,903},{103,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_multi_lobby_bugeffect_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,16}</string>
                <key>spriteSourceSize</key>
                <string>{75,16}</string>
                <key>textureRect</key>
                <string>{{280,381},{75,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_multi_lobby_bugeffect_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,16}</string>
                <key>spriteSourceSize</key>
                <string>{75,16}</string>
                <key>textureRect</key>
                <string>{{357,381},{75,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{457,723},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,95}</string>
                <key>textureRect</key>
                <string>{{435,261},{112,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_1Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,16}</string>
                <key>spriteSourceSize</key>
                <string>{72,16}</string>
                <key>textureRect</key>
                <string>{{555,829},{72,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,96}</string>
                <key>spriteSourceSize</key>
                <string>{118,96}</string>
                <key>textureRect</key>
                <string>{{337,261},{118,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_2Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,16}</string>
                <key>spriteSourceSize</key>
                <string>{73,16}</string>
                <key>textureRect</key>
                <string>{{537,829},{73,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,97}</string>
                <key>spriteSourceSize</key>
                <string>{118,97}</string>
                <key>textureRect</key>
                <string>{{238,261},{118,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_3Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{74,16}</string>
                <key>textureRect</key>
                <string>{{434,381},{74,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_3onlyquest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{201,48}</string>
                <key>textureRect</key>
                <string>{{61,261},{141,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{140,261},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_4Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{74,16}</string>
                <key>textureRect</key>
                <string>{{519,829},{74,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_ChatFlame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{573,829},{51,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_UnitChange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,49}</string>
                <key>spriteSourceSize</key>
                <string>{164,49}</string>
                <key>textureRect</key>
                <string>{{590,261},{108,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,58}</string>
                <key>spriteSourceSize</key>
                <string>{149,60}</string>
                <key>textureRect</key>
                <string>{{1,261},{147,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_username.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,11}</string>
                <key>spriteSourceSize</key>
                <string>{28,13}</string>
                <key>textureRect</key>
                <string>{{111,397},{28,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{141,383},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,25}</string>
                <key>spriteSourceSize</key>
                <string>{77,27}</string>
                <key>textureRect</key>
                <string>{{203,383},{75,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{134,27}</string>
                <key>spriteSourceSize</key>
                <string>{148,29}</string>
                <key>textureRect</key>
                <string>{{111,261},{134,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,57}</string>
                <key>spriteSourceSize</key>
                <string>{102,57}</string>
                <key>textureRect</key>
                <string>{{386,921},{102,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{104,58}</string>
                <key>textureRect</key>
                <string>{{503,905},{104,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,57}</string>
                <key>spriteSourceSize</key>
                <string>{104,57}</string>
                <key>textureRect</key>
                <string>{{519,723},{104,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,257}</string>
                <key>spriteSourceSize</key>
                <string>{304,257}</string>
                <key>textureRect</key>
                <string>{{73,723},{304,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_changeUnitBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{67,36}</string>
                <key>textureRect</key>
                <string>{{543,371},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_friendclaimedt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{73,982},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_friendrequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,36}</string>
                <key>spriteSourceSize</key>
                <string>{158,36}</string>
                <key>textureRect</key>
                <string>{{226,982},{158,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_MultiLobby.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d65b62a0af85d53bfaa7cbfce798ecc8:df5ea409fcf86b03681af707adafaafa:f2af27487138b9e9899a793c4f9efedf$</string>
            <key>textureFileName</key>
            <string>atls_MultiLobby.png</string>
        </dict>
    </dict>
</plist>
