<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico_Apple_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_apple_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{73,31},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_apple_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{1,62},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_apple_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{1,30},{29,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_applelimitshine_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{33,1},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_applemax01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{36,29}</string>
                <key>textureRect</key>
                <string>{{35,31},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_applemax02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{41,63},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_applemax_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{65,1},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_appleshine_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{79,63},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_Apple.png</string>
            <key>size</key>
            <string>{116,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b40b5495d2c6234d3adfa26d215073f:d16997ff5bf6da7c31ebc20fd05251e0:3ac7c07edfab48d42d8ad2beac017c2e$</string>
            <key>textureFileName</key>
            <string>icon_Apple.png</string>
        </dict>
    </dict>
</plist>
