<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico_TapHand_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,144}</string>
                <key>spriteSourceSize</key>
                <string>{122,144}</string>
                <key>textureRect</key>
                <string>{{609,761},{122,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_heart_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,77}</string>
                <key>spriteSourceSize</key>
                <string>{100,77}</string>
                <key>textureRect</key>
                <string>{{953,319},{100,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Aqua_Break_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{971,749},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Aqua_Break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{953,207},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Aqua_Break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{130,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{949,399},{130,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Aqua_Break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{176,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{771,399},{176,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Aqua_Break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,12}</string>
                <key>spriteSize</key>
                <string>{374,376}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{395,383},{374,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Elec_Break_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{971,845},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Elec_Break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{973,107},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Elec_Break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{473,761},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Elec_Break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{170,192}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{771,595},{170,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seq_Elec_Break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{390,376}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{390,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Fire_Break_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{965,557},{88,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Wood_Break_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{965,659},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Wood_Break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{973,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Wood_Break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,154}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{331,781},{140,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Wood_Break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{180,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{771,203},{180,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Wood_Break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{374,380}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{395,1},{374,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Fire_Break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{857,767},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Fire_Break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{392,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{392,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Fire_Break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{136,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{193,781},{136,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seq_Fire_Break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,10}</string>
                <key>spriteSize</key>
                <string>{168,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,781},{168,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skl_ball_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{771,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skl_kira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{733,767},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Colorgain.png</string>
            <key>size</key>
            <string>{1080,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4949a95bdfdf88cc585f6c6c1be418ff:5f0f183fb8bc857019378ada360b46a1:3e0fd496579361dbb3bf206ba0fe33d6$</string>
            <key>textureFileName</key>
            <string>Colorgain.png</string>
        </dict>
    </dict>
</plist>
