<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_circle_tw5th1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{745,1755},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5th2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{857,1755},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5th3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{860,1403},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5th4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{860,1515},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5th5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{860,1627},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5thaqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{969,1739},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5thcrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1081,1403},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5thelec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{972,1403},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5thfire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1193,1403},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5thlogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,161}</string>
                <key>spriteSourceSize</key>
                <string>{217,161}</string>
                <key>textureRect</key>
                <string>{{526,1755},{217,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5thusagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{109,110}</string>
                <key>textureRect</key>
                <string>{{972,1627},{109,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_circle_tw5thwood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{972,1515},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_systembg_tw5th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,1400}</string>
                <key>spriteSourceSize</key>
                <string>{1400,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_system_tw5th1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{515,523}</string>
                <key>spriteSourceSize</key>
                <string>{545,545}</string>
                <key>textureRect</key>
                <string>{{1,1403},{515,523}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_system_tw5th2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{332,350}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{526,1403},{332,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_tw5th.png</string>
            <key>size</key>
            <string>{1402,1919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d60d3df9d7482335d3920bc6b9fc2e74:014620189abb3422e78531018988291d:487e10c477362e90298631236bf4c08f$</string>
            <key>textureFileName</key>
            <string>system_tw5th.png</string>
        </dict>
    </dict>
</plist>
