<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>White_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,26}</string>
                <key>spriteSourceSize</key>
                <string>{601,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{601,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{627,1},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{731,1},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{661,1},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{604,1},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{709,1},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{682,1},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{649,1},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>questresult_nextquestpop01.png</string>
            <key>size</key>
            <string>{746,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c1eb7067ab55f9b511d041e4ed773a7:0f47c0b8f1c7b2be4b67aaf54d3bde26:5104d3da8c975d1e98c394f61e9c581c$</string>
            <key>textureFileName</key>
            <string>questresult_nextquestpop01.png</string>
        </dict>
    </dict>
</plist>
