<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_SkinListitem_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,155}</string>
                <key>spriteSourceSize</key>
                <string>{569,155}</string>
                <key>textureRect</key>
                <string>{{1,386},{569,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Skin_use.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{616,921},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Skin_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,86}</string>
                <key>spriteSourceSize</key>
                <string>{174,86}</string>
                <key>textureRect</key>
                <string>{{712,873},{174,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Skin_white_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,86}</string>
                <key>spriteSourceSize</key>
                <string>{135,86}</string>
                <key>textureRect</key>
                <string>{{888,873},{135,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Skin_Up_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,73}</string>
                <key>spriteSourceSize</key>
                <string>{456,73}</string>
                <key>textureRect</key>
                <string>{{567,1},{456,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Skin_Up_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,73}</string>
                <key>spriteSourceSize</key>
                <string>{456,73}</string>
                <key>textureRect</key>
                <string>{{567,76},{456,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitNewDetail_Skin_Up_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,73}</string>
                <key>spriteSourceSize</key>
                <string>{456,73}</string>
                <key>textureRect</key>
                <string>{{948,151},{456,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_UnitNewDetail_Skin_Up_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,73}</string>
                <key>spriteSourceSize</key>
                <string>{456,73}</string>
                <key>textureRect</key>
                <string>{{158,921},{456,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_UnitSkin_Exchange_dialog_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,203}</string>
                <key>spriteSourceSize</key>
                <string>{215,203}</string>
                <key>textureRect</key>
                <string>{{712,668},{215,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_skin_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,128}</string>
                <key>spriteSourceSize</key>
                <string>{768,128}</string>
                <key>textureRect</key>
                <string>{{582,151},{768,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Skin_grayout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,87}</string>
                <key>spriteSourceSize</key>
                <string>{515,87}</string>
                <key>textureRect</key>
                <string>{{859,151},{515,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Skin_stage_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,143}</string>
                <key>spriteSourceSize</key>
                <string>{533,143}</string>
                <key>textureRect</key>
                <string>{{158,386},{533,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Skin_stage_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,143}</string>
                <key>spriteSourceSize</key>
                <string>{533,143}</string>
                <key>textureRect</key>
                <string>{{303,386},{533,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Skin_stage_2_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{1,957},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Skin_stage_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,132}</string>
                <key>spriteSourceSize</key>
                <string>{520,132}</string>
                <key>textureRect</key>
                <string>{{448,386},{520,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-41}</string>
                <key>spriteSize</key>
                <string>{564,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,583}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-160}</string>
                <key>spriteSize</key>
                <string>{478,145}</string>
                <key>spriteSourceSize</key>
                <string>{720,583}</string>
                <key>textureRect</key>
                <string>{{712,151},{478,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Unit_Skin.png</string>
            <key>size</key>
            <string>{1024,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a27a9f2ca9f06b219fcee6b9074e6a:49308b067b1b73954cf4d6ac1d6984aa:4d32ec7257fd4f83c89b57341b4b3268$</string>
            <key>textureFileName</key>
            <string>Unit_Skin.png</string>
        </dict>
    </dict>
</plist>
