<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>neko_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,97}</string>
                <key>spriteSourceSize</key>
                <string>{88,97}</string>
                <key>textureRect</key>
                <string>{{207,104},{88,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_Aqua_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,106}</string>
                <key>textureRect</key>
                <string>{{103,1},{99,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{386,96},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_Elec_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{104,109},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{307,1},{84,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_Fire_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,87}</string>
                <key>spriteSourceSize</key>
                <string>{92,87}</string>
                <key>textureRect</key>
                <string>{{297,104},{92,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>neko_Heart_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{1,109},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{91,85}</string>
                <key>textureRect</key>
                <string>{{393,1},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>neko_Wood_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{204,1},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panel_neko.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47d59fcb784d8676633465b3f275260d:46d380dc961f7dd21aa3cbf2926e0bd4:b1f1fbd93b68f5b0b1f04ec8f20e50b3$</string>
            <key>textureFileName</key>
            <string>panel_neko.png</string>
        </dict>
    </dict>
</plist>
