<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_2023pool_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,113}</string>
                <key>spriteSourceSize</key>
                <string>{150,113}</string>
                <key>textureRect</key>
                <string>{{873,231},{150,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_2023pool_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,148}</string>
                <key>spriteSourceSize</key>
                <string>{228,148}</string>
                <key>textureRect</key>
                <string>{{873,1},{228,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_2023pool_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,156}</string>
                <key>spriteSourceSize</key>
                <string>{195,156}</string>
                <key>textureRect</key>
                <string>{{627,803},{195,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023pool_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,89}</string>
                <key>spriteSourceSize</key>
                <string>{105,89}</string>
                <key>textureRect</key>
                <string>{{627,619},{103,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_2023pool_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,237}</string>
                <key>spriteSourceSize</key>
                <string>{203,237}</string>
                <key>textureRect</key>
                <string>{{422,619},{203,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023pool_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{745,195}</string>
                <key>spriteSourceSize</key>
                <string>{745,271}</string>
                <key>textureRect</key>
                <string>{{1,422},{745,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_2023pool_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,419}</string>
                <key>spriteSourceSize</key>
                <string>{870,419}</string>
                <key>textureRect</key>
                <string>{{1,1},{870,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_2023pool_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,251}</string>
                <key>spriteSourceSize</key>
                <string>{379,251}</string>
                <key>textureRect</key>
                <string>{{748,422},{379,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dgi_2023pool_yuge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,368}</string>
                <key>spriteSourceSize</key>
                <string>{419,368}</string>
                <key>textureRect</key>
                <string>{{1,619},{419,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_2023pool.png</string>
            <key>size</key>
            <string>{1022,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da17c19d9bb85608104ea958b9f2e4e5:1e13413fea5da70f68be36fd6d2d08d4:8f33e707b427e98aee44d5b8bcb5a0ab$</string>
            <key>textureFileName</key>
            <string>atls_system_2023pool.png</string>
        </dict>
    </dict>
</plist>
