<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CS_Goe_5line-Fu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-37}</string>
                <key>spriteSize</key>
                <string>{95,115}</string>
                <key>spriteSourceSize</key>
                <string>{177,189}</string>
                <key>textureRect</key>
                <string>{{908,337},{95,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_5line-Fu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{177,169}</string>
                <key>spriteSourceSize</key>
                <string>{177,189}</string>
                <key>textureRect</key>
                <string>{{1,350},{177,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_5line-Fu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{177,161}</string>
                <key>spriteSourceSize</key>
                <string>{177,189}</string>
                <key>textureRect</key>
                <string>{{1,529},{177,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,118}</string>
                <key>spriteSourceSize</key>
                <string>{258,118}</string>
                <key>textureRect</key>
                <string>{{897,1},{258,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{908,542},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_cloud00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,83}</string>
                <key>spriteSourceSize</key>
                <string>{342,83}</string>
                <key>textureRect</key>
                <string>{{583,349},{342,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_cloud01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,83}</string>
                <key>spriteSourceSize</key>
                <string>{342,83}</string>
                <key>textureRect</key>
                <string>{{668,349},{342,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_cloud02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,83}</string>
                <key>spriteSourceSize</key>
                <string>{342,83}</string>
                <key>textureRect</key>
                <string>{{753,349},{342,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_curtain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,252}</string>
                <key>spriteSourceSize</key>
                <string>{131,252}</string>
                <key>textureRect</key>
                <string>{{764,1},{131,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_curtain_deco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,346}</string>
                <key>spriteSourceSize</key>
                <string>{179,346}</string>
                <key>textureRect</key>
                <string>{{583,1},{179,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_curtain_deco_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,347}</string>
                <key>spriteSourceSize</key>
                <string>{178,347}</string>
                <key>textureRect</key>
                <string>{{403,1},{178,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_curtain_deco_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,68}</string>
                <key>spriteSourceSize</key>
                <string>{320,68}</string>
                <key>textureRect</key>
                <string>{{838,339},{320,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_onpu00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{852,261},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_onpu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,86}</string>
                <key>textureRect</key>
                <string>{{764,255},{82,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_onpu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{908,454},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_onpu03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{172,350},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CS_Goe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,183}</string>
                <key>spriteSourceSize</key>
                <string>{188,183}</string>
                <key>textureRect</key>
                <string>{{838,661},{188,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CS_Goe_yumekawaBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,347}</string>
                <key>spriteSourceSize</key>
                <string>{400,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skl_CS_Goethe.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f032483e73b59095918abff1b58e3d1:c8e378c0ae373b63f4f30b5a9fe74b33:5d7e01cf586ec97c3d100961eafcba56$</string>
            <key>textureFileName</key>
            <string>skl_CS_Goethe.png</string>
        </dict>
    </dict>
</plist>
