<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_pchain_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,22}</string>
                <key>spriteSourceSize</key>
                <string>{88,22}</string>
                <key>textureRect</key>
                <string>{{119,44},{88,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_pchain_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,22}</string>
                <key>textureRect</key>
                <string>{{119,134},{62,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_dropDamage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1,44},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_dropOjama.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{1,162},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_dropTimeBomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,112}</string>
                <key>spriteSourceSize</key>
                <string>{103,112}</string>
                <key>textureRect</key>
                <string>{{143,107},{103,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_pchain_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,102}</string>
                <key>spriteSourceSize</key>
                <string>{88,102}</string>
                <key>textureRect</key>
                <string>{{112,212},{88,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_pchain_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,91}</string>
                <key>spriteSourceSize</key>
                <string>{96,91}</string>
                <key>textureRect</key>
                <string>{{95,373},{96,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_pchain_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{156,1},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_pchain_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{92,96}</string>
                <key>textureRect</key>
                <string>{{1,373},{92,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_pchain_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1,273},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_pchain_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,41}</string>
                <key>spriteSourceSize</key>
                <string>{153,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panelchain.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06d79dedb85b5b8c7b30ae79f23b7470:fcb001e9991314279a443e65566f0898:f8c48d8793ab5b2e11c6190460a0dd98$</string>
            <key>textureFileName</key>
            <string>panelchain.png</string>
        </dict>
    </dict>
</plist>
