<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_DialogPart_monologue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,289}</string>
                <key>spriteSourceSize</key>
                <string>{614,289}</string>
                <key>textureRect</key>
                <string>{{643,1},{614,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_DialogPart_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,314}</string>
                <key>spriteSourceSize</key>
                <string>{640,314}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_battlelog_ItemFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,149}</string>
                <key>spriteSourceSize</key>
                <string>{358,149}</string>
                <key>textureRect</key>
                <string>{{1259,1},{358,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_battlelog_DialogPart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{1259,152},{89,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_battlelog_DialogPart_White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{1317,152},{89,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_emotion_Exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,85}</string>
                <key>spriteSourceSize</key>
                <string>{58,85}</string>
                <key>textureRect</key>
                <string>{{1375,152},{58,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_emotion_Flash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{1259,243},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_emotion_Flash_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{1444,219},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_emotion_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{1435,152},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_emotion_Question.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{1325,243},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_emotion_impatience.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,62}</string>
                <key>textureRect</key>
                <string>{{1492,152},{45,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skl_emotion_ikari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{1379,239},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_battlelog_ItemFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,14}</string>
                <key>spriteSourceSize</key>
                <string>{100,14}</string>
                <key>textureRect</key>
                <string>{{643,292},{100,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Battle_DialogPart.png</string>
            <key>size</key>
            <string>{1618,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cff2ef5aed36eb1b94099fb4ff349a34:f1f97dca077cb097df2f7fa2265f90a5:7cc1b77b4fcafd975cf721d18c61762e$</string>
            <key>textureFileName</key>
            <string>Battle_DialogPart.png</string>
        </dict>
    </dict>
</plist>
