<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tit_title_optext_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{383,163}</string>
                <key>spriteSourceSize</key>
                <string>{399,195}</string>
                <key>textureRect</key>
                <string>{{2,148},{383,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,2}</string>
                <key>spriteSize</key>
                <string>{294,155}</string>
                <key>spriteSourceSize</key>
                <string>{328,203}</string>
                <key>textureRect</key>
                <string>{{2,417},{294,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-5}</string>
                <key>spriteSize</key>
                <string>{406,102}</string>
                <key>spriteSourceSize</key>
                <string>{568,132}</string>
                <key>textureRect</key>
                <string>{{2,44},{406,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{556,96}</string>
                <key>spriteSourceSize</key>
                <string>{556,110}</string>
                <key>textureRect</key>
                <string>{{412,2},{556,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_title_optext_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,40}</string>
                <key>spriteSourceSize</key>
                <string>{408,40}</string>
                <key>textureRect</key>
                <string>{{2,2},{408,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_title_optext_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{326,102}</string>
                <key>spriteSourceSize</key>
                <string>{366,142}</string>
                <key>textureRect</key>
                <string>{{2,313},{326,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tit_title_optext.png</string>
            <key>size</key>
            <string>{510,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce3e560979406b5242237bd9b53a9eef:18acaabc26fa09a4cb7832d27319deab:8d0b816e59dc4e1ea242fdebe54006e7$</string>
            <key>textureFileName</key>
            <string>tit_title_optext.png</string>
        </dict>
    </dict>
</plist>
