<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_21xmas_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,711}</string>
                <key>spriteSourceSize</key>
                <string>{703,711}</string>
                <key>textureRect</key>
                <string>{{1,1},{703,711}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bell_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{292,907},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_centerstar_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,193}</string>
                <key>spriteSourceSize</key>
                <string>{328,193}</string>
                <key>textureRect</key>
                <string>{{292,713},{328,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_21xmas_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,713},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_21xmas_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,370}</string>
                <key>spriteSourceSize</key>
                <string>{368,370}</string>
                <key>textureRect</key>
                <string>{{841,463},{368,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_21xmas_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{705,1},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_cookieman_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{799,947},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ornament1_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{778,822},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_presentS_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{705,463},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_present_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{401,907},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_rousoku_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{799,885},{61,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_santaUsagi_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{510,907},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_santajo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,81}</string>
                <key>spriteSourceSize</key>
                <string>{187,81}</string>
                <key>textureRect</key>
                <string>{{621,713},{187,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_shoes_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{619,907},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snow_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{766,463},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snowcrystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{703,822},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snowitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{728,897},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snowman_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{766,523},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_tree_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,108}</string>
                <key>spriteSourceSize</key>
                <string>{107,108}</string>
                <key>textureRect</key>
                <string>{{703,713},{107,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_7half.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b131904767977867052af5ecdea6f7:7c76091a3d979c80313b918c93ab9453:9059f5488a569a6f31fafae9323968e6$</string>
            <key>textureFileName</key>
            <string>atls_7half.png</string>
        </dict>
    </dict>
</plist>
