<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_202303academia_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,270}</string>
                <key>spriteSourceSize</key>
                <string>{448,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_202303academia_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{364,1496}</string>
                <key>spriteSourceSize</key>
                <string>{416,1500}</string>
                <key>textureRect</key>
                <string>{{273,1},{364,1496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_202303academia_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{643,367},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_202303academia_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{745,367},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_202303academia_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{437,367},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_202303academia_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{847,367},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_202303academia_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{540,367},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_202303academia_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{949,367},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_202303academia_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1051,367},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_202303academia_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-22}</string>
                <key>spriteSize</key>
                <string>{162,116}</string>
                <key>spriteSourceSize</key>
                <string>{236,160}</string>
                <key>textureRect</key>
                <string>{{273,367},{162,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_202303academia_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{200,66}</string>
                <key>spriteSourceSize</key>
                <string>{250,162}</string>
                <key>textureRect</key>
                <string>{{1139,367},{200,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_system_202303academia.png</string>
            <key>size</key>
            <string>{1770,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950865daff8014b0d4677aabcfd25d7c:8277a448eddd70127299831a5e9268cf:75cd6bc1920546d44a5007641ba0ca32$</string>
            <key>textureFileName</key>
            <string>atls_system_202303academia.png</string>
        </dict>
    </dict>
</plist>
