<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_flock01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,413},{98,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_flock02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{405,1},{100,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_flock03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{405,103},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_flock_split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_flock_wave01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_flock_wave02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,197}</string>
                <key>spriteSourceSize</key>
                <string>{200,197}</string>
                <key>textureRect</key>
                <string>{{203,203},{200,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_flock_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{1,210},{200,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fever_lockskill.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e962000c428fb41e50dcf92ddebaf0:54b0f511810e265fd452613162bea3d6:d4cc8a4d70fcb25706aca742f9374882$</string>
            <key>textureFileName</key>
            <string>fever_lockskill.png</string>
        </dict>
    </dict>
</plist>
