<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chatelin_code.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{1261,1010},{194,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatelin_diamond_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,628}</string>
                <key>spriteSourceSize</key>
                <string>{628,628}</string>
                <key>textureRect</key>
                <string>{{1,655},{628,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_diamond_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,628}</string>
                <key>spriteSourceSize</key>
                <string>{628,628}</string>
                <key>textureRect</key>
                <string>{{631,655},{628,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_diamond_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,628}</string>
                <key>spriteSourceSize</key>
                <string>{628,628}</string>
                <key>textureRect</key>
                <string>{{655,1},{628,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_diamond_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,652}</string>
                <key>spriteSourceSize</key>
                <string>{652,652}</string>
                <key>textureRect</key>
                <string>{{1,1},{652,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_font_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,53}</string>
                <key>spriteSourceSize</key>
                <string>{377,53}</string>
                <key>textureRect</key>
                <string>{{1261,631},{377,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatelin_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,13}</string>
                <key>spriteSourceSize</key>
                <string>{206,13}</string>
                <key>textureRect</key>
                <string>{{655,631},{206,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_chatelin_pack.png</string>
            <key>size</key>
            <string>{1340,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:085e0ff6fe39b379820eca06cbc68b00:b96bca9db7ccaf55dbbc70a7d6ad14df:09faa336e269d727abc187d94361b0d2$</string>
            <key>textureFileName</key>
            <string>skill_chatelin_pack.png</string>
        </dict>
    </dict>
</plist>
