<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_RaidRankingFrame_1st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,176}</string>
                <key>spriteSourceSize</key>
                <string>{607,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{607,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidRankingFrame_2nd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,176}</string>
                <key>spriteSourceSize</key>
                <string>{607,176}</string>
                <key>textureRect</key>
                <string>{{1,179},{607,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RaidRankingFrame_3rd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,176}</string>
                <key>spriteSourceSize</key>
                <string>{607,176}</string>
                <key>textureRect</key>
                <string>{{840,152},{607,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_RaidRankingFrame_4th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,176}</string>
                <key>spriteSourceSize</key>
                <string>{607,176}</string>
                <key>textureRect</key>
                <string>{{610,338},{607,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_RaidRankingFrame_Empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,176}</string>
                <key>spriteSourceSize</key>
                <string>{607,176}</string>
                <key>textureRect</key>
                <string>{{1,357},{607,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Undeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,16}</string>
                <key>spriteSourceSize</key>
                <string>{216,16}</string>
                <key>textureRect</key>
                <string>{{610,320},{216,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Underline_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,40}</string>
                <key>spriteSourceSize</key>
                <string>{225,40}</string>
                <key>textureRect</key>
                <string>{{610,278},{225,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_preparation_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,149}</string>
                <key>spriteSourceSize</key>
                <string>{407,149}</string>
                <key>textureRect</key>
                <string>{{610,1},{407,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_StartAttack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{481,764},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranking_10th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{788,338},{118,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranking_11th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{788,458},{118,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranking_12th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{788,578},{118,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranking_13th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{788,698},{118,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Ranking_14th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{1,947},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_15th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{1,986},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_16th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{121,947},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_17th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{121,986},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_18th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{241,947},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_19th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{241,986},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_20th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{361,947},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_4th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{361,986},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_5th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{481,569},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_6th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{481,608},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_7th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{481,647},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_8th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{481,686},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_9th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{118,37}</string>
                <key>textureRect</key>
                <string>{{481,725},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Ranking_position.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,124}</string>
                <key>spriteSourceSize</key>
                <string>{228,124}</string>
                <key>textureRect</key>
                <string>{{610,152},{228,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_StartAttack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,32}</string>
                <key>spriteSourceSize</key>
                <string>{127,32}</string>
                <key>textureRect</key>
                <string>{{481,535},{127,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RaidRanking.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b1959b8cc9fa3d859e5a336ec9f7a55:ea20e787bc44c9ad898ecb8c760b4754:1d7ebb83d7f99d8ffc159062608186b0$</string>
            <key>textureFileName</key>
            <string>RaidRanking.png</string>
        </dict>
    </dict>
</plist>
