<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_BugEFBaloon_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{121,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEFBaloon_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,57}</string>
                <key>spriteSourceSize</key>
                <string>{120,57}</string>
                <key>textureRect</key>
                <string>{{370,1},{120,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEFBaloon_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{121,57}</string>
                <key>textureRect</key>
                <string>{{124,1},{121,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BugEFBaloon_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{121,57}</string>
                <key>textureRect</key>
                <string>{{247,1},{121,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bugEFbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,17}</string>
                <key>spriteSourceSize</key>
                <string>{272,17}</string>
                <key>textureRect</key>
                <string>{{492,37},{272,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_BugEF_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{492,1},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_BugEF_First.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,25}</string>
                <key>spriteSourceSize</key>
                <string>{91,25}</string>
                <key>textureRect</key>
                <string>{{766,34},{91,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_BugEFBaloon_Aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{523,1},{83,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_BugEFBaloon_Elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{608,1},{83,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_BugEFBaloon_Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{693,1},{83,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_BugEFBaloon_Wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{778,1},{83,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BugEF_Invoc.png</string>
            <key>size</key>
            <string>{862,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ccec4565e9f2b65d5ffaabadb04c00:e23d8f44e5da2c8a7ad48758f056cee0:ceeb2523d6f1b6dec3fc9007039f17eb$</string>
            <key>textureFileName</key>
            <string>BugEF_Invoc.png</string>
        </dict>
    </dict>
</plist>
