<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_AppleChange_Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,147}</string>
                <key>spriteSourceSize</key>
                <string>{226,147}</string>
                <key>textureRect</key>
                <string>{{349,1},{226,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_AppleChange_BaseStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,123}</string>
                <key>spriteSourceSize</key>
                <string>{640,123}</string>
                <key>textureRect</key>
                <string>{{336,229},{640,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_AppleChange_BitStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,117}</string>
                <key>spriteSourceSize</key>
                <string>{346,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_AppleChange_UnitStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,168}</string>
                <key>spriteSourceSize</key>
                <string>{333,168}</string>
                <key>textureRect</key>
                <string>{{1,120},{333,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_AppleChange_Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{80,871},{79,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_AppleChange_Plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{1,871},{80,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_AppleChange_Exchange_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,32}</string>
                <key>spriteSourceSize</key>
                <string>{116,32}</string>
                <key>textureRect</key>
                <string>{{461,229},{116,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Unit_AppleChange.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e662c6744f0106906cf4dd8706f4e72f:ad0053295e8a55080843c7d0ffb52eef:e8db2a8298970ce56e3f4bceeb571cdd$</string>
            <key>textureFileName</key>
            <string>Unit_AppleChange.png</string>
        </dict>
    </dict>
</plist>
