<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_neko2022_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,178}</string>
                <key>spriteSourceSize</key>
                <string>{205,178}</string>
                <key>textureRect</key>
                <string>{{282,330},{205,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_neko2022_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,279}</string>
                <key>spriteSourceSize</key>
                <string>{279,279}</string>
                <key>textureRect</key>
                <string>{{1,330},{279,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_neko2022_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,327}</string>
                <key>spriteSourceSize</key>
                <string>{328,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_neko2022_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{282,537},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_neko2022_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{372,537},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_neko2022_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{406,100},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_neko2022_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{331,1},{87,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_neko2022_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{331,185},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_neko2022_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,53}</string>
                <key>spriteSourceSize</key>
                <string>{97,53}</string>
                <key>textureRect</key>
                <string>{{421,1},{97,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_neko2022_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,73}</string>
                <key>spriteSourceSize</key>
                <string>{93,73}</string>
                <key>textureRect</key>
                <string>{{331,90},{93,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_neko2022_ui_pic.png</string>
            <key>size</key>
            <string>{480,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:412879014e4204cfb454da14532f01ae:bc28ba080b17e529125f439c9d937be0:178c3d30d091518814bb54823f3e9bd3$</string>
            <key>textureFileName</key>
            <string>atls_dgi_neko2022_ui_pic.png</string>
        </dict>
    </dict>
</plist>
