<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_center_gg_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1128,1140},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_center_gg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,542}</string>
                <key>spriteSourceSize</key>
                <string>{548,542}</string>
                <key>textureRect</key>
                <string>{{1128,590},{548,542}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_gg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{1419,1140},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_gg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{1737,590},{102,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_gg03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1525,1140},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_gg04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,105}</string>
                <key>spriteSourceSize</key>
                <string>{106,105}</string>
                <key>textureRect</key>
                <string>{{1312,1140},{106,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_gg05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1631,1140},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_gg06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{1361,1248},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_gg07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{1458,1247},{47,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_gg08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{1410,1248},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_gg09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{1506,1247},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_gg10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{1312,1248},{48,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_floor_bottom_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{2045,261}</string>
                <key>spriteSourceSize</key>
                <string>{2097,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{2045,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_floor_top_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-49}</string>
                <key>spriteSize</key>
                <string>{2025,324}</string>
                <key>spriteSourceSize</key>
                <string>{2097,422}</string>
                <key>textureRect</key>
                <string>{{1,264},{2025,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_gg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,1125}</string>
                <key>spriteSourceSize</key>
                <string>{742,1125}</string>
                <key>textureRect</key>
                <string>{{1,590},{742,1125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_gg_ui_pic.png</string>
            <key>size</key>
            <string>{2047,1333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:937e4a3f2201d42dbdee5558d9f6fd77:144f9c4ee50ad0f611b534c5b35ba8c4:cfb414cc4c733e6c8be12e6652217f49$</string>
            <key>textureFileName</key>
            <string>atls_dgi_gg_ui_pic.png</string>
        </dict>
    </dict>
</plist>
