<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_setsubun2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,297}</string>
                <key>spriteSourceSize</key>
                <string>{297,297}</string>
                <key>textureRect</key>
                <string>{{1676,1},{297,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_setsubun2023_05a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,344}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1330,1},{344,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_setsubun2023_05b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,395}</string>
                <key>spriteSourceSize</key>
                <string>{396,395}</string>
                <key>textureRect</key>
                <string>{{933,1},{396,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_setsubun2023_05c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,427}</string>
                <key>spriteSourceSize</key>
                <string>{427,427}</string>
                <key>textureRect</key>
                <string>{{504,1},{427,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_setsubun2023_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{1008,399},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_setsubun2023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,62}</string>
                <key>textureRect</key>
                <string>{{1549,347},{100,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_setsubun2023_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{1446,347},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_setsubun2023_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{933,399},{74,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_setsubun2023_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1811,300},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_setsubun2023_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1613,347},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_setsubun2023_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1714,300},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_setsubun2023_cloud_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,65}</string>
                <key>spriteSourceSize</key>
                <string>{356,65}</string>
                <key>textureRect</key>
                <string>{{1088,399},{356,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgi_setsubun2023_torii_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,213}</string>
                <key>spriteSize</key>
                <string>{501,472}</string>
                <key>spriteSourceSize</key>
                <string>{953,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{501,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_setsubun2023.png</string>
            <key>size</key>
            <string>{1974,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c7bf2518ed5d7335a76434764b29b82:6f38be9b64e56f361f0bb93889da8d63:9485d7c00ba0e0eeb40b005832b087f4$</string>
            <key>textureFileName</key>
            <string>atls_setsubun2023.png</string>
        </dict>
    </dict>
</plist>
