<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Guide_Mission_Lv1_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,195}</string>
                <key>spriteSourceSize</key>
                <string>{181,197}</string>
                <key>textureRect</key>
                <string>{{1265,1},{179,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv1_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{1,803},{430,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv1_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{901,895},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv1_lock_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{741,1},{53,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv2_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,195}</string>
                <key>spriteSourceSize</key>
                <string>{181,197}</string>
                <key>textureRect</key>
                <string>{{1265,182},{179,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv2_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{803,1},{430,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv2_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{1027,895},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv2_lock_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{741,56},{53,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv3_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,195}</string>
                <key>spriteSourceSize</key>
                <string>{181,197}</string>
                <key>textureRect</key>
                <string>{{1446,190},{179,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv3_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{433,1},{430,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv3_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{1153,895},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv3_lock_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{741,111},{53,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv4_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,195}</string>
                <key>spriteSourceSize</key>
                <string>{181,197}</string>
                <key>textureRect</key>
                <string>{{1620,387},{179,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv4_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{587,1},{430,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv4_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{1279,895},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv4_lock_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{741,166},{53,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv5_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,195}</string>
                <key>spriteSourceSize</key>
                <string>{181,197}</string>
                <key>textureRect</key>
                <string>{{1627,190},{179,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv5_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{326,467},{430,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv5_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{1405,884},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv5_lock_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{741,221},{53,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv6_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,195}</string>
                <key>spriteSourceSize</key>
                <string>{181,197}</string>
                <key>textureRect</key>
                <string>{{1801,387},{179,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_Lv6_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{326,621},{430,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv6_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{1326,585},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_Lv6_lock_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{741,276},{53,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_frame_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{187,202}</string>
                <key>spriteSourceSize</key>
                <string>{191,208}</string>
                <key>textureRect</key>
                <string>{{1620,1},{187,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_frame_gauge1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,19}</string>
                <key>spriteSourceSize</key>
                <string>{127,19}</string>
                <key>textureRect</key>
                <string>{{200,986},{127,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_frame_gauge2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,16}</string>
                <key>spriteSourceSize</key>
                <string>{124,16}</string>
                <key>textureRect</key>
                <string>{{200,1007},{124,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_last_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1190,585},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_last_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,174}</string>
                <key>spriteSourceSize</key>
                <string>{161,174}</string>
                <key>textureRect</key>
                <string>{{1297,721},{161,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_last_bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,190}</string>
                <key>spriteSourceSize</key>
                <string>{207,190}</string>
                <key>textureRect</key>
                <string>{{1473,683},{207,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_last_bg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,27}</string>
                <key>spriteSourceSize</key>
                <string>{800,27}</string>
                <key>textureRect</key>
                <string>{{1,957},{800,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Guide_Mission_last_bg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,323}</string>
                <key>spriteSourceSize</key>
                <string>{800,323}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Guide_Mission_last_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,150}</string>
                <key>spriteSourceSize</key>
                <string>{428,150}</string>
                <key>textureRect</key>
                <string>{{1190,433},{428,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Panel_Mission_Lv1_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{433,775},{430,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Panel_Mission_Lv2_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{758,433},{430,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Panel_Mission_Lv3_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{758,587},{430,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Panel_Mission_Lv4_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{865,741},{430,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Panel_Mission_Lv5_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{957,1},{430,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Panel_Mission_Lv6_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,152}</string>
                <key>spriteSourceSize</key>
                <string>{430,152}</string>
                <key>textureRect</key>
                <string>{{1111,1},{430,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Guide_Mission_Lv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{326,403},{96,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Guide_Mission_Lv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{803,929},{96,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Guide_Mission_Lv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{1452,585},{96,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Guide_Mission_Lv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{1516,585},{96,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Guide_Mission_Lv5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{1580,585},{96,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Guide_Mission_Lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{1531,875},{96,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Guide_Mission_frame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,192}</string>
                <key>spriteSourceSize</key>
                <string>{176,192}</string>
                <key>textureRect</key>
                <string>{{1808,190},{176,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Guide_Mission_tab_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,63}</string>
                <key>spriteSourceSize</key>
                <string>{98,63}</string>
                <key>textureRect</key>
                <string>{{326,338},{98,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_MissionComplete_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,37}</string>
                <key>textureRect</key>
                <string>{{329,986},{55,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Guide_Mission_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,36}</string>
                <key>spriteSourceSize</key>
                <string>{209,36}</string>
                <key>textureRect</key>
                <string>{{1,986},{197,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Guide_Mission_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,59}</string>
                <key>spriteSourceSize</key>
                <string>{335,59}</string>
                <key>textureRect</key>
                <string>{{326,1},{335,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Guide_Mission.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:509fee68d17aacaa03b5d2c1af7fe910:b83fbfb234bcf66bc83fcfc129db33e2:99950847b8c39f2784d91eb4c8ad7a19$</string>
            <key>textureFileName</key>
            <string>Guide_Mission.png</string>
        </dict>
    </dict>
</plist>
