<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_arifureta_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,193}</string>
                <key>spriteSourceSize</key>
                <string>{193,193}</string>
                <key>textureRect</key>
                <string>{{1,397},{193,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_arifureta_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1,1},{394,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_arifureta_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{286,487},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_arifureta_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{196,397},{92,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_p_arifureta_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{196,491},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_arifureta_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{88,87}</string>
                <key>textureRect</key>
                <string>{{374,397},{88,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_arifureta_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{398,1},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_arifureta_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{88,87}</string>
                <key>textureRect</key>
                <string>{{374,486},{88,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_arifureta_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{284,397},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_arifureta_ui_pic.png</string>
            <key>size</key>
            <string>{477,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e6d42c7ca62f9df925c2b2bef469a84:e93a69f48d8fc3ac39b6c82228a23665:f57573032ded6ab8c9ade172ac7087eb$</string>
            <key>textureFileName</key>
            <string>atls_dgi_arifureta_ui_pic.png</string>
        </dict>
    </dict>
</plist>
