<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_AppleChange_Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,147}</string>
                <key>spriteSourceSize</key>
                <string>{226,147}</string>
                <key>textureRect</key>
                <string>{{978,1},{226,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_AppleChange_BaseStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,123}</string>
                <key>spriteSourceSize</key>
                <string>{640,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_AppleChange_BitStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,117}</string>
                <key>spriteSourceSize</key>
                <string>{346,117}</string>
                <key>textureRect</key>
                <string>{{1,126},{346,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_AppleChange_UnitStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,168}</string>
                <key>spriteSourceSize</key>
                <string>{333,168}</string>
                <key>textureRect</key>
                <string>{{643,1},{333,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_AppleChange_Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{428,126},{79,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_AppleChange_Plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{349,126},{80,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_AppleChange_Exchange_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{122,30}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{349,208},{122,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Unit_AppleChange.png</string>
            <key>size</key>
            <string>{1126,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5337b43cc84b8b5e985d8ddf28e8d8f:ffe2da3e2afaae0a9fbd4de74e02cbfa:e8db2a8298970ce56e3f4bceeb571cdd$</string>
            <key>textureFileName</key>
            <string>Unit_AppleChange.png</string>
        </dict>
    </dict>
</plist>
