<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_dl_grad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,155}</string>
                <key>spriteSourceSize</key>
                <string>{25,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_dl_lte.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,35}</string>
                <key>spriteSourceSize</key>
                <string>{57,35}</string>
                <key>textureRect</key>
                <string>{{28,1},{57,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_dl_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{1,158},{37,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_dl_usagi_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,12}</string>
                <key>spriteSourceSize</key>
                <string>{6,12}</string>
                <key>textureRect</key>
                <string>{{1,201},{6,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_dl_wifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,35}</string>
                <key>spriteSourceSize</key>
                <string>{57,35}</string>
                <key>textureRect</key>
                <string>{{28,60},{57,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DataDownload.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d177dd98274f3dc3d22d211942e59ea8:5c93a15cafc86e7756b38bd7aa50975e:78a8eee109f41c9a76c78747017d1012$</string>
            <key>textureFileName</key>
            <string>DataDownload.png</string>
        </dict>
    </dict>
</plist>
