<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Panel_Mission_jery1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,174}</string>
                <key>spriteSourceSize</key>
                <string>{212,174}</string>
                <key>textureRect</key>
                <string>{{499,438},{212,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Panel_Mission_jery2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,178}</string>
                <key>textureRect</key>
                <string>{{499,218},{218,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Panel_Mission_frame_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,193}</string>
                <key>spriteSourceSize</key>
                <string>{177,193}</string>
                <key>textureRect</key>
                <string>{{604,652},{177,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sportsfes_btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,215}</string>
                <key>spriteSourceSize</key>
                <string>{199,215}</string>
                <key>textureRect</key>
                <string>{{1,663},{199,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sportsfes_btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,215}</string>
                <key>spriteSourceSize</key>
                <string>{199,215}</string>
                <key>textureRect</key>
                <string>{{202,663},{199,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sportsfes_btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,215}</string>
                <key>spriteSourceSize</key>
                <string>{199,215}</string>
                <key>textureRect</key>
                <string>{{403,663},{199,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sportsfes_btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,215}</string>
                <key>spriteSourceSize</key>
                <string>{199,215}</string>
                <key>textureRect</key>
                <string>{{499,1},{199,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sportsfes_road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,660}</string>
                <key>spriteSourceSize</key>
                <string>{496,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{496,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sportsfes_panelmission.png</string>
            <key>size</key>
            <string>{782,879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f1dd292b93e81a3750e3d42f0d7657d:96f3695d0752ace9c9b7b5f8f4e3a9bb:826be81e242fc94bd2e4159dfe56a081$</string>
            <key>textureFileName</key>
            <string>sportsfes_panelmission.png</string>
        </dict>
    </dict>
</plist>
