<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_rezero3cap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{213,603},{84,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_rezero3cml.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{227,517},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_rezero3dfn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,74}</string>
                <key>textureRect</key>
                <string>{{125,538},{86,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_rezero3edn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,224}</string>
                <key>spriteSourceSize</key>
                <string>{197,224}</string>
                <key>textureRect</key>
                <string>{{1,339},{197,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_rezero3err.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{287,603},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_rezero3mnl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{125,614},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_rezero3re.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{227,339},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_rezero3ros.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{227,428},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_rezero3umb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,336}</string>
                <key>spriteSourceSize</key>
                <string>{335,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{335,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly01_rezero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,123}</string>
                <key>spriteSourceSize</key>
                <string>{122,123}</string>
                <key>textureRect</key>
                <string>{{1,538},{122,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_rezero3_ui_pic.png</string>
            <key>size</key>
            <string>{337,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69f0090d11c1b6bf3407d9a9ab39d90c:fc9f962448234ed666ce19d3f6c7eb47:8fcc94237bfbb5c25bcba605ee308f9b$</string>
            <key>textureFileName</key>
            <string>atls_dgi_rezero3_ui_pic.png</string>
        </dict>
    </dict>
</plist>
