<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>compact.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{420,417},{69,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{388,840},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,244}</string>
                <key>spriteSourceSize</key>
                <string>{244,244}</string>
                <key>textureRect</key>
                <string>{{3,417},{244,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edith_butterflies00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,175}</string>
                <key>spriteSourceSize</key>
                <string>{221,175}</string>
                <key>textureRect</key>
                <string>{{3,664},{221,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edith_butterflies01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,167}</string>
                <key>spriteSourceSize</key>
                <string>{199,167}</string>
                <key>textureRect</key>
                <string>{{250,417},{199,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flare_rain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,83}</string>
                <key>spriteSourceSize</key>
                <string>{168,83}</string>
                <key>textureRect</key>
                <string>{{250,619},{168,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{420,494},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mg_e-this_barrier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{3,842},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,207}</string>
                <key>spriteSourceSize</key>
                <string>{132,207}</string>
                <key>textureRect</key>
                <string>{{227,705},{132,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{437,565},{53,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,411}</string>
                <key>spriteSourceSize</key>
                <string>{435,411}</string>
                <key>textureRect</key>
                <string>{{3,3},{435,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,158}</string>
                <key>spriteSourceSize</key>
                <string>{107,158}</string>
                <key>textureRect</key>
                <string>{{227,840},{107,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Edith_magic.png</string>
            <key>size</key>
            <string>{492,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:091b67e86e120453079170b923e547f7:3e7cc9eb87507c518935c2ba8ff20ffc:4f30489a01d459570bfd9b2e66e35f99$</string>
            <key>textureFileName</key>
            <string>Edith_magic.png</string>
        </dict>
    </dict>
</plist>
