<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Multilobby_1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,258}</string>
                <key>spriteSourceSize</key>
                <string>{267,258}</string>
                <key>textureRect</key>
                <string>{{1,246},{267,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,258}</string>
                <key>spriteSourceSize</key>
                <string>{267,258}</string>
                <key>textureRect</key>
                <string>{{1,506},{267,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,258}</string>
                <key>spriteSourceSize</key>
                <string>{267,258}</string>
                <key>textureRect</key>
                <string>{{1,766},{267,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,258}</string>
                <key>spriteSourceSize</key>
                <string>{267,258}</string>
                <key>textureRect</key>
                <string>{{1,1026},{267,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,72}</string>
                <key>spriteSourceSize</key>
                <string>{249,72}</string>
                <key>textureRect</key>
                <string>{{1,1286},{249,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,111}</string>
                <key>spriteSourceSize</key>
                <string>{267,111}</string>
                <key>textureRect</key>
                <string>{{307,1},{267,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,111}</string>
                <key>spriteSourceSize</key>
                <string>{267,111}</string>
                <key>textureRect</key>
                <string>{{270,270},{267,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Multilobby_WaitPlayer3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,111}</string>
                <key>spriteSourceSize</key>
                <string>{267,111}</string>
                <key>textureRect</key>
                <string>{{270,539},{267,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_WaitPlayer_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{446,413},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_MultilobbyChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{270,1211},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MultilobbyChat_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{364,1172},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MultilobbyStanp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{364,1264},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Quest_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,83}</string>
                <key>spriteSourceSize</key>
                <string>{203,83}</string>
                <key>textureRect</key>
                <string>{{420,1},{203,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,83}</string>
                <key>spriteSourceSize</key>
                <string>{203,83}</string>
                <key>textureRect</key>
                <string>{{270,808},{203,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_Quest_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,76}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{270,1013},{196,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendclaimed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,56}</string>
                <key>spriteSourceSize</key>
                <string>{108,56}</string>
                <key>textureRect</key>
                <string>{{252,1305},{108,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_friendicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,42}</string>
                <key>textureRect</key>
                <string>{{456,1277},{100,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_friendrequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,45}</string>
                <key>spriteSourceSize</key>
                <string>{103,45}</string>
                <key>textureRect</key>
                <string>{{456,1172},{103,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,61}</string>
                <key>spriteSourceSize</key>
                <string>{180,61}</string>
                <key>textureRect</key>
                <string>{{383,270},{180,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_1P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,95}</string>
                <key>textureRect</key>
                <string>{{383,878},{112,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_1Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,16}</string>
                <key>spriteSourceSize</key>
                <string>{72,16}</string>
                <key>textureRect</key>
                <string>{{464,337},{72,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,96}</string>
                <key>spriteSourceSize</key>
                <string>{118,96}</string>
                <key>textureRect</key>
                <string>{{355,975},{118,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_2Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,16}</string>
                <key>spriteSourceSize</key>
                <string>{73,16}</string>
                <key>textureRect</key>
                <string>{{77,1360},{73,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,97}</string>
                <key>spriteSourceSize</key>
                <string>{118,97}</string>
                <key>textureRect</key>
                <string>{{348,1073},{118,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_3Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{74,16}</string>
                <key>textureRect</key>
                <string>{{1,1360},{74,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_3onlyquest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{153,48}</string>
                <key>spriteSourceSize</key>
                <string>{203,52}</string>
                <key>textureRect</key>
                <string>{{383,601},{153,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{383,756},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_4Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{74,16}</string>
                <key>textureRect</key>
                <string>{{446,337},{74,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_ChatFlame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{433,707},{51,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Multilobby_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,58}</string>
                <key>spriteSourceSize</key>
                <string>{149,60}</string>
                <key>textureRect</key>
                <string>{{383,452},{147,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_Multilobby_username.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{28,11}</string>
                <key>spriteSourceSize</key>
                <string>{28,13}</string>
                <key>textureRect</key>
                <string>{{270,246},{28,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{443,558},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Quest_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,25}</string>
                <key>spriteSourceSize</key>
                <string>{77,27}</string>
                <key>textureRect</key>
                <string>{{420,206},{75,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_WaitPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,26}</string>
                <key>spriteSourceSize</key>
                <string>{148,28}</string>
                <key>textureRect</key>
                <string>{{355,808},{146,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_2P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,57}</string>
                <key>spriteSourceSize</key>
                <string>{102,57}</string>
                <key>textureRect</key>
                <string>{{446,233},{102,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_3P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{104,58}</string>
                <key>textureRect</key>
                <string>{{433,601},{104,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_4P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,57}</string>
                <key>spriteSourceSize</key>
                <string>{104,57}</string>
                <key>textureRect</key>
                <string>{{443,452},{104,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_WaitPlayer_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,243}</string>
                <key>spriteSourceSize</key>
                <string>{304,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_friendrequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,18}</string>
                <key>spriteSourceSize</key>
                <string>{78,18}</string>
                <key>textureRect</key>
                <string>{{475,975},{78,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_MultiLobby.png</string>
            <key>size</key>
            <string>{504,1378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b13c3f3b4fe1e4e05d795d823102cb8:3d826113081a12c450b405284dbe64b1:f2af27487138b9e9899a793c4f9efedf$</string>
            <key>textureFileName</key>
            <string>atls_MultiLobby.png</string>
        </dict>
    </dict>
</plist>
