<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tw_folder_ability.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{587,121}</string>
                <key>spriteSourceSize</key>
                <string>{587,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{587,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_folder_ability_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{418,367},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_folder_ability_bright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,119}</string>
                <key>spriteSourceSize</key>
                <string>{118,119}</string>
                <key>textureRect</key>
                <string>{{418,247},{118,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_folder_alert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,38}</string>
                <key>spriteSourceSize</key>
                <string>{338,38}</string>
                <key>textureRect</key>
                <string>{{1,384},{338,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_folder_decide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,93}</string>
                <key>spriteSourceSize</key>
                <string>{221,93}</string>
                <key>textureRect</key>
                <string>{{864,1},{221,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_folder_dissolution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,65}</string>
                <key>spriteSourceSize</key>
                <string>{81,65}</string>
                <key>textureRect</key>
                <string>{{864,354},{81,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_folder_enemy_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{590,1},{415,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_folder_filtering.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,61}</string>
                <key>spriteSourceSize</key>
                <string>{128,61}</string>
                <key>textureRect</key>
                <string>{{864,224},{128,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_folder_parts_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{727,1},{415,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_folder_parts_eject.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{1,247},{415,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_folder_status.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{587,121}</string>
                <key>spriteSourceSize</key>
                <string>{587,121}</string>
                <key>textureRect</key>
                <string>{{1,124},{587,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_folder.png</string>
            <key>size</key>
            <string>{958,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3d3f30b576ceefcb1296b8eb992829:15ad096f6bbb8084e2515ceaabf6b1c3:22946fbc08cd073d08d3eb98591ade02$</string>
            <key>textureFileName</key>
            <string>asset_tw_folder.png</string>
        </dict>
    </dict>
</plist>
