<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tw_btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{927,640},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_cursor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{39,67}</string>
                <key>textureRect</key>
                <string>{{173,1059},{39,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_attack_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,59}</string>
                <key>spriteSourceSize</key>
                <string>{170,59}</string>
                <key>textureRect</key>
                <string>{{1,1059},{170,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,156}</string>
                <key>spriteSourceSize</key>
                <string>{282,156}</string>
                <key>textureRect</key>
                <string>{{643,606},{282,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_attack_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,156}</string>
                <key>spriteSourceSize</key>
                <string>{282,156}</string>
                <key>textureRect</key>
                <string>{{591,764},{282,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{965,1},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_overkill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,69}</string>
                <key>spriteSourceSize</key>
                <string>{274,69}</string>
                <key>textureRect</key>
                <string>{{591,1035},{274,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_reattack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,187}</string>
                <key>spriteSourceSize</key>
                <string>{286,187}</string>
                <key>textureRect</key>
                <string>{{643,417},{286,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_reattack_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,187}</string>
                <key>spriteSourceSize</key>
                <string>{286,187}</string>
                <key>textureRect</key>
                <string>{{402,751},{286,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_battle_reattackbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,111}</string>
                <key>spriteSourceSize</key>
                <string>{264,111}</string>
                <key>textureRect</key>
                <string>{{591,922},{264,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_reattackbtn_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,111}</string>
                <key>spriteSourceSize</key>
                <string>{264,111}</string>
                <key>textureRect</key>
                <string>{{875,764},{264,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_battle_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,232}</string>
                <key>spriteSourceSize</key>
                <string>{640,232}</string>
                <key>textureRect</key>
                <string>{{1,517},{640,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_top_apua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{931,590},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_top_elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{297,1059},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_top_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{44,53}</string>
                <key>textureRect</key>
                <string>{{242,1059},{44,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_battle_top_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,250}</string>
                <key>spriteSourceSize</key>
                <string>{640,250}</string>
                <key>textureRect</key>
                <string>{{1,265},{640,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_top_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,262}</string>
                <key>spriteSourceSize</key>
                <string>{640,262}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_top_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,45}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{351,1059},{49,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_battle_userboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,414}</string>
                <key>spriteSourceSize</key>
                <string>{320,414}</string>
                <key>textureRect</key>
                <string>{{643,1},{320,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_create_corps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,69}</string>
                <key>spriteSourceSize</key>
                <string>{171,69}</string>
                <key>textureRect</key>
                <string>{{931,417},{171,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_create_corps_blight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,69}</string>
                <key>spriteSourceSize</key>
                <string>{171,69}</string>
                <key>textureRect</key>
                <string>{{402,1039},{171,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_create_corps_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,399}</string>
                <key>spriteSourceSize</key>
                <string>{306,399}</string>
                <key>textureRect</key>
                <string>{{1,751},{306,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_information.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,61}</string>
                <key>spriteSourceSize</key>
                <string>{128,61}</string>
                <key>textureRect</key>
                <string>{{867,1030},{128,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,8}</string>
                <key>spriteSourceSize</key>
                <string>{22,8}</string>
                <key>textureRect</key>
                <string>{{575,1039},{22,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_view_hp_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,11}</string>
                <key>spriteSourceSize</key>
                <string>{25,11}</string>
                <key>textureRect</key>
                <string>{{591,751},{25,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_enemy_battle.png</string>
            <key>size</key>
            <string>{1001,1119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0969e523fdadbf8d4cf9b08ffb0e857:539db02f01bf6870ac1892bbd5e9df83:0bb3f28505d8d0d8909859feb6cd8b2d$</string>
            <key>textureFileName</key>
            <string>asset_tw_enemy_battle.png</string>
        </dict>
    </dict>
</plist>
