<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tit_status_Cskill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,22}</string>
                <key>spriteSourceSize</key>
                <string>{110,22}</string>
                <key>textureRect</key>
                <string>{{1007,1},{110,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_status_ability1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,24}</string>
                <key>spriteSourceSize</key>
                <string>{134,24}</string>
                <key>textureRect</key>
                <string>{{981,1},{134,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_status_ability2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,24}</string>
                <key>spriteSourceSize</key>
                <string>{133,24}</string>
                <key>textureRect</key>
                <string>{{981,137},{133,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_status_ability3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,24}</string>
                <key>spriteSourceSize</key>
                <string>{133,24}</string>
                <key>textureRect</key>
                <string>{{805,386},{133,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_status_ability4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,24}</string>
                <key>spriteSourceSize</key>
                <string>{133,24}</string>
                <key>textureRect</key>
                <string>{{805,412},{133,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_status_ability5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,24}</string>
                <key>spriteSourceSize</key>
                <string>{133,24}</string>
                <key>textureRect</key>
                <string>{{805,438},{133,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_status_ability6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,24}</string>
                <key>spriteSourceSize</key>
                <string>{133,24}</string>
                <key>textureRect</key>
                <string>{{805,464},{133,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_status_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,22}</string>
                <key>spriteSourceSize</key>
                <string>{110,22}</string>
                <key>textureRect</key>
                <string>{{1007,113},{110,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_status_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,22}</string>
                <key>spriteSourceSize</key>
                <string>{91,22}</string>
                <key>textureRect</key>
                <string>{{1007,225},{91,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_teamview_status_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,61}</string>
                <key>spriteSourceSize</key>
                <string>{225,61}</string>
                <key>textureRect</key>
                <string>{{940,275},{225,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_teamview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,174}</string>
                <key>spriteSourceSize</key>
                <string>{534,174}</string>
                <key>textureRect</key>
                <string>{{1,217},{534,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_teamview_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{564,1},{415,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_teamview_dismiss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{564,138},{415,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_teamview_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,214}</string>
                <key>spriteSourceSize</key>
                <string>{561,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{561,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_teamview_window_ability.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,108}</string>
                <key>textureRect</key>
                <string>{{1,393},{400,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_teamview_window_c_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,108}</string>
                <key>textureRect</key>
                <string>{{403,393},{400,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_teamview_window_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,109}</string>
                <key>spriteSourceSize</key>
                <string>{400,109}</string>
                <key>textureRect</key>
                <string>{{537,275},{400,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_teamview.png</string>
            <key>size</key>
            <string>{1030,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53cdeb02106041ba1fd6f2c8ca54c62e:319a81c41d69237fd3667455ea6727c3:c3434774d52ac5fc1a32340d4c392e92$</string>
            <key>textureFileName</key>
            <string>asset_tw_teamview.png</string>
        </dict>
    </dict>
</plist>
