<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tw_team_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,51}</string>
                <key>spriteSourceSize</key>
                <string>{27,51}</string>
                <key>textureRect</key>
                <string>{{252,824},{27,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_team_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,53}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{434,776},{37,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_team_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{434,736},{38,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_team_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,93}</string>
                <key>spriteSourceSize</key>
                <string>{67,93}</string>
                <key>textureRect</key>
                <string>{{208,729},{67,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_team_bgi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,112}</string>
                <key>spriteSourceSize</key>
                <string>{121,112}</string>
                <key>textureRect</key>
                <string>{{371,622},{121,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_team_change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{489,779},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_team_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,105}</string>
                <key>spriteSourceSize</key>
                <string>{205,105}</string>
                <key>textureRect</key>
                <string>{{1,729},{205,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_team_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,61}</string>
                <key>spriteSourceSize</key>
                <string>{155,61}</string>
                <key>textureRect</key>
                <string>{{494,622},{155,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_team_custom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,81}</string>
                <key>spriteSourceSize</key>
                <string>{281,81}</string>
                <key>textureRect</key>
                <string>{{288,622},{281,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_team_deside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,61}</string>
                <key>spriteSourceSize</key>
                <string>{135,61}</string>
                <key>textureRect</key>
                <string>{{371,736},{135,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_team_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,67}</string>
                <key>spriteSourceSize</key>
                <string>{249,67}</string>
                <key>textureRect</key>
                <string>{{1,836},{249,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_team_reattack_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,105}</string>
                <key>spriteSourceSize</key>
                <string>{285,105}</string>
                <key>textureRect</key>
                <string>{{1,622},{285,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_team_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,619}</string>
                <key>spriteSourceSize</key>
                <string>{560,619}</string>
                <key>textureRect</key>
                <string>{{1,1},{560,619}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_team.png</string>
            <key>size</key>
            <string>{562,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f84207b00415a1a8761d377392f1c5a4:527d8f89ea7eee809831d3d954f53eba:85e99d77551372098e692feed47992b7$</string>
            <key>textureFileName</key>
            <string>asset_tw_team.png</string>
        </dict>
    </dict>
</plist>
