<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tw_enforce_atk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,29}</string>
                <key>textureRect</key>
                <string>{{489,165},{61,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,29}</string>
                <key>spriteSourceSize</key>
                <string>{108,29}</string>
                <key>textureRect</key>
                <string>{{895,143},{108,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enforce_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,29}</string>
                <key>spriteSourceSize</key>
                <string>{60,29}</string>
                <key>textureRect</key>
                <string>{{926,143},{60,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enforce_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{367,165},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,29}</string>
                <key>textureRect</key>
                <string>{{710,92},{44,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enforce_rpr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,29}</string>
                <key>textureRect</key>
                <string>{{489,196},{61,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_tab_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{573,63}</string>
                <key>spriteSourceSize</key>
                <string>{597,89}</string>
                <key>textureRect</key>
                <string>{{1,100},{573,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_tab_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-207,0}</string>
                <key>spriteSize</key>
                <string>{183,89}</string>
                <key>spriteSourceSize</key>
                <string>{597,89}</string>
                <key>textureRect</key>
                <string>{{564,1},{183,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_tab_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,1}</string>
                <key>spriteSize</key>
                <string>{181,87}</string>
                <key>spriteSourceSize</key>
                <string>{597,89}</string>
                <key>textureRect</key>
                <string>{{1,165},{181,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_tab_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,1}</string>
                <key>spriteSize</key>
                <string>{181,87}</string>
                <key>spriteSourceSize</key>
                <string>{597,89}</string>
                <key>textureRect</key>
                <string>{{184,165},{181,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_tab_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{203,0}</string>
                <key>spriteSize</key>
                <string>{183,89}</string>
                <key>spriteSourceSize</key>
                <string>{597,89}</string>
                <key>textureRect</key>
                <string>{{710,143},{183,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,97}</string>
                <key>spriteSourceSize</key>
                <string>{561,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{561,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enforce_unit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,194}</string>
                <key>spriteSourceSize</key>
                <string>{140,194}</string>
                <key>textureRect</key>
                <string>{{749,1},{140,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enforce_unit_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,160}</string>
                <key>spriteSourceSize</key>
                <string>{132,160}</string>
                <key>textureRect</key>
                <string>{{576,92},{132,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_enforce.png</string>
            <key>size</key>
            <string>{956,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a85144575a1fa47befe8049e18aa94e:3265125e97fd7ee0173c1db3bdd63eb5:d66a8d03fb0bb8ce4812747d0f59a590$</string>
            <key>textureFileName</key>
            <string>asset_tw_enforce.png</string>
        </dict>
    </dict>
</plist>
