<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tw_enemy_view_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,116}</string>
                <key>spriteSourceSize</key>
                <string>{594,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{594,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_button_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{597,119},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_button_boss_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{597,171},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_button_finished.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{174,50}</string>
                <key>textureRect</key>
                <string>{{774,119},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_button_finished_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{174,50}</string>
                <key>textureRect</key>
                <string>{{774,171},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_button_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{174,50}</string>
                <key>textureRect</key>
                <string>{{950,119},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_button_normal_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{174,50}</string>
                <key>textureRect</key>
                <string>{{950,171},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_finished.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,116}</string>
                <key>spriteSourceSize</key>
                <string>{594,116}</string>
                <key>textureRect</key>
                <string>{{1,119},{594,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_host.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,53}</string>
                <key>spriteSourceSize</key>
                <string>{110,53}</string>
                <key>textureRect</key>
                <string>{{1126,119},{110,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_view_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,9}</string>
                <key>spriteSourceSize</key>
                <string>{23,9}</string>
                <key>textureRect</key>
                <string>{{1220,1},{23,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_view_hp_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,11}</string>
                <key>spriteSourceSize</key>
                <string>{25,11}</string>
                <key>textureRect</key>
                <string>{{1193,1},{25,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemy_view_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,53}</string>
                <key>spriteSourceSize</key>
                <string>{110,53}</string>
                <key>textureRect</key>
                <string>{{1181,119},{110,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_enemy_view_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,116}</string>
                <key>spriteSourceSize</key>
                <string>{594,116}</string>
                <key>textureRect</key>
                <string>{{597,1},{594,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_enemy_view.png</string>
            <key>size</key>
            <string>{1235,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c996ea3225815537d63068e5eb0924b7:04642b3bef6a5e63e0c32500bb14dd46:e3e8b43d5d19d7c1c256decfe27942df$</string>
            <key>textureFileName</key>
            <string>asset_tw_enemy_view.png</string>
        </dict>
    </dict>
</plist>
