<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tw_accesser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,62}</string>
                <key>spriteSourceSize</key>
                <string>{165,62}</string>
                <key>textureRect</key>
                <string>{{608,1374},{165,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,142}</string>
                <key>spriteSourceSize</key>
                <string>{640,142}</string>
                <key>textureRect</key>
                <string>{{361,390},{640,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,283}</string>
                <key>spriteSourceSize</key>
                <string>{190,283}</string>
                <key>textureRect</key>
                <string>{{624,1},{190,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{1,1032},{415,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,84}</string>
                <key>spriteSourceSize</key>
                <string>{194,84}</string>
                <key>textureRect</key>
                <string>{{655,894},{194,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_change2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,84}</string>
                <key>spriteSourceSize</key>
                <string>{194,84}</string>
                <key>textureRect</key>
                <string>{{412,1374},{194,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_change_status.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{775,1374},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_dissolution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{138,1032},{415,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,283}</string>
                <key>spriteSourceSize</key>
                <string>{190,283}</string>
                <key>textureRect</key>
                <string>{{816,1},{190,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,283}</string>
                <key>spriteSourceSize</key>
                <string>{190,283}</string>
                <key>textureRect</key>
                <string>{{412,1182},{190,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,30}</string>
                <key>spriteSourceSize</key>
                <string>{70,30}</string>
                <key>textureRect</key>
                <string>{{505,998},{70,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_namechanger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{624,286},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_nonactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{851,894},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_save.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{275,1032},{415,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_under_unit_cutin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,181}</string>
                <key>spriteSourceSize</key>
                <string>{640,181}</string>
                <key>textureRect</key>
                <string>{{1,390},{640,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_window_ability.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,148}</string>
                <key>spriteSourceSize</key>
                <string>{606,148}</string>
                <key>textureRect</key>
                <string>{{505,390},{606,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_window_accessar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,148}</string>
                <key>spriteSourceSize</key>
                <string>{606,148}</string>
                <key>textureRect</key>
                <string>{{655,286},{606,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_window_c_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,148}</string>
                <key>spriteSourceSize</key>
                <string>{606,148}</string>
                <key>textureRect</key>
                <string>{{805,286},{606,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_window_corps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{621,387}</string>
                <key>spriteSourceSize</key>
                <string>{621,387}</string>
                <key>textureRect</key>
                <string>{{1,1},{621,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_window_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,175}</string>
                <key>spriteSourceSize</key>
                <string>{628,175}</string>
                <key>textureRect</key>
                <string>{{184,390},{628,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_main_top_window_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,148}</string>
                <key>spriteSourceSize</key>
                <string>{606,148}</string>
                <key>textureRect</key>
                <string>{{412,1032},{606,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_main_top_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,283}</string>
                <key>spriteSourceSize</key>
                <string>{190,283}</string>
                <key>textureRect</key>
                <string>{{697,1182},{190,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_union.png</string>
            <key>size</key>
            <string>{1019,1459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:678e138559451d0f5be24e14a97b092a:12c8ebfec9470a7fa82777e3dfe40259:2ce7fb9a86b433da6e586d26c1edd087$</string>
            <key>textureFileName</key>
            <string>asset_tw_union.png</string>
        </dict>
    </dict>
</plist>
