<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_tw_ex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{306,262},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_tw_foreground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,78}</string>
                <key>textureRect</key>
                <string>{{422,191},{89,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_tw_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,155}</string>
                <key>spriteSourceSize</key>
                <string>{259,155}</string>
                <key>textureRect</key>
                <string>{{265,1},{259,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_tw_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{244,262},{52,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_tw_usagi_anger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,116}</string>
                <key>spriteSourceSize</key>
                <string>{99,116}</string>
                <key>textureRect</key>
                <string>{{1,221},{99,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fukidasi_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,78}</string>
                <key>spriteSourceSize</key>
                <string>{188,78}</string>
                <key>textureRect</key>
                <string>{{422,1},{188,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_tw_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{262,218}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{262,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,80}</string>
                <key>spriteSourceSize</key>
                <string>{123,80}</string>
                <key>textureRect</key>
                <string>{{119,221},{123,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_bgi_total_war.png</string>
            <key>size</key>
            <string>{501,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ade50b5c77dd7dfb37489fc220a9843e:981ce1605e6675d6db6622607e4382fb:f86b5709861d79622dee29de05d61f44$</string>
            <key>textureFileName</key>
            <string>asset_bgi_total_war.png</string>
        </dict>
    </dict>
</plist>
