<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tit_status_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,61}</string>
                <key>spriteSourceSize</key>
                <string>{225,61}</string>
                <key>textureRect</key>
                <string>{{418,562},{225,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_organize_change_status.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,56}</string>
                <key>spriteSourceSize</key>
                <string>{73,56}</string>
                <key>textureRect</key>
                <string>{{548,625},{73,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_organize_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,105}</string>
                <key>spriteSourceSize</key>
                <string>{205,105}</string>
                <key>textureRect</key>
                <string>{{675,418},{205,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_organize_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{675,1},{415,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_organize_dismiss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,135}</string>
                <key>spriteSourceSize</key>
                <string>{415,135}</string>
                <key>textureRect</key>
                <string>{{1,562},{415,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_organize_save.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,61}</string>
                <key>spriteSourceSize</key>
                <string>{128,61}</string>
                <key>textureRect</key>
                <string>{{418,625},{128,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_organize_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,672}</string>
                <key>spriteSourceSize</key>
                <string>{559,672}</string>
                <key>textureRect</key>
                <string>{{1,1},{559,672}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_organize.png</string>
            <key>size</key>
            <string>{811,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a61488c55bf2ec2552b0ff2fba4260d2:1d2d1c1678e85ef838b7ce2d12048ea6:26f9007478a0bbfd3c6d88de3a0aed8d$</string>
            <key>textureFileName</key>
            <string>asset_tw_organize.png</string>
        </dict>
    </dict>
</plist>
