<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tw_btn_exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,94}</string>
                <key>textureRect</key>
                <string>{{1133,1},{96,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tw_btn_mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1157,99},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_customize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,158}</string>
                <key>spriteSourceSize</key>
                <string>{281,158}</string>
                <key>textureRect</key>
                <string>{{567,1},{281,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_customize_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,22}</string>
                <key>spriteSourceSize</key>
                <string>{9,22}</string>
                <key>textureRect</key>
                <string>{{1,230},{9,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_customize_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,158}</string>
                <key>spriteSourceSize</key>
                <string>{281,158}</string>
                <key>textureRect</key>
                <string>{{850,1},{281,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemies.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,159}</string>
                <key>spriteSourceSize</key>
                <string>{281,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_enemies_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,159}</string>
                <key>spriteSourceSize</key>
                <string>{281,159}</string>
                <key>textureRect</key>
                <string>{{284,1},{281,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_item_count.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,94}</string>
                <key>spriteSourceSize</key>
                <string>{408,94}</string>
                <key>textureRect</key>
                <string>{{747,161},{408,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,66}</string>
                <key>spriteSourceSize</key>
                <string>{371,66}</string>
                <key>textureRect</key>
                <string>{{1,162},{371,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tw_point_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,66}</string>
                <key>spriteSourceSize</key>
                <string>{371,66}</string>
                <key>textureRect</key>
                <string>{{374,162},{371,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_tw_main.png</string>
            <key>size</key>
            <string>{1251,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81d13dfba5e12dcf69fa2bfdd97001db:90b132585ffcae5f6a451f6dd7c13e94:97fed7edcea58e4bc476af16a64d146f$</string>
            <key>textureFileName</key>
            <string>asset_tw_main.png</string>
        </dict>
    </dict>
</plist>
