<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chatelin_efcutin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{1409,964}</string>
                <key>spriteSourceSize</key>
                <string>{1429,982}</string>
                <key>textureRect</key>
                <string>{{1,1},{1409,964}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_efcutinoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-9}</string>
                <key>spriteSize</key>
                <string>{1375,964}</string>
                <key>spriteSourceSize</key>
                <string>{1429,982}</string>
                <key>textureRect</key>
                <string>{{1,967},{1375,964}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,89}</string>
                <key>spriteSourceSize</key>
                <string>{202,89}</string>
                <key>textureRect</key>
                <string>{{1412,1},{202,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatelin_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{287,241}</string>
                <key>spriteSourceSize</key>
                <string>{321,285}</string>
                <key>textureRect</key>
                <string>{{1378,967},{287,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainskill_chatelin2.png</string>
            <key>size</key>
            <string>{1620,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4beb372340a18a5bfba720a5403e9672:08167991e5de67ea49f41a8c49b83a94:d9af359273735c1a455e3f49c1936165$</string>
            <key>textureFileName</key>
            <string>mainskill_chatelin2.png</string>
        </dict>
    </dict>
</plist>
