<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_eventlogbo_squar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{265,1},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{427,121},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square3Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{114,116}</string>
                <key>textureRect</key>
                <string>{{541,1},{114,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square3Frame_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{114,116}</string>
                <key>textureRect</key>
                <string>{{546,119},{114,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_square3w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{265,163},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_eventlogbo_squareframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{93,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_logbo_periodbare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{169,238},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logbo_calender_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,90}</string>
                <key>spriteSourceSize</key>
                <string>{227,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logbo_calender_base_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{169,173},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_eventlogbo_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{657,1},{110,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_eventlogbo_get02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{662,113},{110,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_eventlogbo_get03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{427,1},{118,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_eventlogbo_tapnext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,25}</string>
                <key>spriteSourceSize</key>
                <string>{166,25}</string>
                <key>textureRect</key>
                <string>{{1,230},{166,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eventlogbo.png</string>
            <key>size</key>
            <string>{767,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30c5d2ffc83ec5c0e5c0581215f1969e:6d494b1afb13ac57eb388a06e53f033d:afd71fcbe87f19843341aaf936930658$</string>
            <key>textureFileName</key>
            <string>eventlogbo.png</string>
        </dict>
    </dict>
</plist>
