<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ScoreAttackLock_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,46}</string>
                <key>textureRect</key>
                <string>{{171,513},{61,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ScoreAttack_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{105,621},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ScoreAttackbonuslist_point1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{171,561},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ScoreAttackbonuslist_point2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{185,227},{49,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Scorebonusbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,29}</string>
                <key>spriteSourceSize</key>
                <string>{124,29}</string>
                <key>textureRect</key>
                <string>{{199,1},{124,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Scorebonusbar_mark1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{51,29}</string>
                <key>textureRect</key>
                <string>{{199,127},{49,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Scorebonusbar_mark2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{47,29}</string>
                <key>spriteSourceSize</key>
                <string>{51,29}</string>
                <key>textureRect</key>
                <string>{{199,178},{47,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Scorebonusbar_mark3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,28}</string>
                <key>spriteSourceSize</key>
                <string>{51,28}</string>
                <key>textureRect</key>
                <string>{{105,728},{51,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bonuslist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,186}</string>
                <key>spriteSourceSize</key>
                <string>{196,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_grayScreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,151}</string>
                <key>spriteSourceSize</key>
                <string>{74,151}</string>
                <key>textureRect</key>
                <string>{{1,621},{74,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QuestBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{182,63}</string>
                <key>spriteSourceSize</key>
                <string>{198,69}</string>
                <key>textureRect</key>
                <string>{{1,189},{182,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ScoreAttack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{239,63}</string>
                <key>spriteSourceSize</key>
                <string>{259,69}</string>
                <key>textureRect</key>
                <string>{{171,272},{239,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_quest_ScoreAttack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,168}</string>
                <key>spriteSourceSize</key>
                <string>{365,168}</string>
                <key>textureRect</key>
                <string>{{1,254},{365,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_bonuslist_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,18}</string>
                <key>spriteSourceSize</key>
                <string>{67,18}</string>
                <key>textureRect</key>
                <string>{{212,621},{67,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_bonuslist_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,26}</string>
                <key>spriteSourceSize</key>
                <string>{139,26}</string>
                <key>textureRect</key>
                <string>{{77,621},{139,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ScoreAttackQuest.png</string>
            <key>size</key>
            <string>{235,773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041a1ea63126bcfe79f6e9c360c6ff30:8a2aa662f0dbb191147ed0d6ddab633b:96748c1b401d2ae709095d3f7d4296c0$</string>
            <key>textureFileName</key>
            <string>ScoreAttackQuest.png</string>
        </dict>
    </dict>
</plist>
