<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_WindowFrameProgress_Usagi_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,154}</string>
                <key>textureRect</key>
                <string>{{282,93},{129,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WindowFrameProgress_Usagi_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,154}</string>
                <key>textureRect</key>
                <string>{{1,304},{129,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WindowFrameProgress_Usagi_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,154}</string>
                <key>textureRect</key>
                <string>{{1,459},{129,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WindowFrameProgress_Usagi_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,154}</string>
                <key>textureRect</key>
                <string>{{131,497},{129,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mission_Separator_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,38}</string>
                <key>spriteSourceSize</key>
                <string>{245,38}</string>
                <key>textureRect</key>
                <string>{{1,265},{245,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mission_Separator_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{247,265},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mission_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{343,633},{31,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mission_home_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,131}</string>
                <key>spriteSourceSize</key>
                <string>{280,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mission_home_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,131}</string>
                <key>spriteSourceSize</key>
                <string>{280,131}</string>
                <key>textureRect</key>
                <string>{{1,133},{280,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_mission_home_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,75}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{371,398},{56,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mission_home_progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,7}</string>
                <key>spriteSourceSize</key>
                <string>{169,7}</string>
                <key>textureRect</key>
                <string>{{302,276},{169,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mission_kinds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{261,482},{153,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mission_progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,5}</string>
                <key>spriteSourceSize</key>
                <string>{66,5}</string>
                <key>textureRect</key>
                <string>{{364,557},{66,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mission_progressbar_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,7}</string>
                <key>spriteSourceSize</key>
                <string>{68,7}</string>
                <key>textureRect</key>
                <string>{{496,526},{68,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_mission_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{370,554},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mission_home_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{81,614},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mission_home_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{385,612},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tab_blue_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,60}</string>
                <key>textureRect</key>
                <string>{{310,248},{108,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tab_blue_off_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{310,357},{96,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tab_blue_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,91}</string>
                <key>spriteSourceSize</key>
                <string>{196,91}</string>
                <key>textureRect</key>
                <string>{{282,1},{196,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tab_blue_on_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,90}</string>
                <key>spriteSourceSize</key>
                <string>{182,90}</string>
                <key>textureRect</key>
                <string>{{412,93},{182,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tab_orange_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{371,337},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tab_orange_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,84}</string>
                <key>spriteSourceSize</key>
                <string>{177,84}</string>
                <key>textureRect</key>
                <string>{{217,304},{177,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tab_red_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,60}</string>
                <key>textureRect</key>
                <string>{{371,276},{108,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tab_red_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,85}</string>
                <key>spriteSourceSize</key>
                <string>{192,85}</string>
                <key>textureRect</key>
                <string>{{131,304},{192,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_missiontab_05_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{447,398},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_missiontab_Special.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{437,465},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_missiontab_Special_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{368,455},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,29}</string>
                <key>textureRect</key>
                <string>{{365,524},{64,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,26}</string>
                <key>textureRect</key>
                <string>{{468,337},{59,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mission_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{430,552},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,25}</string>
                <key>spriteSourceSize</key>
                <string>{65,25}</string>
                <key>textureRect</key>
                <string>{{302,454},{65,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{64,25}</string>
                <key>textureRect</key>
                <string>{{428,605},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,25}</string>
                <key>spriteSourceSize</key>
                <string>{65,25}</string>
                <key>textureRect</key>
                <string>{{430,526},{65,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,24}</string>
                <key>spriteSourceSize</key>
                <string>{83,24}</string>
                <key>textureRect</key>
                <string>{{339,557},{75,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mission_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,24}</string>
                <key>spriteSourceSize</key>
                <string>{79,24}</string>
                <key>textureRect</key>
                <string>{{479,1},{79,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mission_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,25}</string>
                <key>spriteSourceSize</key>
                <string>{61,25}</string>
                <key>textureRect</key>
                <string>{{426,631},{61,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,26}</string>
                <key>spriteSourceSize</key>
                <string>{81,26}</string>
                <key>textureRect</key>
                <string>{{261,636},{81,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{428,578},{64,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_mission_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,25}</string>
                <key>textureRect</key>
                <string>{{339,480},{76,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_mission_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,45}</string>
                <key>spriteSourceSize</key>
                <string>{83,45}</string>
                <key>textureRect</key>
                <string>{{1,614},{79,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_mission.png</string>
            <key>size</key>
            <string>{504,665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfcaebdf97875f3ea2ce5b32b3af340d:7a5e6806b555d13c95950ab797a107e3:66930d794231293c43dbe6764aa8fbd6$</string>
            <key>textureFileName</key>
            <string>atls_mission.png</string>
        </dict>
    </dict>
</plist>
