<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Progressbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{174,1},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WindowFrameProgress_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,145}</string>
                <key>spriteSourceSize</key>
                <string>{171,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WindowFrameProgress_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,145}</string>
                <key>spriteSourceSize</key>
                <string>{171,145}</string>
                <key>textureRect</key>
                <string>{{1,148},{171,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WindowFrameProgress_Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,145}</string>
                <key>spriteSourceSize</key>
                <string>{171,145}</string>
                <key>textureRect</key>
                <string>{{1,295},{171,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_WindowFrameProgress_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,145}</string>
                <key>spriteSourceSize</key>
                <string>{171,145}</string>
                <key>textureRect</key>
                <string>{{1,442},{171,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_progressbar_Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,13}</string>
                <key>spriteSourceSize</key>
                <string>{339,13}</string>
                <key>textureRect</key>
                <string>{{174,22},{339,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_progressbar_Rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,13}</string>
                <key>spriteSourceSize</key>
                <string>{339,13}</string>
                <key>textureRect</key>
                <string>{{189,22},{339,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_progress.png</string>
            <key>size</key>
            <string>{203,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab49adec4cea3427257c052bd47cfe5:240d669dc99f7eceb81c046ea14713db:d04c7e552cc4716a3488dd0281bc1fe9$</string>
            <key>textureFileName</key>
            <string>atls_progress.png</string>
        </dict>
    </dict>
</plist>
