<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Defrag_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,139}</string>
                <key>spriteSourceSize</key>
                <string>{316,139}</string>
                <key>textureRect</key>
                <string>{{680,303},{316,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_bonus_frame01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{819,857},{100,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_bonus_frame02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,129}</string>
                <key>spriteSourceSize</key>
                <string>{405,129}</string>
                <key>textureRect</key>
                <string>{{1,796},{405,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_bonus_item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,28}</string>
                <key>spriteSourceSize</key>
                <string>{363,28}</string>
                <key>textureRect</key>
                <string>{{552,604},{363,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_bonus_item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,27}</string>
                <key>spriteSourceSize</key>
                <string>{129,27}</string>
                <key>textureRect</key>
                <string>{{888,699},{129,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Defrag_item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-417,163.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{837,330}</string>
                <key>textureRect</key>
                <string>{{659,436},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,16}</string>
                <key>spriteSourceSize</key>
                <string>{351,16}</string>
                <key>textureRect</key>
                <string>{{552,634},{351,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{665,10}</string>
                <key>spriteSourceSize</key>
                <string>{665,10}</string>
                <key>textureRect</key>
                <string>{{1,994},{665,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,9}</string>
                <key>spriteSourceSize</key>
                <string>{571,9}</string>
                <key>textureRect</key>
                <string>{{1,1006},{567,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,51}</string>
                <key>spriteSourceSize</key>
                <string>{549,51}</string>
                <key>textureRect</key>
                <string>{{1,927},{549,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item06_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,45}</string>
                <key>spriteSourceSize</key>
                <string>{345,45}</string>
                <key>textureRect</key>
                <string>{{552,652},{345,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,25}</string>
                <key>spriteSourceSize</key>
                <string>{530,25}</string>
                <key>textureRect</key>
                <string>{{998,303},{530,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Defrag_item08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,176}</string>
                <key>spriteSourceSize</key>
                <string>{679,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{677,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,119}</string>
                <key>spriteSourceSize</key>
                <string>{147,121}</string>
                <key>textureRect</key>
                <string>{{552,857},{141,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,229}</string>
                <key>spriteSourceSize</key>
                <string>{255,229}</string>
                <key>textureRect</key>
                <string>{{449,179},{255,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Defrag_item11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,300}</string>
                <key>spriteSourceSize</key>
                <string>{343,300}</string>
                <key>textureRect</key>
                <string>{{680,1},{343,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,332}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1,179},{446,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,281}</string>
                <key>spriteSourceSize</key>
                <string>{291,301}</string>
                <key>textureRect</key>
                <string>{{1,513},{291,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,151}</string>
                <key>spriteSourceSize</key>
                <string>{173,153}</string>
                <key>textureRect</key>
                <string>{{294,513},{171,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Defrag_item16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,12}</string>
                <key>spriteSourceSize</key>
                <string>{668,12}</string>
                <key>textureRect</key>
                <string>{{1,980},{668,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,112}</string>
                <key>spriteSourceSize</key>
                <string>{419,112}</string>
                <key>textureRect</key>
                <string>{{552,490},{419,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,100}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{294,686},{119,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_Defrag_item19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,100}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{447,562},{119,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_Defrag_item21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,94}</string>
                <key>spriteSourceSize</key>
                <string>{101,94}</string>
                <key>textureRect</key>
                <string>{{449,466},{101,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_defrag_2Sort_item_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,44}</string>
                <key>spriteSourceSize</key>
                <string>{324,44}</string>
                <key>textureRect</key>
                <string>{{671,444},{324,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_defrag_2Sort_left_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,50}</string>
                <key>spriteSourceSize</key>
                <string>{334,50}</string>
                <key>textureRect</key>
                <string>{{552,699},{334,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_defrag_2Sort_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,50}</string>
                <key>spriteSourceSize</key>
                <string>{334,50}</string>
                <key>textureRect</key>
                <string>{{552,751},{334,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_defrag_2Sort_right_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,52}</string>
                <key>spriteSourceSize</key>
                <string>{334,52}</string>
                <key>textureRect</key>
                <string>{{552,803},{334,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_defrag_base_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,44}</string>
                <key>textureRect</key>
                <string>{{695,974},{49,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_Defrag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{122,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{695,857},{122,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_Defrag_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,27}</string>
                <key>spriteSourceSize</key>
                <string>{171,27}</string>
                <key>textureRect</key>
                <string>{{917,604},{171,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_defrag_2Sort_left_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,28}</string>
                <key>spriteSourceSize</key>
                <string>{169,28}</string>
                <key>textureRect</key>
                <string>{{946,604},{169,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_defrag_2Sort_right_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,28}</string>
                <key>spriteSourceSize</key>
                <string>{208,28}</string>
                <key>textureRect</key>
                <string>{{449,436},{208,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Defrag_operation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:468e1b32851393a469a6492c4527c680:1a29226359c1e64126a3acc20fb852a7:23fe228dc3de60b45c411b2b7238b6d7$</string>
            <key>textureFileName</key>
            <string>Defrag_operation.png</string>
        </dict>
    </dict>
</plist>
