<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_21xmas_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,711}</string>
                <key>spriteSourceSize</key>
                <string>{703,711}</string>
                <key>textureRect</key>
                <string>{{1,1},{703,711}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_21xmas_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,166}</string>
                <key>spriteSourceSize</key>
                <string>{167,166}</string>
                <key>textureRect</key>
                <string>{{464,909},{167,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_centerstar_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,193}</string>
                <key>spriteSourceSize</key>
                <string>{204,193}</string>
                <key>textureRect</key>
                <string>{{464,714},{204,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_21xmas_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1128},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_21xmas_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,461}</string>
                <key>spriteSourceSize</key>
                <string>{412,461}</string>
                <key>textureRect</key>
                <string>{{1,714},{412,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_cookieman_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{633,1035},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ornament1_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{633,909},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_present_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{464,1077},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_rousoku_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{633,973},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_santausagi_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{574,1158},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_shoes_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{293,1268},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snow_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{633,1097},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_snowman_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{574,1077},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_tree_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,108}</string>
                <key>spriteSourceSize</key>
                <string>{107,108}</string>
                <key>textureRect</key>
                <string>{{293,1128},{107,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_21xmas.png</string>
            <key>size</key>
            <string>{705,1419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca2fe0e04dcae3c4431ec3acab338bb4:1fd7d5541cf13fc2228b5d85c5659e0c:7775a7f62155f3f4f355857b5f323b12$</string>
            <key>textureFileName</key>
            <string>atls_21xmas.png</string>
        </dict>
    </dict>
</plist>
