<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_BlueFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{191,267},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BlueFrame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,111}</string>
                <key>spriteSourceSize</key>
                <string>{399,111}</string>
                <key>textureRect</key>
                <string>{{1,41},{399,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_BlueFrame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{75,39}</string>
                <key>textureRect</key>
                <string>{{121,343},{75,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_GreenFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{191,449},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_GreenFrame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,111}</string>
                <key>spriteSourceSize</key>
                <string>{399,111}</string>
                <key>textureRect</key>
                <string>{{1,154},{399,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PatyMemberCell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,100}</string>
                <key>spriteSourceSize</key>
                <string>{188,100}</string>
                <key>textureRect</key>
                <string>{{1,908},{188,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PatyMemberCell_Empty_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,139}</string>
                <key>spriteSourceSize</key>
                <string>{130,139}</string>
                <key>textureRect</key>
                <string>{{373,532},{130,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PatyMemberCell_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,104}</string>
                <key>spriteSourceSize</key>
                <string>{188,104}</string>
                <key>textureRect</key>
                <string>{{402,110},{188,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_PatyMemberCell_Select-icon_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{121,302},{39,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_PatyMemberCell_none_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,140}</string>
                <key>spriteSourceSize</key>
                <string>{131,140}</string>
                <key>textureRect</key>
                <string>{{373,390},{131,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PatyMemberCell_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,139}</string>
                <key>spriteSourceSize</key>
                <string>{130,139}</string>
                <key>textureRect</key>
                <string>{{191,631},{130,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_TeamSelectFooterStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{1,300},{606,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_TeamSelectFooterStage_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{31,300},{606,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_TeamSelectHeaderStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{61,300},{606,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_TeamSelectHeaderStage_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{91,300},{606,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_TeamSelectHeaderStage_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,38}</string>
                <key>spriteSourceSize</key>
                <string>{402,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{402,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_main-gimmick_off_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{405,1},{107,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_PartySlot_Select_v6.9.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,126}</string>
                <key>textureRect</key>
                <string>{{121,763},{130,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_RecommendedMember.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{133,44}</string>
                <key>spriteSourceSize</key>
                <string>{133,46}</string>
                <key>textureRect</key>
                <string>{{373,300},{133,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_party_swiching.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,42}</string>
                <key>spriteSourceSize</key>
                <string>{133,46}</string>
                <key>textureRect</key>
                <string>{{373,346},{133,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_PatyMemberCell_Select_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,33}</string>
                <key>spriteSourceSize</key>
                <string>{62,33}</string>
                <key>textureRect</key>
                <string>{{121,267},{62,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_PatyMemberCell_empty_v6_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,17}</string>
                <key>spriteSourceSize</key>
                <string>{60,17}</string>
                <key>textureRect</key>
                <string>{{1,267},{60,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_QuestPartyMemberItem.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe6bc07b8123f63ed0bec0ecfb3d6e45:b46e6296c6fe5237bb3384f09e44c605:85fc9902dd879d45863932c7132d486a$</string>
            <key>textureFileName</key>
            <string>atls_QuestPartyMemberItem.png</string>
        </dict>
    </dict>
</plist>
