<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_itemstore_nmub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,5}</string>
                <key>spriteSourceSize</key>
                <string>{98,5}</string>
                <key>textureRect</key>
                <string>{{113,229},{98,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_itemstore_tab0_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{1,163},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_itemstore_tab0_ghost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{113,163},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_itemstore_tab1_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,78}</string>
                <key>spriteSourceSize</key>
                <string>{121,78}</string>
                <key>textureRect</key>
                <string>{{1,83},{121,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_itemstore_tab1_ghost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,78}</string>
                <key>spriteSourceSize</key>
                <string>{121,78}</string>
                <key>textureRect</key>
                <string>{{124,83},{121,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_itemstore_tabub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,4}</string>
                <key>spriteSourceSize</key>
                <string>{10,4}</string>
                <key>textureRect</key>
                <string>{{1,230},{10,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_itemstore_tabubw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,40}</string>
                <key>spriteSourceSize</key>
                <string>{10,40}</string>
                <key>textureRect</key>
                <string>{{192,1},{10,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_WhatExchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,80}</string>
                <key>spriteSourceSize</key>
                <string>{189,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{246,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:333ae4c6d57c6ad59bcc845f45daa178:6ef7ae46133af16513cb57bf81550a86:ee0860f12ea04ba9ef83abc23bb8c439$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
