<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_2023nydragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1,297},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023nyhntk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{230,112},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023nykdmt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{265,297},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023nykgmmc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{177,297},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023nymctk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{439,317},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023nyny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{352,317},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_2023nyusagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{89,297},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleitem_2023nyfj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,227}</string>
                <key>spriteSourceSize</key>
                <string>{227,227}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleitem_2023nyusg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,97}</string>
                <key>spriteSourceSize</key>
                <string>{109,97}</string>
                <key>textureRect</key>
                <string>{{230,1},{109,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_kumo_2023ny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,65}</string>
                <key>textureRect</key>
                <string>{{1,230},{355,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_system_2023ny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,314}</string>
                <key>spriteSourceSize</key>
                <string>{99,314}</string>
                <key>textureRect</key>
                <string>{{358,1},{99,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_2023ny.png</string>
            <key>size</key>
            <string>{489,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a426978e817e57373611f0dcec5b0f8b:c41954cfdb2d48e1f32c8c54e290d007:0fa27a425b7fc226f12c7afeb9c84ebb$</string>
            <key>textureFileName</key>
            <string>system_2023ny.png</string>
        </dict>
    </dict>
</plist>
