<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ciecle_summer2022_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{385,1},{85,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_summer2022_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{298,1},{86,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_summer2022_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{385,88},{85,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_summer2022_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{344,175},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_summer2022_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,113}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{1,181},{96,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_summer2022_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,177}</string>
                <key>spriteSourceSize</key>
                <string>{178,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_summer2022_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,122}</string>
                <key>spriteSourceSize</key>
                <string>{119,122}</string>
                <key>textureRect</key>
                <string>{{223,132},{119,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_summer2022_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,129}</string>
                <key>spriteSourceSize</key>
                <string>{116,129}</string>
                <key>textureRect</key>
                <string>{{180,1},{116,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_summer2022_item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{116,181},{103,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_dgi_summer2022_ui_pic.png</string>
            <key>size</key>
            <string>{470,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24fb0a45ec91fdcc01be198d224255ef:47dd1db843c30ad463279abe39017d91:875c4be48000b14a056807c363ec704c$</string>
            <key>textureFileName</key>
            <string>atls_dgi_summer2022_ui_pic.png</string>
        </dict>
    </dict>
</plist>
