<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_booster_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{338,132},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_booster_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{270,132},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_booster_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,10}</string>
                <key>spriteSourceSize</key>
                <string>{61,10}</string>
                <key>textureRect</key>
                <string>{{404,162},{61,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_boosterup_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{414,117},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_damageRanking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,51}</string>
                <key>spriteSourceSize</key>
                <string>{114,51}</string>
                <key>textureRect</key>
                <string>{{415,1},{114,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_damageRanking_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,5}</string>
                <key>spriteSourceSize</key>
                <string>{98,5}</string>
                <key>textureRect</key>
                <string>{{407,37},{98,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_booster_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,73}</string>
                <key>textureRect</key>
                <string>{{195,88},{104,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_booster_using.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,93}</string>
                <key>spriteSourceSize</key>
                <string>{114,93}</string>
                <key>textureRect</key>
                <string>{{270,37},{114,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cooperation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,98}</string>
                <key>spriteSourceSize</key>
                <string>{117,98}</string>
                <key>textureRect</key>
                <string>{{1,92},{117,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cooperation_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{99,73}</string>
                <key>textureRect</key>
                <string>{{120,92},{99,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_DamageRanking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,30}</string>
                <key>spriteSourceSize</key>
                <string>{272,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_booster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,53}</string>
                <key>spriteSourceSize</key>
                <string>{115,57}</string>
                <key>textureRect</key>
                <string>{{178,33},{87,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_booster_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,57}</string>
                <key>spriteSourceSize</key>
                <string>{185,61}</string>
                <key>textureRect</key>
                <string>{{1,33},{175,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_cooperation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,34}</string>
                <key>spriteSourceSize</key>
                <string>{138,34}</string>
                <key>textureRect</key>
                <string>{{275,1},{138,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_damegeup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{70,22}</string>
                <key>textureRect</key>
                <string>{{338,172},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_datatipup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,21}</string>
                <key>spriteSourceSize</key>
                <string>{81,23}</string>
                <key>textureRect</key>
                <string>{{384,139},{77,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_pointup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,19}</string>
                <key>spriteSourceSize</key>
                <string>{81,23}</string>
                <key>textureRect</key>
                <string>{{386,37},{81,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_BattlePreparation2.png</string>
            <key>size</key>
            <string>{467,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83eba8ab2d71a10f60056ebc88f5fc6c:7e74c64d1a6c04f1b5a9287bfe025afa:0a7a7ba10da7d5f366c855e16d21c4c9$</string>
            <key>textureFileName</key>
            <string>raid_BattlePreparation2.png</string>
        </dict>
    </dict>
</plist>
