<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_BlueFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{609,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_GreenFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{791,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PatyMemberCell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,100}</string>
                <key>spriteSourceSize</key>
                <string>{188,100}</string>
                <key>textureRect</key>
                <string>{{191,121},{188,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_PatyMemberCell_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,104}</string>
                <key>spriteSourceSize</key>
                <string>{188,104}</string>
                <key>textureRect</key>
                <string>{{1,121},{188,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TeamSelectFooterStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{606,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TeamSelectFooterStage_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{1,31},{606,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TeamSelectHeaderStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{1,61},{606,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_TeamSelectHeaderStage_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,28}</string>
                <key>spriteSourceSize</key>
                <string>{606,28}</string>
                <key>textureRect</key>
                <string>{{1,91},{606,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atls_QuestPartyMemberItem.png</string>
            <key>size</key>
            <string>{972,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df413f9b817f26ea997e61ad23432278:caa3a12981b0f0e70fa2dbaf1b8a30dd:85fc9902dd879d45863932c7132d486a$</string>
            <key>textureFileName</key>
            <string>atls_QuestPartyMemberItem.png</string>
        </dict>
    </dict>
</plist>
