<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_date_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1,984},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_date_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1,1000},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,137}</string>
                <key>spriteSourceSize</key>
                <string>{768,137}</string>
                <key>textureRect</key>
                <string>{{1,214},{768,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,54}</string>
                <key>spriteSourceSize</key>
                <string>{768,54}</string>
                <key>textureRect</key>
                <string>{{140,214},{768,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_music_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,71}</string>
                <key>spriteSourceSize</key>
                <string>{466,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{466,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,60}</string>
                <key>spriteSourceSize</key>
                <string>{122,60}</string>
                <key>textureRect</key>
                <string>{{196,949},{122,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_favo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{469,41},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_favo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{469,1},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_list_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,75}</string>
                <key>spriteSourceSize</key>
                <string>{579,75}</string>
                <key>textureRect</key>
                <string>{{433,77},{579,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_list_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,75}</string>
                <key>spriteSourceSize</key>
                <string>{579,75}</string>
                <key>textureRect</key>
                <string>{{196,368},{579,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rep_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{197,75}</string>
                <key>spriteSourceSize</key>
                <string>{205,75}</string>
                <key>textureRect</key>
                <string>{{196,291},{197,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rep_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{199,75}</string>
                <key>spriteSourceSize</key>
                <string>{205,75}</string>
                <key>textureRect</key>
                <string>{{196,214},{199,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sort_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{430,68}</string>
                <key>spriteSourceSize</key>
                <string>{436,68}</string>
                <key>textureRect</key>
                <string>{{1,74},{430,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sort_favo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{430,68}</string>
                <key>spriteSourceSize</key>
                <string>{436,68}</string>
                <key>textureRect</key>
                <string>{{1,144},{430,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jukebox_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:446ed49ceb991494cec8e8f1bb755afe:0ccaa8c27aa7529ed78d724edb860e2c:10117e38fac4d8db8e1645a36321fddb$</string>
            <key>textureFileName</key>
            <string>jukebox_ui.png</string>
        </dict>
    </dict>
</plist>
