<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_Rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,73}</string>
                <key>spriteSourceSize</key>
                <string>{8,73}</string>
                <key>textureRect</key>
                <string>{{459,1},{8,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sp00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,218}</string>
                <key>spriteSourceSize</key>
                <string>{172,218}</string>
                <key>textureRect</key>
                <string>{{322,953},{172,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sp01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{230,229}</string>
                <key>textureRect</key>
                <string>{{273,1186},{230,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_sp02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,270}</string>
                <key>spriteSourceSize</key>
                <string>{268,270}</string>
                <key>textureRect</key>
                <string>{{1,1186},{268,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_sp03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,319}</string>
                <key>spriteSourceSize</key>
                <string>{318,319}</string>
                <key>textureRect</key>
                <string>{{1,866},{318,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_sp04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,416}</string>
                <key>spriteSourceSize</key>
                <string>{409,416}</string>
                <key>textureRect</key>
                <string>{{1,455},{409,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecle_sp05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,452}</string>
                <key>spriteSourceSize</key>
                <string>{456,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_sp01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{419,455},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_sp02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{419,542},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_sp03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{419,629},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_sp04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{409,890},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_sp05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{419,716},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_sp06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{419,803},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_p_sp07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{322,866},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DL_BG_SP.png</string>
            <key>size</key>
            <string>{505,1455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eac5d2a4fe3702f13395fac6b842fe7:3a67ebb90f11bc6a54086fd33198a973:49eb0a84a16ff69f6130db2c2761e2cd$</string>
            <key>textureFileName</key>
            <string>DL_BG_SP.png</string>
        </dict>
    </dict>
</plist>
