<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_quest_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,176}</string>
                <key>spriteSourceSize</key>
                <string>{280,176}</string>
                <key>textureRect</key>
                <string>{{385,299},{280,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_balloon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,193}</string>
                <key>spriteSourceSize</key>
                <string>{280,193}</string>
                <key>textureRect</key>
                <string>{{1,299},{280,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_line_p_balloon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{707,304},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_line_p_balloon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{596,227},{62,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_line_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{299,1},{296,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_line_p_dora.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,81}</string>
                <key>spriteSourceSize</key>
                <string>{109,81}</string>
                <key>textureRect</key>
                <string>{{812,44},{109,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_line_p_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{134,118}</string>
                <key>textureRect</key>
                <string>{{797,222},{134,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_quest_line_p_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{695,206},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_line_p_machine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{824,358},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,296}</string>
                <key>spriteSourceSize</key>
                <string>{296,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,93}</string>
                <key>textureRect</key>
                <string>{{812,127},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_net01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,132}</string>
                <key>spriteSourceSize</key>
                <string>{155,132}</string>
                <key>textureRect</key>
                <string>{{667,358},{155,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_net02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{824,418},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_quest_nationwide_p_usagi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,146}</string>
                <key>spriteSourceSize</key>
                <string>{160,146}</string>
                <key>textureRect</key>
                <string>{{664,44},{160,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_balloon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,38}</string>
                <key>spriteSourceSize</key>
                <string>{51,38}</string>
                <key>textureRect</key>
                <string>{{667,304},{51,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_balloon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{861,456},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_balloon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,37}</string>
                <key>spriteSourceSize</key>
                <string>{32,37}</string>
                <key>textureRect</key>
                <string>{{754,304},{32,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_balloon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{824,456},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_balloon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,38}</string>
                <key>spriteSourceSize</key>
                <string>{61,38}</string>
                <key>textureRect</key>
                <string>{{655,227},{61,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_balloon_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{224,66}</string>
                <key>spriteSourceSize</key>
                <string>{224,70}</string>
                <key>textureRect</key>
                <string>{{596,1},{224,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_quest_line_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,41}</string>
                <key>spriteSourceSize</key>
                <string>{243,59}</string>
                <key>textureRect</key>
                <string>{{667,1},{239,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_quest_nationwide_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{191,100}</string>
                <key>spriteSourceSize</key>
                <string>{223,112}</string>
                <key>textureRect</key>
                <string>{{283,299},{191,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_multitype.png</string>
            <key>size</key>
            <string>{922,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:226ab578b96ec93e6fb376aecdf23a34:985101783680c7b1ac72b3e0ca3fb249:1fa9c70eef2dc406c1b1b7eb1ce6767c$</string>
            <key>textureFileName</key>
            <string>quest_multitype.png</string>
        </dict>
    </dict>
</plist>
