<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_bosslevel_aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{315,441},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslevel_elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1,492},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslevel_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{128,521},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bosslevel_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1,607},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bossname_aqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{1,236},{155,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bossname_elec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{158,236},{155,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_bossname_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{1,364},{155,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_bossname_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,126}</string>
                <key>textureRect</key>
                <string>{{158,393},{155,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidboss_appearance_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{286,249},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidboss_appearance_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,14}</string>
                <key>spriteSourceSize</key>
                <string>{27,14}</string>
                <key>textureRect</key>
                <string>{{497,96},{27,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_raidboss_appearance_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,165}</string>
                <key>spriteSourceSize</key>
                <string>{300,165}</string>
                <key>textureRect</key>
                <string>{{1,69},{300,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_raidboss_appearance_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,93}</string>
                <key>textureRect</key>
                <string>{{401,1},{105,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raidbossappearance_multi_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{303,69},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raidbossappearance_solo_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{400,96},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_raidbossappearance_solo_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{303,159},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_raidboss_appearance1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,66}</string>
                <key>spriteSourceSize</key>
                <string>{398,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tit_raidboss_appearance2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{253,68}</string>
                <key>spriteSourceSize</key>
                <string>{267,68}</string>
                <key>textureRect</key>
                <string>{{400,186},{253,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_raidbossappearance_backPreparation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,33}</string>
                <key>spriteSourceSize</key>
                <string>{182,33}</string>
                <key>textureRect</key>
                <string>{{470,186},{182,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tit_raidbossappearance_solo_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,33}</string>
                <key>spriteSourceSize</key>
                <string>{156,33}</string>
                <key>textureRect</key>
                <string>{{470,370},{156,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raidboss_appearance.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92e5f1c8350a7830666376f304a51d7:748f67c9c5a9914bcad6a0bd16bd9710:bafbc3ca753f945f075a646a96c5f7d1$</string>
            <key>textureFileName</key>
            <string>raidboss_appearance.png</string>
        </dict>
    </dict>
</plist>
