<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_AutoFusionUI_dialog_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{125,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{1,67},{125,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_AutoFusionUI_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_AutoFusionUI_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{70,1},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AutoFusionUI.png</string>
            <key>size</key>
            <string>{148,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc4f91bfb0501ded082c5e60ca26ef5:71ac034a6ae417136b5946d2e27019de:8ee7f674aef08c2c447b976748e20791$</string>
            <key>textureFileName</key>
            <string>AutoFusionUI.png</string>
        </dict>
    </dict>
</plist>
