<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_blackground_Libra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{895,130},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_aquarius.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{895,258},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_aries.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{895,386},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_cancer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{900,821},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_capricorn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{900,929},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_gear00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1078},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_gear01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{644,649},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_gear02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,198}</string>
                <key>spriteSourceSize</key>
                <string>{198,198}</string>
                <key>textureRect</key>
                <string>{{644,449},{198,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_gear03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{844,514},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_gear04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{895,1},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_gearbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,641}</string>
                <key>spriteSourceSize</key>
                <string>{641,641}</string>
                <key>textureRect</key>
                <string>{{1,435},{641,641}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_gemini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{809,693},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_leo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{644,814},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_needle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,12}</string>
                <key>spriteSourceSize</key>
                <string>{200,12}</string>
                <key>textureRect</key>
                <string>{{644,435},{200,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_ophiuchus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{644,942},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_pisces.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{752,949},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_sagittarius.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{772,821},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_scorpio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{644,1050},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_systembg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,892}</string>
                <key>spriteSourceSize</key>
                <string>{432,892}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,892}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_blackground_taurus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{860,1037},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_blackground_virgo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{752,1057},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>system_blackground.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c22e135b2bce300ddadbe8cc5bc5321:32213352ae2f41a5cbd807734cf70f42:236662a07a62a904939e60e04eb47109$</string>
            <key>textureFileName</key>
            <string>system_blackground.png</string>
        </dict>
    </dict>
</plist>
