<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Senter_origami.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,136}</string>
                <key>spriteSourceSize</key>
                <string>{186,136}</string>
                <key>textureRect</key>
                <string>{{697,268},{186,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Senter_tooka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,135}</string>
                <key>spriteSourceSize</key>
                <string>{235,135}</string>
                <key>textureRect</key>
                <string>{{885,268},{235,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecleLB_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,447}</string>
                <key>spriteSourceSize</key>
                <string>{326,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{326,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleLB_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,377}</string>
                <key>spriteSourceSize</key>
                <string>{406,377}</string>
                <key>textureRect</key>
                <string>{{1,450},{406,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_ciecleLB_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,377}</string>
                <key>spriteSourceSize</key>
                <string>{366,377}</string>
                <key>textureRect</key>
                <string>{{329,1},{366,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleL_logofri_toka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,265}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{697,1},{265,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecleL_love.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{342,342}</string>
                <key>textureRect</key>
                <string>{{380,445},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_DAusagican.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{835,505},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_datenorigami.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{108,107}</string>
                <key>textureRect</key>
                <string>{{724,517},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_guruguruheart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{834,615},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_natsumi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{724,406},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_ratatosk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{724,626},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_ribon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{385,844},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_tenshiorigami.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{833,724},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_ciecle_yoshinon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{724,735},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef01J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,148}</string>
                <key>textureRect</key>
                <string>{{203,858},{180,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef02C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,152}</string>
                <key>textureRect</key>
                <string>{{1,858},{200,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{329,380},{63,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>191115_dal_home.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c859c6f8ff965cc86d8fdb2afb0501a:5a3ea125fcfb335839e021704325cd8e:2583bc1ba04fa00ee0f763ae6e3e1d82$</string>
            <key>textureFileName</key>
            <string>191115_dal_home.png</string>
        </dict>
    </dict>
</plist>
