<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgi_ComeYoureTurn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,56}</string>
                <key>spriteSourceSize</key>
                <string>{278,56}</string>
                <key>textureRect</key>
                <string>{{146,141},{278,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_FeverActivateStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,50}</string>
                <key>spriteSourceSize</key>
                <string>{620,50}</string>
                <key>textureRect</key>
                <string>{{204,141},{620,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_FeverGaugeStage_Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,48}</string>
                <key>spriteSourceSize</key>
                <string>{372,48}</string>
                <key>textureRect</key>
                <string>{{53,361},{372,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_FeverGaugeStage_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,18}</string>
                <key>spriteSourceSize</key>
                <string>{276,18}</string>
                <key>textureRect</key>
                <string>{{1,742},{276,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_FeverGaugeStage_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{103,419},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_FeverGaugeStage_Red02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{124,419},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgi_RestComeTurn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,42}</string>
                <key>spriteSourceSize</key>
                <string>{360,42}</string>
                <key>textureRect</key>
                <string>{{145,421},{360,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgi_TapCountStage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{154,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{146,72},{92,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChatOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,69}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{157,1},{94,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{1,130},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FeverRequest02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{1,188},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Fever_lockskill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,55}</string>
                <key>spriteSourceSize</key>
                <string>{141,55}</string>
                <key>textureRect</key>
                <string>{{1,304},{141,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_FirstTapOnly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,58}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{1,70},{143,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_GoBatsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{1,246},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_SingleMode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,50}</string>
                <key>spriteSourceSize</key>
                <string>{379,50}</string>
                <key>textureRect</key>
                <string>{{1,361},{379,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_TapCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{103,361},{27,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_TapCount_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{103,390},{27,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_footer.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beff9dea5e931f1ccc8b1c7c3a9261c9:672a8eb568c997f4e1169f29fa73f90b:5ef36e0775e2a0b93882cbef35aa00d8$</string>
            <key>textureFileName</key>
            <string>battle_footer.png</string>
        </dict>
    </dict>
</plist>
